<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-panel">
  <div class="field">
    <%= f.label :name, "Título" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="">
    <br>
    <%= f.check_box :active , class:"check_form" %>
    <%= f.label :active, "Ativa" %>
  </div>
  </div>
  <%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
<% end %>
