<%= form_for(@group_statistic) do |f| %>
<% if @group_statistic.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@group_statistic.errors.count, "error") %> prohibited this group_statistic from being saved:</h2>

  <ul>
    <% @group_statistic.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Informações Gerais</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :name, "Nome" %>
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :description , "Descrição"%>
              <%= f.text_area :description, class:"materialize-textarea" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Aparência</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <label for="description" class="active col s2">Ícone</label>
            <a class="waves-effect waves-light btn modal-trigger  light-blue" href="#modal_icon" id="show_icon">
            <% if @group_statistic.icon.present? %>
              <i class="fa <%= @group_statistic.icon  %>"></i> Alterar
            <% else %>              
              Selecionar Ícone
            <% end %>
            </a>
            <%= f.hidden_field :icon, id:"field_icon"  %>
          </div>
          <p>&nbsp;</p>
          <div class="row">
             <label for="description" class="active col s2">Cor</label>
             <div id="show_color">               
              <a class="waves-effect waves-light btn modal-trigger  <%= @group_statistic.color || 'blue'  %>" href="#modal_color">
                Alterar Cor
              </a>
             </div>
            <%= f.hidden_field :color, id:"field_color"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <%= f.submit "Salvar", class:"btn" %>
</div>
<% end %>
<%= render partial:'layouts/icons_modal', locals:{icons: @icons} %>
<%= render partial:'layouts/colors_modal'%>