<div class="row">
  <% @group_statistics.each do |group_statistic|  %>
  <div class="col s12 m4" style="height:270px; overflow:hidden">
    <%= link_to group_statistic do  %>      
    <div class="card-panel  <%= group_statistic.color || "blue"  %>">
      <div class="row">        
      <div class="s12 center">
        <i class="fa <%= group_statistic.icon  %> fa-4x white-text center"></i>
      </div>
      </div>
      <h5 class="white-text">
        <%= group_statistic.name  %>
      </h5>
      <span class="white-text">
        <%= truncate(group_statistic.description, length: 100)  %>
      </span>
    </div>
    <% end %>  
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col s12">
    <%= link_to "http://seplan.to.gov.br/estatistica/tocantins-em-numeros-2016/" do  %>      
    <div class="card-panel  cyan darken-4 center">
      <div class="row">        
        <div class="s12 center">
          <i class="fa fa-bar-chart fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Outras Estatísticas
      </h4>
      <span class="white-text">
        Tocantins em Números
      </span>
    </div>
    <% end %>  
  </div>
</div>