<div class="card <%= @group_statistic.color || "blue" %>">
	<div class="card-content white-text row">
		<div class="right">
			<i class="fa <%= @group_statistic.icon %> fa-5x"></i>
		</div>			
		<div class="col s10">
		<h4><%= @group_statistic.name %></h4>
		<div class="row">
			<div class="col s12">
				<%= @group_statistic.description %>
			</div>
		</div>  
		</div>      
	</div>
</div>
<div class="row">
  <% @group_statistic.statistics.each do |statistic|  %>
  <div class="col s12 m4" style="height:270px; overflow:hidden">
    <%= link_to statistic do  %>      
    <div class="card-panel  <%= statistic.color || "blue"  %>">
      <div class="row">        
      <div class="s12 center">
        <i class="fa <%= statistic.icon  %> fa-4x white-text center"></i>
      </div>
      </div>
      <h5 class="white-text">
        <%= statistic.name  %>
      </h5>
      <span class="white-text">
        <%= truncate(statistic.description, length: 100)  %>
      </span>
    </div>
    <% end %>  
  </div>
  <% end %>
</div>