<%= form_for(@committal_evolution) do |f| %>
  <% if @committal_evolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committal_evolution.errors.count, "error") %> prohibited this committal_evolution from being saved:</h2>

      <ul>
      <% @committal_evolution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committal_id %><br>
    <%= f.text_field :committal_id %>
  </div>
  <div class="field">
    <%= f.label :orcamento %><br>
    <%= f.text_field :orcamento %>
  </div>
  <div class="field">
    <%= f.label :empenhado %><br>
    <%= f.text_field :empenhado %>
  </div>
  <div class="field">
    <%= f.label :liquidado %><br>
    <%= f.text_field :liquidado %>
  </div>
  <div class="field">
    <%= f.label :executado_financeiro %><br>
    <%= f.text_field :executado_financeiro %>
  </div>
  <div class="field">
    <%= f.label :percentual_contratado %><br>
    <%= f.text_field :percentual_contratado %>
  </div>
  <div class="field">
    <%= f.label :executado_vs_contratado %><br>
    <%= f.text_field :executado_vs_contratado %>
  </div>
  <div class="field">
    <%= f.label :saldo %><br>
    <%= f.text_field :saldo %>
  </div>
  <div class="field">
    <%= f.label :executado_fisico %><br>
    <%= f.text_field :executado_fisico %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
