<p id="notice"><%= notice %></p>

<h1>Listing Committal Evolutions</h1>

<table>
  <thead>
    <tr>
      <th>Committal</th>
      <th>Orcamento</th>
      <th>Empenhado</th>
      <th>Liquidado</th>
      <th>Executado financeiro</th>
      <th>Percentual contratado</th>
      <th>Executado vs contratado</th>
      <th>Saldo</th>
      <th>Executado fisico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committal_evolutions.each do |committal_evolution| %>
      <tr>
        <td><%= committal_evolution.committal %></td>
        <td><%= committal_evolution.orcamento %></td>
        <td><%= committal_evolution.empenhado %></td>
        <td><%= committal_evolution.liquidado %></td>
        <td><%= committal_evolution.executado_financeiro %></td>
        <td><%= committal_evolution.percentual_contratado %></td>
        <td><%= committal_evolution.executado_vs_contratado %></td>
        <td><%= committal_evolution.saldo %></td>
        <td><%= committal_evolution.executado_fisico %></td>
        <td><%= link_to 'Show', committal_evolution %></td>
        <td><%= link_to 'Edit', edit_committal_evolution_path(committal_evolution) %></td>
        <td><%= link_to 'Destroy', committal_evolution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committal evolution', new_committal_evolution_path %>
