<p id="notice"><%= notice %></p>

<p>
  <strong>Committal:</strong>
  <%= @committal_evolution.committal %>
</p>

<p>
  <strong>Orcamento:</strong>
  <%= @committal_evolution.orcamento %>
</p>

<p>
  <strong>Empenhado:</strong>
  <%= @committal_evolution.empenhado %>
</p>

<p>
  <strong>Liquidado:</strong>
  <%= @committal_evolution.liquidado %>
</p>

<p>
  <strong>Executado financeiro:</strong>
  <%= @committal_evolution.executado_financeiro %>
</p>

<p>
  <strong>Percentual contratado:</strong>
  <%= @committal_evolution.percentual_contratado %>
</p>

<p>
  <strong>Executado vs contratado:</strong>
  <%= @committal_evolution.executado_vs_contratado %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @committal_evolution.saldo %>
</p>

<p>
  <strong>Executado fisico:</strong>
  <%= @committal_evolution.executado_fisico %>
</p>

<%= link_to 'Edit', edit_committal_evolution_path(@committal_evolution) %> |
<%= link_to 'Back', committal_evolutions_path %>
