<div class="card-panel center">
  <h4>Questionário Bimestral de Avaliação</h4>
</div>
<%= form_for(@reply) do |f| %>
<% if @reply.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

  <ul>
    <% @reply.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Indicador</span>
    <p><%= f.select :indicator_id, current_user.indicators.map{|i|[i.name, i.id] }, {}, {class:"browser-default", required:true} %></p>
  </div>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Período de Referência</span>
    <div class="row">
      <div class="col s6">
        <%= f.text_field :start_date, class:"datepicker", placeholder: "Data Inicial"%>
      </div>
      <div class="col s6">
        <%= f.text_field :finish_date, class:"datepicker", placeholder: "Data Final"%>
      </div>
    </div>  
  </div>
</div>
<%= f.fields_for :question_replies do |qr|  %>
  <div class="card">
    <div class="card-content">      
      <span class="card-title blue-text"><%= qr.object.question.name  %></span>
      <%= qr.hidden_field :question_id  %>
      <p class="grey-text"><%= qr.object.question.description  %></p>
      <p><%= qr.text_area :description  %></p>
    </div>
  </div>
<% end %>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Análise de Desempenho</span>
    <p class="grey-text">Faça uma análise do desempenho.</p>
    <p><%= f.text_area :sumary  %></p>
  </div>
</div>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Recomendações</span>
    <p class="grey-text">Descreva as recomendações.</p>
    <p><%= f.text_area :suggestion  %></p>
  </div>
</div>

 <%= button_tag "Enviar Questionário", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
<% end %>
