<table class="card">
  <thead>
    <tr>
      <th>Indicador</th>
      <th>Usuário</th>
      <th>Enviado em</th>
      <th>Data de Referência</th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= link_to reply.indicator.name , reply%></td>
        <td><%= reply.user.name %></td>
        <td><%= reply.created_at %></td>
        <td><%= reply.start_date %> a <%= reply.finish_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@replies)  %>