<div class="card-panel center">
  <h4>Questionário Bimestral de Avaliação</h4>
</div>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Indicador</span>
    <p><%= @reply.indicator.name %></p>
  </div>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Período de Referência</span>
    <div class="row">
      <div class="col s12">
        <%= @reply.start_date %> até <%= @reply.finish_date %>
      </div>
    </div>  
  </div>
</div>
<% @reply.question_replies.each do |qr|  %>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text"><%= qr.question.name  %></span>
    <p class="grey-text"><%= qr.question.description  %></p>
    <div class="card-panel"><%= qr.description  %></div>
  </div>
</div>
<% end %>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Análise de Desempenho</span>
    <p class="grey-text">Faça uma análise do desempenho.</p>
    <p class="card-panel"><%= @reply.sumary  %></p>
  </div>
</div>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Recomendações</span>
    <p class="grey-text">Descreva as recomendações.</p>
    <p class="card-panel"><%= @reply.suggestion  %></p>
  </div>
</div>

<% if current_user.seplan? or current_user.admin? %>
<%= nested_form_for(@reply) do |f| %>
<div class="card-panel">
  <div class="card">
    <div class="card-content">      
      <span class="card-title blue-text">Análise da Seplan</span>
      <p class="grey-text">Faça uma análise do desempenho.</p>
      <%= f.text_area :sumary_seplan, class:"card-panel"  %>
    </div>
  </div>
  <div class="card">
    <div class="card-content">      
      <span class="card-title blue-text">Recomendações da Seplan</span>
      <p class="grey-text">Descreva as recomendações.</p>
      <%= f.text_area :suggestion_seplan, class:"card-panel"  %>
    </div>
  </div>
  <% if @reply.indicator.pdris %>
    
  <div class="card">
    <div class="card-content">      
      <span class="card-title blue-text">Análise do PDRIS</span>
      <p class="grey-text">Descreva a Análise.</p>
      <%= f.text_area :pdris_sumary, class:"card-panel"  %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col s12">
    <h4 class="header">Análise da Entrega</h4>
      <ul id="deeds-collection" class="collection" style="overflow: visible">
        <li class="collection-item avatar">
          <i class="mdi-file-folder circle light-blue"></i>
          <span class="collection-header">Entregas</span>
          <p>Apenas se necessária análise específica para a entrega</p>
        </li>
        <%= f.fields_for :reply_committals do |reply|   %>
        <li class="collection-item">
          <div class="row card-panel" style="overflow: visible">
            <div class="col s11">
              <label>Entrega</label>
              <%= reply.select :committal_id, @committals, {}, {class:"browser-default"}  %>
              <%= reply.text_area :text, class:"card-panel"  %>
            </div>
            <div class="col s1">
              <%= reply.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
              <i class="mdi-content-content-cut"></i>
              <% end %>
            </div>      
          </div>
        </li>
        <% end %>
      </ul>
      <%= f.link_to_add "Nova Análise de Entrega", :reply_committals, "data-target" => "#deeds-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
    </div>
  </div>
</div>
<%= button_tag "Salvar Análise", type:"submit", class:"btn waves-effect waves-light  darken-2" %>
<% end %>
<% end %>