<%= form_for(@import_file) do |f| %>
  <% if @import_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import_file.errors.count, "error") %> prohibited this import_file from being saved:</h2>

      <ul>
      <% @import_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-panel">    
    <div class="field">
      <%= f.label :file, "Arquivo" %><br>
      <%= f.file_field :file %>
    </div>
    <div class="field">
      <%= f.label :category, "Tipo" %><br>
      <%= f.select :category, ImportFile.category.options %>
    </div>
    <div class="actions">
      <%= f.submit "Salvar", class:"btn" %>
    </div>
  </div>
<% end %>
