<p id="notice"><%= notice %></p>

<h1>Listing Import Files</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_files.each do |import_file| %>
      <tr>
        <td><%= import_file.file %></td>
        <td><%= import_file.category %></td>
        <td><%= link_to 'Show', import_file %></td>
        <td><%= link_to 'Edit', edit_import_file_path(import_file) %></td>
        <td><%= link_to 'Destroy', import_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import file', new_import_file_path %>
