<%= form_for(@twitter_count) do |f| %>
  <% if @twitter_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twitter_count.errors.count, "error") %> prohibited this twitter_count from being saved:</h2>

      <ul>
      <% @twitter_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twitter_poll_id %><br>
    <%= f.text_field :twitter_poll_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :good %><br>
    <%= f.check_box :good %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
