<p id="notice"><%= notice %></p>

<h1>Listing Twitter Counts</h1>

<table>
  <thead>
    <tr>
      <th>Twitter poll</th>
      <th>Text</th>
      <th>Value</th>
      <th>Group name</th>
      <th>Good</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_counts.each do |twitter_count| %>
      <tr>
        <td><%= twitter_count.twitter_poll %></td>
        <td><%= twitter_count.text %></td>
        <td><%= twitter_count.value %></td>
        <td><%= twitter_count.group_name %></td>
        <td><%= twitter_count.good %></td>
        <td><%= link_to 'Show', twitter_count %></td>
        <td><%= link_to 'Edit', edit_twitter_count_path(twitter_count) %></td>
        <td><%= link_to 'Destroy', twitter_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter count', new_twitter_count_path %>
