<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter poll:</strong>
  <%= @twitter_count.twitter_poll %>
</p>

<p>
  <strong>Text:</strong>
  <%= @twitter_count.text %>
</p>

<p>
  <strong>Value:</strong>
  <%= @twitter_count.value %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @twitter_count.group_name %>
</p>

<p>
  <strong>Good:</strong>
  <%= @twitter_count.good %>
</p>

<%= link_to 'Edit', edit_twitter_count_path(@twitter_count) %> |
<%= link_to 'Back', twitter_counts_path %>
