<p id="notice"><%= notice %></p>

<h1>Listing Decisions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rae</th>
      <th>Description</th>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= decision.user %></td>
        <td><%= decision.rae %></td>
        <td><%= decision.description %></td>
        <td><%= decision.status %></td>
        <td><%= decision.date %></td>
        <td><%= link_to 'Show', decision %></td>
        <td><%= link_to 'Edit', edit_decision_path(decision) %></td>
        <td><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decision', new_decision_path %>
