<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @decision.user %>
</p>

<p>
  <strong>Rae:</strong>
  <%= @decision.rae %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decision.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @decision.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @decision.date %>
</p>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
