<div class="card cyan">
<div class="header-search-wrapper cyan ">
  <%= form_tag(pdris_path, method: :get) do %>
  <i class="mdi-action-search"></i>
	  <%= fields_for :q do |f| %>
	  	<%= f.text_field :descricao_objeto_or_tipo_objeto_cont, placeholder: "Pesquise um projeto", class:"header-search-input z-depth-2"  %>
	  <% end %>
  <% end %>
</div>
</div>
<% toggle_row = true %>
<% @projects.each do |project|  %>
<% if toggle_row %>	
	<div class="row">
<% end %>
<div class="col s12 m6">
	<%= link_to pdris_item_path(project) do %>
	<div id="profile-card" class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="" src="/materialize/images/user-bg.jpg" alt="user bg">
		</div>
		<div class="card-content black-text">
			<span class="card-title  grey-text text-darken-4"><%= project.descricao_objeto  %></span>
			<p><i class="mdi-action-autorenew"></i> 
				Status: <%= project.nome_situacao  %>
			</p>
			<p><i class="mdi-editor-insert-invitation"></i> 
				Previsão de Início: <%= project.dt_inicio  %>
			</p>
			<p><i class="mdi-editor-insert-invitation"></i> 
				Previsão de Entrega: <%= project.dt_fim  %>
			</p>
		</div>
		<div class="card-reveal" style="display: none; transform: translateY(0px);">
		</div>
	</div>
	<% end %>
</div>
<% if !toggle_row %>	
	</div>
<% end %>
<% toggle_row = !toggle_row  %>
<% end %>
<% if !toggle_row %>	
	</div>
<% end %>


<%= paginate(@projects) %>