<div id="profile-page-header" class="card">
  <div class="card-image waves-effect waves-block waves-light blue darken-4" style="height:auto; padding:20px">
   <h4 class="white-text"><%= @project.descricao_objeto  %></h4>      
 </div>
 <figure class="card-profile-image">
 </figure>
 <figure class="card-profile-image" style ="width: 80%; top: 10px;text-align: center;left: 10%">
 </figure>
 <div class="card-content">
  <div class="row">                    
    <div class="col s12 m12 l4 center-align">
      <h4 class="card-title grey-text text-darken-4"><%= number_to_currency(@project.vlr_total_contratado)  %></h4>
      <p class="medium-small grey-text">Contrado</p>                        
    </div>
    <div class="col s12 m12 l4 center-align">
      <h4 class="card-title grey-text text-darken-4"><%= number_to_currency(@project.vlr_total_medido)  %></h4>
      <p class="medium-small grey-text">Liquidado</p>                        
    </div>                    
    <div class="col s12 m12 l4 center-align">
      <h4 class="card-title grey-text text-darken-4"><%= number_to_currency(@project.vlr_total_pago_reajuste) %></h4>
      <p class="medium-small grey-text">Pago</p>                        
    </div>                    
  </div>
</div>
</div>
<div class="row">
  <div class="col s12 m4">
    <ul id="profile-page-about-details" class="collection z-depth-1">
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Status</div>
          <div class="col s7 grey-text text-darken-4 right-align"><%= @project.nome_situacao || "Em Andamento"  %></div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Inicio:</div>
          <div class="col s7 grey-text text-darken-4 right-align"><%= @project.dt_inicio  %></div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Entrega:</div>
          <div class="col s7 grey-text text-darken-4 right-align"><%= @project.dt_fim  %></div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Execução:</div>
          <div class="col s7 grey-text text-darken-4 right-align"><%= @project.executado  %>%</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 m8">
    <% @project.pdris_histories.group_by(&:nome_subobjeto).each do |sub, histories|  %>
    <ul id="issues-collection" class="collection">
      <li class="collection-item ">
        <h4 class="collection-header"><%= sub  %></h4>
      </li>
      <% histories.each do |history|  %>
      <li class="collection-item">
        <div class="row">
          <div class="col s5">
            <p class="collections-title"><strong><%= history.nome_item  %></strong></p>
            <p class="collections-content"><%= history.nome_complemento  %></p>
          </div>
          <div class="col s4">
          <br>
            <span class="task-cat blue accent-2" style="font-size: 1.3rem;"><%= history.executado  %>% Executado</span>
          </div>
          <div class="col s3">
            <div class="progress" style="height: 50px;">
             <div class="determinate" style="width: <%= history.executado  %>%"></div>   
           </div>                                                
         </div>
       </div>
     </li>
     <% end %>

   </ul>
   <% end %>
 </div>


</div>

