<%= form_for(@question_reply) do |f| %>
  <% if @question_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_reply.errors.count, "error") %> prohibited this question_reply from being saved:</h2>

      <ul>
      <% @question_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :reply_id %><br>
    <%= f.text_field :reply_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
