<p id="notice"><%= notice %></p>

<h1>Listing Question Replies</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Reply</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_replies.each do |question_reply| %>
      <tr>
        <td><%= question_reply.question %></td>
        <td><%= question_reply.reply %></td>
        <td><%= question_reply.description %></td>
        <td><%= link_to 'Show', question_reply %></td>
        <td><%= link_to 'Edit', edit_question_reply_path(question_reply) %></td>
        <td><%= link_to 'Destroy', question_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question reply', new_question_reply_path %>
