<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_reply.question %>
</p>

<p>
  <strong>Reply:</strong>
  <%= @question_reply.reply %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question_reply.description %>
</p>

<%= link_to 'Edit', edit_question_reply_path(@question_reply) %> |
<%= link_to 'Back', question_replies_path %>
