<%= nested_form_for(@statistic) do |f| %>
<% if @statistic.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@statistic.errors.count, "error") %> prohibited this statistic from being saved:</h2>

  <ul>
    <% @statistic.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Grupo</span>
    <p>
      <%= f.select :group_statistic_id, GroupStatistic.all.map{|i|[i.name, i.id] }, {include_blank:true}, {class:"browser-default"} %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Informações Gerais</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :name, "Nome" %>
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :description , "Descrição"%>
              <%= f.text_area :description, class:"materialize-textarea" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Aparência</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :measure, "Unidade de Medida" %>
              <%= f.text_field :measure %>
            </div>
          </div>
          <div class="row">
            <label for="description" class="active col s2">Ícone</label>
            <a class="waves-effect waves-light btn modal-trigger  light-blue" href="#modal_icon" id="show_icon">
              <% if @statistic.icon.present? %>
              <i class="fa <%= @statistic.icon  %>"></i> Alterar
              <% else %>              
              Selecionar Ícone
              <% end %>
            </a>
            <%= f.hidden_field :icon, id:"field_icon"  %>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <label for="description" class="active col s2">Cor</label>
            <div id="show_color">               
              <a class="waves-effect waves-light btn modal-trigger  <%= @statistic.color || 'blue'  %>" href="#modal_color">
                Alterar Cor
              </a>
            </div>
            <%= f.hidden_field :color, id:"field_color"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-panel">
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :analize , "Análise Rápida"%>
      <%= f.text_area :analize, class:"materialize-textarea" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h4 class="header">Resultados</h4>
    <ul id="projects-collection" class="collection">
      <li class="collection-item avatar">
        <i class="mdi-social-poll circle light-blue"></i>
        <span class="collection-header">Histórico</span>
        <p>Informe o histórico desse índice ou estatística.</p>
      </li>
      <%= f.fields_for :statistic_histories do |build|   %>
      <li class="collection-item">
        <div class="row card">
          <div class="col s3">
            <label>Data de Apuração</label>
            <%= build.date_field :date %>
          </div>
          <div class="col s3">
            <label>Valor Apurado</label>
            <%= build.text_field :value %>
          </div>
          <div class="col s3">
            <%= build.label :caret, "Análise" %>
            <%= build.select :caret, StatisticHistory.caret.options, {}, {class:"browser-default"} %>
          </div>
          <div class="col s3">
            <%= build.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
            <i class="mdi-content-content-cut"></i>
            <% end %>
          </div>  
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="actions">
  <%= f.link_to_add "Novo Histórico", :statistic_histories, "data-target" => "#projects-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
  <%= f.submit "Salvar", class:"btn" %>
</div>


<%= render partial:'layouts/icons_modal', locals:{icons: @icons} %>
<%= render partial:'layouts/colors_modal'%>
<% end %>
