<p id="notice"><%= notice %></p>

<h1>Listing Statistics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Analize</th>
      <th>Group statistcs</th>
      <th>Measure</th>
      <th>Color</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.name %></td>
        <td><%= statistic.description %></td>
        <td><%= statistic.analize %></td>
        <td><%= statistic.group_statistcs %></td>
        <td><%= statistic.measure %></td>
        <td><%= statistic.color %></td>
        <td><%= statistic.icon %></td>
        <td><%= link_to 'Show', statistic %></td>
        <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>
