<div class="card <%= @statistic.color || "blue" %>">
  <div class="card-content white-text row">
    <div class="right">
      <i class="fa <%= @statistic.icon %> fa-5x"></i>
    </div>      
    <div class="col s10">
      <h4><%= @statistic.name %></h4>
      <div class="row">
        <div class="col s12">
          <%= @statistic.description %>
        </div>
      </div>  
    </div>      
  </div>
</div>


<div class="row">
  <div class="col m8 s12">
    <div class="card">
      <div class="card-content ">      
        <h5>Análise Rápida</h5>
        <div class="row">
          <div class="col s12">
            <%= @statistic.analize %>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <% if @statistic.last_data.blank? %>

      <div class="card-content  green white-text">
        <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Registro Atual</p>
        <h4 class="card-stats-number">Sem Registro</h4>
      </div>
      <div class="card-action  green darken-2 white-text">
        Referente à <%= DateTime.now.to_date  %>
      </div>
      <% else %>
      <div class="card-content  green white-text">
        <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Último registro</p>
        <h4 class="card-stats-number"><%= @statistic.last_data.value %> <%= @statistic.measure  %></h4>
      </div>
      <div class="card-action  green darken-2 white-text">
        Referente à <%= @statistic.last_data.date  %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col s12">
    <div class="card">    
      <div class="card-content">
        <h5>Evolução</h5>
        <div id="curve_chart" style="width: 100%; height: 323px"></div>
      </div>
    </div>
  </div>
</div>


<%= content_for :head do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Data', 'Resultado'],
          <% @statistic.statistic_histories.order(date: :asc).each do |history| %>
          ['<%= history.date %>',  <%= history.value %>],
          <% end %>
        ]);

        var options = {
          curveType: 'function',
          lineWidth: 5,
          pointSize: 8
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
<% end %>