
@media only screen and (min-width: 993px) {
  .nav-publico{
		top:150px !important;
	}

	#main {
		padding-top: 150px !important;
	}

	.bar-iframe{
		height:150px !important;
	}
	 ul.side-nav.leftside-navigation {
	    top: 214px !important;
	}
}
.chosen-single{
   background: none !important;
   background-color: rgba(255, 255, 255, 0.9) !important;
   width: 100% !important;
   padding: 5px !important;
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
   height: 3rem !important;
   font-size: 14px !important;
 }
 .chosen-drop{
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
 }
 .chosen-search{
   width: 95%
 }