<%= nested_form_for(@rae) do |f| %>
<% if @rae.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@rae.errors.count, "error") %> prohibited this rae from being saved:</h2>

  <ul>
    <% @rae.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-panel">
  <div class="input-field">    
    <%= f.text_field :date, class:"datepicker" %>
    <%= f.label :date, "Data da Reunião"  %>
  </div>
  <div class="file-field input-field">
    <input class="file-path validate" type="text" style="margin-left: 230px;width: calc(100% - 230px);"/>
    <div class="btn">
      <span><i class="mdi-editor-attach-file"></i> Ata da Reunião</span>
      <%= f.file_field :ata %>
    </div>
  </div>        
</div>
<div class="card-panel cyan">
  <h4 class="white-text">Decisões</h4>
  <div id="decisions">
    <%= f.fields_for :decisions do |d| %>
      <div class="card-panel">
      <%= d.link_to_remove do   %>
        <i class="mdi-navigation-close right"></i>
      <% end %>
        <div class="input-field">    
          <%= d.text_area :description, class:"materialize-textarea" %>
          <%= d.label :description, "Decisão"  %>
        </div>
        <div class="row">
          <div class="col s12 m6">            
            <%= d.label :user_id, "Responsável pela Execução" %>
            <%= d.select :user_id,User.all.map { |u| [u.name,u.id]  }, {}, {class:"browser-default"} %>
          </div>
          <div class="col s12 m6">
            <%= d.label :date, "Prazo para Execução"  %>
            <%= d.date_field :date, class:"datepicker" %>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
</div>

<%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
    <%= f.link_to_add "Nova Decisão", :decisions, "data-target" => "#decisions", class:"btn waves-effect waves-light  cyan darken-2" %>
<% end %>
