<%= search_form_for @q do |f| %>
<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Período de Referência</span>
    <div class="row">
      <div class="col s6">
        <%= f.text_field :date_lteq, class:"datepicker", placeholder: "Data Inicial"%>
      </div>
      <div class="col s6">
        <%= f.text_field :date_gteq, class:"datepicker", placeholder: "Data Final"%>
      </div>
    </div>  
  </div>
</div>
<% end %>
<table class="card striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Ata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raes.each do |rae| %>
      <tr>
        <td><%= rae.date %></td>
        <td><%= rae.ata %></td>
        <td><%= link_to 'Show', rae %></td>
        <td><%= link_to 'Edit', edit_rae_path(rae) %></td>
        <td><%= link_to 'Destroy', rae, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
