<div class="row">
	<div class="col s8">		
		<div class="card-panel center">
			<h4>RAE Nº <%= @rae.id  %></h4>
		</div>
	</div>
	<div class="col s4">		
		<div class="card-panel center amber darken-4 white-text">
			<h4><%= @rae.date  %></h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<div id="profile-card" class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="/materialize/images/user-bg.jpg" alt="user bg">
			</div>
			<div class="card-content">
				<img src="<%= @rae_user[:photo] %>" alt="" class="circle responsive-img activator card-profile-image">
				<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
					<i class="mdi-content-add"></i>
				</a>

				<span class="card-title activator grey-text text-darken-4">Cadastrado por:</span>
				<p><i class="mdi-action-perm-identity"></i> 
					<%= @rae_user[:secad][:nome].split(' ')[0]  %> <%= @rae_user[:secad][:nome].split(' ')[1]  %>
				</p>
				<p><i class="mdi-action-assignment-ind"></i> <%= @rae_user[:secad][:funcao]  %></p>
				<p><i class="mdi-action-perm-phone-msg"></i> <%= @rae_user[:secad][:telefone]  %></p>

			</div>
			<div class="card-reveal" style="display: none; transform: translateY(0px);">
				<p>
					<span class="card-title grey-text text-darken-4"><%= @rae_user[:secad][:name]  %> <i class="mdi-navigation-close right"></i></span>
					<span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= @rae_user[:secad][:funcao] || @rae_user[:secad][:cargo] %></span>
				</p>

				<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= @rae_user[:secad][:telefone]  %></p>
				<p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= @rae_user[:secad][:email]  %></p>
				<p><%= @rae_user[:secad][:orgao]  %></p>
			</div>
		</div>
		<div class="card-panel blue white-text">
			<p>
				<strong>Inserido em:</strong> <%= @rae.created_at %>
				<strong>Atualizado em:</strong> <%= @rae.updated_at %>
				<strong>Tamanho do Arquivo:</strong> <%= @rae.ata.size %> Kb
			</p>
		</div>
	</div>
	<div class="col s12 m8">		
		<div class="card-panel">

			<object width="100%" height="20" data="<%= @rae.ata.url  %>" id="pdf_embed"></object>
			<%= link_to @rae.ata.url, target: :_blank, class:"btn-floating  btn-move-up waves-effect waves-light darken-2 right cyan" do   %>
			<i class="mdi-action-settings-overscan"></i>
			<% end %>
		</div>	
	</div>
</div>

<div class="card-panel cyan">
	<h4 class="white-text">Decisões</h4>
	<% @rae.decisions.each do |decision|  %>
	<div class="card-panel">
		<p>
			<%= decision.description  %>
		</p>
		<p>
			<strong>Responsável:</strong> <%= decision.user.name  %><br>
			<strong>Realizar até:</strong> <%= decision.date  %>
			<h5>Acompanhamentos:</h5>
			<table class="striped">				
				<thead>
					<tr>
						<th>Nome</th>
						<th>Responsável</th>
						<th>Resultado</th>
					</tr>
				</thead>
				<tbody>
					<% decision.projects.each do |project|  %>
					<tr>
						<td><%= link_to project.name, project %></td>
						<td><%= project.user.name  %></td>
						<td class="row">
							<div class="col s4 row">
								<%= raw div_desempenho("Pontualidade", project.indice_pontualidade)[:html]  %>
							</div>
							<div class="col s4 row">
								<%= raw div_desempenho("Atualização", project.indice_atualizacao)[:html]  %>
							</div>
							<div class="col s4 row">
								<%= raw div_desempenho("Execução", project.indice_execucao)[:html] %>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="btn" onclick="open_modal_acompanhamento('<%= create_project_decision_path(decision)  %>')">
				Criar Acompanhamento
			</div>
		</p>
	</div>
	<% end %>
</div>

<div id="modal5" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Criar Acompanhamento</h4>
		<%= form_tag("/", id:"form_acompanhamento", method: :get) do  %>
		<div class="input-field">
			<%= text_field :text, nil %>
			<%= label :text, "Nome da Tarefa" %>
		</div>
		<%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
		<% end %>
	</div>
</div>


<%= content_for :scripts do %>
<script type="text/javascript">
	var cw = $('#pdf_embed').width();
	$('#pdf_embed').css({'height':cw+'px'});

	function open_modal_acompanhamento (url) {
		$('#form_acompanhamento').attr('action', url);
		$("#modal5").openModal();
	}
</script>
<% end %>