<%= form_for(year_history) do |f| %>
  <% if year_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(year_history.errors.count, "error") %> prohibited this year_history from being saved:</h2>

      <ul>
      <% year_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Título" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date, "Quando" %><br>
    <%= f.text_field :date, class:"datepicker" %>
  </div>
  <div class="field">
    <%= f.hidden_field :indicator_id, value: indicator.id %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn green" %>
  </div>
<% end %>
