<div class="btn teal right" onclick="toogle_div('.all_s')"> Exibir/Esconder Tudo</div>
<% @year_histories.each do |date, histories| %>
    <div class="card-panel">
      <h4 class="header2 blue-text" onclick="toogle_div('#<%= date.month %><%= date.year %>')">
        <%= date.month %>/ <%= date.year %>
      </h4>
      <div id="<%= date.month %><%= date.year %>" class="not-show all_s">
        <% histories.each do |history| %>
            <div class="card-panel">
              <h4 class="header2">
                <%= link_to history.name, history %>
              </h4>
              <p><%= history.description %></p>
            </div>
        <% end %>
      </div>

    </div>
<% end %>

<div class="card-panel">
  <h4 class="header2">Novo Histórico</h4>
  <%= render partial:"year_histories/form", locals:{indicator:@indicator, year_history: YearHistory.new} if @indicator.user == current_user%>
</div>

