<p id="notice"><%= notice %></p>
<div class="card-panel">
  <p>
    <strong>Título:</strong>
    <%= @year_history.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @year_history.description %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= @year_history.date %>
  </p>

  <p>
    <strong>Indicador:</strong>
    <%= @year_history.indicator %>
  </p>
  <p>
    <strong>Servidor:</strong>
    <%= @year_history.user.name %>
  </p>
</div>
