<%= form_for(@committal) do |f| %>
  <% if @committal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committal.errors.count, "error") %> prohibited this committal from being saved:</h2>

      <ul>
      <% @committal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
