<p id="notice"><%= notice %></p>

<h1>Listing Committals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committals.each do |committal| %>
      <tr>
        <td><%= committal.name %></td>
        <td><%= committal.description %></td>
        <td><%= link_to 'Show', committal %></td>
        <td><%= link_to 'Edit', edit_committal_path(committal) %></td>
        <td><%= link_to 'Destroy', committal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committal', new_committal_path %>
