<% toggle_row = true %>
<% @committal.projects.each do |project|  %>
<% if toggle_row %>	
	<div class="row">
<% end %>
<div class="col s12 m6">
	<div id="profile-card" class="card">
			<div class="card-image waves-effect waves-block waves-light" style="height:200px">
				<img class="activator" src="<%= project.image  %>" alt="user bg">
			</div>
			<div class="card-content">
				<img src="<%= project.user.toauth_fast[:photo] %>" alt="" class="circle responsive-img activator card-profile-image" style="top: 160px;">
				<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
					<i class="mdi-content-add"></i>
				</a>

				<span class="card-title activator grey-text text-darken-4"><%= project.name  %></span>
				<p><i class="mdi-action-autorenew"></i> 
					Status: <%= project.status.humanize  %>
				</p>
				<p><i class="mdi-editor-insert-invitation"></i> 
					Previsão de Início: <%= project.start_date  %>
				</p>
				<p><i class="mdi-editor-insert-invitation"></i> 
					Previsão de Entrega: <%= project.estimated_date  %>
				</p>
				<div class="row">
					<div class="col s6 row">
						<%= raw div_desempenho("Atraso", project.delay, true)[:html] %>
					</div>
					
					<div class="col s6 row">
						<%= raw div_desempenho("Execução", project.indice_execucao)[:html] %>
					</div>
				</div>
			</div>
			<div class="card-reveal" style="display: none; transform: translateY(0px);">
				<p>
					<span class="card-title grey-text text-darken-4">
					Responsável:<i class="mdi-navigation-close right"></i></span>
				</p>
				<p><strong>Nome:</strong> <%= project.user.name  %></p>
				<p><strong>UG:</strong> <%= project.user.toauth_fast[:secad][:orgao]  %></p>
				<p>
					<span class="card-title grey-text text-darken-4">
					Orçamento</i></span>
				</p>
				<p><strong>Orçamento Incial:</strong> <%= project.budget %></p>
				<p><strong>Empenhado:</strong> <%= project.committed %></p>
				<p><strong>Liquidado:</strong> <%= project.paid %></p>
				<div class="row">					
				<%= link_to "Ver mais", project, class:"btn btn-block btn-large cyan col s12"  %>
				</div>
			</div>
		</div>
	</div>
<% if !toggle_row %>	
	</div>
<% end %>
<% toggle_row = !toggle_row  %>
<% end %>
<% if !toggle_row %>	
	</div>
<% end %>