<div class="card">
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Orçamento</span>
		<div id="curve_chart" style="width: 100%; height: 500px"></div>
	</div>
</div>

<div class="card">
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Execução</span>
		<div id="curve_chart2" style="width: 100%; height: 500px"></div>
	</div>
</div>

<%= content_for :head do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Dia', 'Orçamento', 'Empenhado', 'Liquidado'],

			<% @committal.committal_evolutions.each do |c|  %>
			[
			"<%= c.created_at.to_date  %>",
			<%= c.orcamento %>,
			<%= c.empenhado  %>,
			<%= c.liquidado  %>,
			],
			<% end %>

			[
			"Atual",
			<%= @committal.orcamento  %>,
			<%= @committal.empenhado  %>,
			<%= @committal.liquidado  %>,
			]
			]);

		var options = {
			curveType: 'function',
			legend: { position: 'bottom' },
			lineWidth: 5,
			pointSize: 8
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

		chart.draw(data, options);
	}

	google.charts.setOnLoadCallback(drawChart2);
	function drawChart2() {
		var data = google.visualization.arrayToDataTable([
			['Dia', 'Financeiro', 'Contratado', 'Executado X Contratado', "Tarefas"],

			<% @committal.committal_evolutions.each do |c|  %>
			[
			"<%= c.created_at.to_date  %>",
			<%= c.executado_financeiro %>,
			<%= c.percentual_contratado  %>,
			<%= c.executado_vs_contratado  %>,
			<%= c.executado_fisico %>
			],
			<% end %>

			[
			"Atual",
			<%= @committal.executado_financeiro  %>,
			<%= @committal.percentual_contratado  %>,
			<%= @committal.executado_vs_contratado  %>,
			<%= @committal.executado_fisico %>
			]
			]);

		var options = {
			curveType: 'function',
			legend: { position: 'bottom' },
			lineWidth: 5,
			pointSize: 8
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));

		chart.draw(data, options);
	}
</script>
<% end %>