<div class="card-panel">
	<h4 style="font-size: 1.7rem;">Comparativo de Receitas Arrecadadas</h4>
	<div class="row">	
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>ICMS</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 1.204.270.176,99
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 1.336.549.515,69
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">11,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b> 1.535.919.069,28
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">14,9%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>FPE</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 2.149.901.344,53

              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 2.290.375.724,65
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">6,5%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b> 2.273.211.142,28
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">-0,7%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Tranferência do SUS</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 174.528.893,93
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 176.138.459,57
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">0,9%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>189.408.361,67
              </h5>
						</div>
						<div class="col s4">
							Variaão
							<h4 style="font-size: 1.7rem;">7,5%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Tranferências do FUNDEB</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 467.800.509,19
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 474.703.503,57
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">1,5%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>456.157.244,55
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">-3,9%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Receita Corrente Líquida</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 5.915.093.678,18
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 6.256.932.421,65
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">5,8%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>6.675.062.273,82
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">6,7%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Outras Receitas</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 1.917.464.179,94
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 1.742.785.062,82
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">-9,1%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>1.985.944.276,75
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">14,0%</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Total da Receita</h5>
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 5.913.965.104,6
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 6.020.552.266,3
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">1,8%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>6.440.640.094,5
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">7,0%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Total da Receita Menos Deduções</h5>
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2014: </b> 5.284.597.504,1
              </h5>
							<h5 style="font-size: 1.2rem;">
								<b>2015: </b> 5.333.191.074,8
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">0,9%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5 style="font-size: 1.2rem;">
								<b>2016: </b>5.752.151.554,9
              </h5>
						</div>
						<div class="col s4">
							Variação
							<h4 style="font-size: 1.7rem;">7,9%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>