<h4><%= params[:orgao]  %></h4>
<div class="row">
	<% @convenios.each do |convenio|  %>
	<div class="col s12 m6">
		<div id="profile-card" class="card" style="height:590px;">
			<div class="card-content">

				<span class="card-title activator grey-text text-darken-4">Convênio Nº <%= convenio[2]  %></span>
				<p><b>Concedente:</b> <%= convenio[1]  %></p>
				<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
					<i class="fa fa-plus"></i>
				</a>
				<p><b>Situação Convênio:</b> <%= convenio[3]  %></p>
				<p><b>Situação Contratação:</b> <%= convenio[4]  %></p>
				<p><b>Início da Vigência:</b> <%= convenio[6]  %></p>
				<p><b>Fim da Vigência:</b> <%= convenio[7]  %>
				 ( <%= days_to_now_s(convenio[7])   %> dias)</p>
				<div class="card-panel grey lighten-3">
					<p>
						<b>Valor União:</b> <%= number_to_currency(convenio[8])  %>
					</p>
					<p>
						<b>Desembolso União:</b> <%= number_to_currency(convenio[10])  %>
					</p>
					<p>
						<b>Contrapartida:</b> <%= number_to_currency(convenio[9])  %>
					</p>
					<p>
						<b>Ingresso de Contrapartida:</b> <%= number_to_currency(11)  %>
					</p>
					<p>
						<b>Pagamentos:</b> <%= number_to_currency(convenio[12])  %>
					</p>
				</div>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
				<p>
					<%= convenio[5]  %>
				</p>
				<%= link_to "Ver no SICONV", "https://www.convenios.gov.br/siconv/ConsultarProposta/ResultadoDaConsultaDeConvenioSelecionarConvenio.do?numeroConvenio=#{ convenio[2]}&destino=", class:"btn btn-large cyan" %>
			</div>
		</div>
	</div>
	<% end %>
</div>