<div class="row">
	<% @orgaos.each do |orgao|  %>
	<div class="col s12 m6">
		<div id="profile-card" class="card">
			<div class="card-image  light-blue darken-4">
				<div class="white-text" style="padding: 20px; font-size: large;">
					<%= orgao['name']  %>
				</div>
			</div>
			<div class="card-content">
				<%= link_to convenios_filter_path(orgao: orgao['name']), class:"btn-floating  btn-move-up waves-effect waves-light darken-2 right" do %>
					<i class="fa fa-plus"></i>
				<% end %>
				<br>
				<p>
					<b>Quantidade de Convênios:</b> <%= orgao['quantidade']  %>
				</p>
				<p>
					<b>Valor União:</b> <%= number_to_currency(orgao['uniao'])  %>
				</p>
				<p>
					<b>Desembolso União:</b> <%= number_to_currency(orgao['desembolso'])  %>
				</p>
				<p>
					<b>Contrapartida:</b> <%= number_to_currency(orgao['contrapartida'])  %>
				</p>
				<p>
					<b>Ingresso de Contrapartida:</b> <%= number_to_currency(orgao['ingresso'])  %>
				</p>
				<p>
					<b>Pagamentos:</b> <%= number_to_currency(orgao['pagamentos'])  %>
				</p>
				<p>
					<b>Execução:</b> <%= number_to_currency(orgao['execucao'])  %>%
				</p>
			</div>
		</div>
	</div>
	<% end %>
</div>