<div class="col s12 m8 offset-m2">
	<div class="card">
		<div class="card-image">
			<%# binding.pry %>
			<% if noticia[:pagemap][:cse_image]  %>
			<img src="<%= noticia[:pagemap][:cse_image].first[:src] || "/bg-tocantins.jpg"%>">
			<% else %>
			<img src="/bg-tocantins.jpg" alt="sample image">
			<% end %>

		</div>
		<div class="card-content">
			<span class="card-title black-text"><%= noticia[:pagemap][:newsarticle].first[:"headline"] || noticia[:title]  %></span>
			<p><%= noticia[:pagemap][:newsarticle].first[:"description"]  %></p>
		</div>
		<%# as  %>
		<div class="card-action">
			<a class="blue-text"><%= noticia[:displayLink]   %></a>
			<a href="<%= noticia[:link]%>">Ver Noticia</a>
		</div>
	</div>
</div>