<%= select_tag :cidade, options_for_select(@cidades), onchange: "change_frame()" , id: "cidade"%>
<iframe src="" frameborder="0" id="city_frame" height="500px" width="100%"></iframe>

<script type="text/javascript" charset="utf-8">
  function change_frame() {
      $('#city_frame').attr('src', "http://cidades.monitora.to.gov.br/integra/eixos/" + $("#cidade").val())
  }
</script>