<div class="col s12 m3">
  <div class="card-panel  gradient-45deg-light-blue-cyan" onclick="toggle_orcamento()">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-pie-chart fa-4x white-text center" ></i>
      </div>
    </div>
    <h4 class="white-text center">
      Despesa
    </h4>
    <div class="white-text center">
      Execução Orçamentária Extraída do SIAFEM - Relorc
    </div>
    <div id="sub_orcamento">      
      <%= link_to search_bi_path do  %>     
      <div class="card-panel" style="background: none; ">
        <h5 class="white-text">
          Relatório Geral
        </h5>
      </div>
      <% end %>
      <%= link_to "http://gastos.monitora.to.gov.br" do  %>
          <div class="card-panel" style="background: none; ">
            <h5 class="white-text">
              Controle de Gastos
            </h5>
          </div>
      <% end %>
      <%= link_to despesa_pessoal_path do  %>
          <div class="card-panel" style="background: none; ">
            <h5 class="white-text">
              Análise de Pessoal
            </h5>
          </div>
      <% end %>
      <% link_to despesa_avaliacao_path do  %>     
      <div class="card-panel" style="background: none; ">
        <h5 class="white-text">
          Avaliação da Despesa
        </h5>
      </div>
      <% end %>
      <% link_to emendas_home_path do  %>     
      <div class="card-panel" style="background: none; ">
        <h5 class="white-text">
          Emendas Parlamentares
        </h5>
      </div>
      <% end %> 
      <% link_to convenios_path do  %>     
      <div class="card-panel" style="background: none; ">
        <h5 class="white-text">
          Convênios
        </h5>
      </div>
      <% end %>
    </div>
  </div>
</div>