<div class="row">


  <%= link_to orcamento_menu_path do  %>
  <div class="col s12 m6">
    <div class="card  gradient-45deg-purple-light-blue">
      <div class="card-content">
        <div class="row">        
          <div class="s12 center">
            <i class="fa fa-signal fa-4x white-text center" ></i>
          </div>
        </div>
        <h4 class="white-text center">
          Orçamento
        </h4>
        <div class="white-text center">
          Receitas e Execução Financeira 
        </div>
      </div>
    </div>
  </div>
  
  <% end %>

  <%= link_to lrf_path do  %>
  <div class="col s12 m6">
    <div class="card  gradient-45deg-purple-light-blue ">
      <div class="card-content">
        <div class="row">        
          <div class="s12 center">
            <i class="fa fa-pie-chart fa-4x white-text center" ></i>
          </div>
        </div>
        <h4 class="white-text center">
          LRF
        </h4>
        <div class="white-text center">
          Lei de Responsabilidade Fiscal
        </div>
      </div>
    </div>
  </div>  
  <% end %>
  <% if can? :read, :emendas %>

  <div class="col s12 m4">
    <%= link_to "http://gastos.monitora.to.gov.br", target: :_blank do  %>
    <div class="card-panel  gradient-45deg-purple-light-blue center">
      <div class="row">        
        <div class="s12 center">
          <i class="fa fa-usd fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Gastos
      </h4>
      <span class="white-text">
        Dashboards Exclusivas de Gastos
      </span>
    </div>
    <% end %>  
  </div>

  <div class="col s12 m4">
    <%= link_to saude_index_path do  %>
    <div class="card-panel  gradient-45deg-purple-light-blue center">
      <div class="row">
        <div class="s12 center">
          <i class="fa fa-medkit fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Integra Saúde
      </h4>
      <span class="white-text">
        Sitação em Tempo Real da Saúde
      </span>
    </div>
    <% end %>
  </div>

  <div class="col s12 m4">
    <%= link_to despesa_pessoal_path do  %>
    <div class="card-panel  gradient-45deg-purple-light-blue center">
      <div class="row">
        <div class="s12 center">
          <i class="fa fa-users fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Pessoal
      </h4>
      <span class="white-text">
        Análise Quantitativa de Pessoal
      </span>
    </div>
    <% end %>
  </div>

  <div class="col s12 m6">
    <%= link_to "http://seplan.to.gov.br/estatistica/tocantins-em-numeros/", target: :_blank do  %>
    <div class="card-panel  gradient-45deg-purple-light-blue center">
      <div class="row">
        <div class="s12 center">
          <i class="fa fa-bar-chart fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Estatísticas
      </h4>
      <span class="white-text">
        Informações importantes sobre o Estado
      </span>
    </div>
    <% end %>
  </div>
  <div class="col s12 m6">
    <%= link_to informacao_path do  %>      
    <div class="card-panel gradient-45deg-purple-light-blue center">
      <div class="row">        
        <div class="s12 center">
          <i class="fa fa-comments-o fa-4x white-text center"></i>
        </div>
      </div>
      <h4 class="white-text">
        Mídia
      </h4>
      <span class="white-text">
        O que estão falando sobre o Estado do Tocantins.
      </span>
    </div>
    <% end %>  
  </div>
  <% end %>
  <%= content_for :scripts do  %>
  <script type="text/javascript">
    function toggle_orcamento() {
      var menu = $('#sub_orcamento');
      if (menu.is(":visible")) {
        menu.hide();

      }else{
        menu.show();
      };

    }

  </script>

  <% end %>