<div class="center">	
<h4 class="header">As Notícias Mais Lidas Sobre o Estado</h4>
	<p>Segundo o Google</p>
</div>
<div class="row">	
	<% @data.each do |noticia|  %>
	<%= render partial:'home/noticia', locals:{noticia:noticia} %>
	<% end %>
	<% if @data.blank? %>

		<div class="card-panel red center">
			<h5 class="white-text">				
				O serviço do Google está temporariamente fora do ar. Esta é uma falha do Google e não do Monitora. Você pode tentar voltar mais tarde ou acessar uma pesquisa do Google enquanto eles não resolvem o problema no link abaixo:<br><br>
				<a href="http://www.google.com/search?q=tocantins&tbm=nws" class="btn btn-large col s12" target="_blank">
					Ver Pesquisa do Google
				</a>
			</h5>
		</div>

	<% else %>	
	<div class="col s12 m8 offset-m2 row">
		<a href="<%= @link  %>" class="btn btn-large col s12">Mais Resultados</a>
	</div>
	<% end %>
</div>