<div class="col s12 m6">
  <%= link_to redes_sociais_path do  %>      
  <div class="card-panel green center">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-whatsapp fa-4x white-text center"></i>
      </div>
    </div>
    <h4 class="white-text">
      Termômetro das Redes Sociais
    </h4>
    <span class="white-text">
      O que as pessoas falam do estado nas Redes Sociais
    </span>
  </div>
  <% end %>  
</div>

<div class="col s12 m6">
  <%= link_to imprensa_path do  %>      
  <div class="card-panel  amber darken-2 center">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-newspaper-o fa-4x white-text center"></i>
      </div>
    </div>
    <h4 class="white-text">
      Imprensa
    </h4>
    <span class="white-text">
      As noticias mais lidas do Estado
    </span>
  </div>
  <% end %>  
</div>