<div class="card-panel">
  <img src="/lrf/lrf.png" alt="" class="responsive-img">
  <p>
		<b>Pessoal: </b> Máximo Prudencial = 46,55% e Máximo Legal = 49% <br>
		<b>Educação: </b>Mínimo Legal = 25% <br>
		<b>Saúde: </b>Mínimo Legal = 12% <br>
	</p>
</div>


<div class="card-panel">
  <img src="/lrf/lrf2.png" alt="" class="responsive-img">
</div>

<div class="card-panel">
  <img src="/lrf/lrf3.png" alt="" class="responsive-img">
</div>