

<%= link_to @receita_link do  %>      
<div class="card-panel  gradient-45deg-cyan-light-green center" data-step="1" data-intro="Neste ícone mostraremos tudo que o Estado pretende arrecadar e o quanto já arrecadou para desenvolver politicas públicas de qualidade para o Tocantins." data-position='left'>
  <div class="row">        
    <div class="s12 center">
      <i class="fa fa-usd fa-4x white-text center"></i>
    </div>
  </div>
  <h5 class="white-text">
    Receita
  </h5>
  <span class="white-text">
    Arrecadação - Anexo 10
  </span>
</div>
<% end %>

<%= link_to search_bi_path do  %>
<div class="card-panel  gradient-45deg-red-pink center" data-step="2" data-intro="Aqui você poderá ver de forma atualizada como está a execução financeira do Estado e acompanhar aonde o Governo está investindo os recursos." data-position='left'>
  <div class="row">        
    <div class="s12 center">
      <i class="fa fa-pie-chart fa-4x white-text center"></i>
    </div>
  </div>
  <h5 class="white-text">
    Despesas
  </h5>
  <span class="white-text">
    Execução Financeira - Relorc
  </span>
</div>
<% end %>  


<%= link_to despesa_balanco_path do  %>
<div class="card-panel  gradient-45deg-indigo-light-blue center" data-step="2" data-intro="Aqui você poderá ver de forma atualizada como está a execução financeira do Estado e acompanhar aonde o Governo está investindo os recursos." data-position='left'>
  <div class="row">
    <div class="s12 center">
      <i class="fa fa-balance-scale fa-4x white-text center"></i>
    </div>
  </div>
  <h5 class="white-text">
    Balanço Orçamentário
  </h5>
  <span class="white-text">
    Arrecadado X Liquidado
  </span>
</div>
<% end %>
