<div class="col s12 m3">
  <div class="card-panel  green" onclick="toggle_orcamento()">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-usd fa-4x white-text center" ></i>
      </div>
    </div>
    <h4 class="white-text center">
      Receita
    </h4>
    <div class="white-text center">
      Informações da Reeita do SIAFEM - Anexo 10
    </div>
    <div id="sub_orcamento">      
      <%= link_to receita_bi_path do  %>     
      <div class="card-panel  green darken-3">
        <h5 class="white-text">
          Relatório Geral
        </h5>
      </div>
      <% end %>
      <%= link_to receita_evolution_bi_path do  %>     
      <div class="card-panel  green darken-3">
        <h5 class="white-text">
          Evolução da Receita
        </h5>
      </div>
      <% end %> 
    </div>
  </div>
</div>