<div class="card-panel center white-text blue">
	<h4>Redes Sociais</h4>
	<p>O que as pessoas estão dizendo sobre o estado nas redes sociais.</p>
</div>
<div class="card-panel">
	<div id="piechart" style="width: 100%; height: 500px;"></div>
</div>

<div class="row"> 
<% @polls.each do |poll|  %>
  <%= link_to poll do %>
  <div class="col s12 m4">
    <div class="card-panel center">
      <h4><%= poll.name  %></h4>
    </div>
  </div>
  <% end %>
<% end %>
</div>

<%= content_for :head do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Resposta');
        dataTable.addColumn('number', 'Valor');
        dataTable.addColumn({type: 'string', role: 'tooltip'});
        dataTable.addRows([
          ['Falando Bem', <%= @bem  %>,'Falando Bem'],
          ['Falando Mal', <%= @mal  %>,'Falando Mal']
        ]);
        var options = {
          is3D: true,
          slices: {
            0: { color: '#004d40' },
            1: { color: '#b71c1c' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataTable, options);
      }
    </script>
<% end %>