<div class="card-panel center"> 
  <img src="/images/resultados/3.jpg" class="responsive-img">
</div>
<div class="card-panel center"> 
  <img src="/images/resultados/1.jpg" class="responsive-img">
</div>
<div class="card-panel center"> 
  <img src="/images/resultados/2.jpg" class="responsive-img">
</div>
<div class="card-panel center"> 
  <img src="/images/resultados/4.jpg" class="responsive-img">
</div>