<div class="col s12 m6">
  <%= link_to "http://seplan.to.gov.br/estatistica/tocantins-em-numeros/" do  %>
  <div class="card-panel green center">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-bar-chart fa-4x white-text center"></i>
      </div>
    </div>
    <h4 class="white-text">
      Tocantins em Números
    </h4>
    <span class="white-text">
      Dados e Estatísticas Relevantes do Tocantins
    </span>
  </div>
  <% end %>  
</div>
<div class="col s12 m6">
  <%= link_to "/saude/index" do  %>
  <div class="card-panel red center">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-bar-chart fa-4x white-text center"></i>
      </div>
    </div>
    <h4 class="white-text">
      Integra Saúde
    </h4>
    <span class="white-text">
      Dados Relevantes da Saúde no Tocantins
    </span>
  </div>
  <% end %>  
</div>
<div class="col s12 m6">
  <%= link_to cities_path do  %>
  <div class="card-panel  amber darken-2 center">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-bar-chart fa-4x white-text center"></i>
      </div>
    </div>
    <h4 class="white-text">
      Perfil Municipal
    </h4>
    <span class="white-text">
      Relatórios da Seplan, TCE e IBGE
    </span>
  </div>
  <% end %>  
</div>