<%= nested_form_for(@history) do |f| %>
<% if @history.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

  <ul>
    <% @history.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div id="UpdateStatus" class="tab-content col s12  grey lighten-4" style="display: block;">
  <div class="row">                
    <div class="col s2">
      <img src="<%= @toauth_fast[:photo] %>" alt="" class="circle responsive-img valign profile-image-post">
    </div>
    <div class="input-field col s10">
      <%= f.select :step_id, @history.step.project.steps.map{|e| [e.name, e.id]}, {}, {class:"browser-default"} %>
      <%= f.text_area :description, class:"materialize-textarea", row:2, placeholder: "Descreva aqui o histórico..." %>                    
    </div>
  </div>
  <div class="col s12 card-panel">     
    <div id="file_pdf"> 
      <h5>Arquivos</h5>           
      <%= f.fields_for :history_files do |hf| %>
      <div class="row">
        <div class="input-field col s4">                    
          <%= hf.text_field :name, required: true %>
          <%= hf.label :name, "Nome" %>
        </div>
        <div class="input-field col s4">                    
          <%= hf.select :type, HistoryFile.type.options, {}, {class:"browser-default"} %>
        </div>
        <div class="col s3"> 
          <div class="file-field input-field">
            <input class="file-path validate" type="text" />
            <div class="btn cyan">
              <span><i class="mdi-editor-attach-file"></i></span>
              <%= hf.file_field :file %>
            </div>
          </div>                  
        </div>
        <div class="input-field col s1">                    
          <%= hf.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
            <i class="mdi-content-content-cut"></i>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>              
  </div>
  <div class="row">
    <div class="col s12 m9 share-icons">
      <%= f.link_to_add :history_files, "data-target" => "#file_pdf", class:"btn cyan" do %>
      <i class="mdi-editor-attach-file"></i> Inserir Arquivo
      <% end %>
      <div class="btn blue ">        
        <%= f.check_box :finish , class:"check_form" %>
        <%= f.label :finish , "Tarefa Finalizada", class:"white-text"%>
      </div>
    </div>

    <!-- Dropdown Structure -->

    <%= button_tag type: :submit, class:"waves-effect waves-light btn" do %>
    <i class="mdi-maps-rate-review left"></i>Salvar
    <% end %>
  </div>
</div>

<% end %>