<p id="notice"><%= notice %></p>

<h1>Listing Histories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Step</th>
      <th>Description</th>
      <th>User</th>
      <th>Finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.name %></td>
        <td><%= history.step %></td>
        <td><%= history.description %></td>
        <td><%= history.user %></td>
        <td><%= history.finish %></td>
        <td><%= link_to 'Show', history %></td>
        <td><%= link_to 'Edit', edit_history_path(history) %></td>
        <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History', new_history_path %>
