<div class="row">
  <% @news.each do |news| %>
  <%= link_to news.link do %>
  <div class="card  light-blue col s8 offset-m2">
    <div class="card-content white-text">
      <span class="card-title"><%= news.title  %></span>
      <p><%= news.description %></p>
    </div>
    <% if can? :aprovar, News  %>
    <div class="card-action">
      <%= link_to "Aprovar", news_status_news_path(news, status: :aprovado)  , class:"lime-text text-accent-1" %>
      <%= link_to "Descartar", news_status_news_path(news, status: :descartado)  , class:"lime-text text-accent-1" %>
    </div>
    <% end %>
  </div>
  <% end %>
  <% end %>
  <% if @news.blank? %>
    <div class="card-panel blue white-text">
      Não Existem Boas Notícias para aprovar.
    </div>
  <% end %>
</div>