<%= link_to @news.link do %>
<div class="card  light-blue">
	<div class="card-content white-text">
	<span class="card-title"><%= @news.title  %></span>
		<p><%= @news.description %></p>
	</div>
</div>
<% end %>