<%= nested_form_for(@project) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@project.errors.count, "erro") %> não permite(m) salvar:</h2>

  <ul>
    <% @project.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% has_deeds = @project.project_deeds.present?  %>
<div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Informações Básicas</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :name, required: true %>
              <%= f.label :name, "Nome" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_area :description, class:"materialize-textarea" %>
              <label for="description" class="active">Descrição</label>
            </div>
          </div>
          <div class="row">
            <div class=" col s12">
              <%= f.label :user_id, "Responsável" %>
              <%= f.select :user_id, @users, {}, {class:"browser-default chosen-select"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form with placeholder -->
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Informações Financeiras</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :budget, "Orçamento" %>
              <%= f.text_field :budget, disabled: has_deeds %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :changes_amount , "Alterações" %>
              <%= f.text_field :changes_amount, disabled: has_deeds%>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :committed , "Empenhado"%>
              <%= f.text_field :committed, disabled: has_deeds %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.label :paid , "Liquidado" %>
              <%= f.text_field :paid, disabled: has_deeds%>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="card-panel">
      <h4 class="header2">Relacionamentos</h4>
      <div class="row">
        <div class=" col s12">
          <%= f.label :indicator_id, "Indicador" %>
          <%= f.select :indicator_id, Indicator.all.map { |u| [u.name,u.id]  }, {include_blank:true}, {class:"browser-default", id: "indicator_combo", onchange:"change_entrega()"} %>
        </div>
        <div class=" col s12">
          <%= f.label :project_id, "Projeto Pai" %>
          <%= f.select :project_id, Project.where.not(id: @project.id).all.map { |u| [u.name,u.id]  }, {include_blank:true}, {class:"browser-default chosen-select"} %>
        </div>
        <div class=" col s12">
          <%= f.label :committal_id, "Entrega Relacionada" %>
          <% if @project.indicator.blank? %>
          <% committals = {} %>
          <% else %>
          <% committals = @project.indicator.committals.map { |u| [u.name,u.id]  } %>
          <% end %>
          <%= f.select :committal_id, committals, {include_blank:true}, {class:"browser-default", id:"entrega_combo"} %>
        </div>
      </div>
    </div>
    <div class="card-panel">
      <h5>Incorporar AO VIVO</h5>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :live, class:"materialize-textarea" %>
          <label for="description" class="active">Código de Incorporação</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h4 class="header">Ações Orçamentárias</h4>
    <ul id="deeds-collection" class="collection" style="overflow: visible">
      <li class="collection-item avatar">
        <i class="mdi-file-folder circle light-blue"></i>
        <span class="collection-header">Ações</span>
        <p>Informe as ações orçamentárias realacionadas ao projeto</p>
      </li>
      <%= f.fields_for :project_deeds do |deed|   %>
      <li class="collection-item">
        <div class="row card-panel" style="overflow: visible">
          <div class="col s10">
            <label>Ação</label>
            <%= deed.select :deed, @deeds, {}, {class:"browser-default chosen-select"}  %>
          </div>
          <div class="col s1">
            <%= deed.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
            <i class="mdi-content-content-cut"></i>
            <% end %>
          </div>      
        </div>
        <script type="text/javascript">
          $(".chosen-select").chosen();
        </script>
      </li>
      <% end %>
    </ul>
    <%= f.link_to_add "Nova Ação", :project_deeds, "data-target" => "#deeds-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h4 class="header">Tarefas do Projeto</h4>
    <ul id="projects-collection" class="collection">
      <li class="collection-item avatar">
        <i class="mdi-file-folder circle light-blue"></i>
        <span class="collection-header">Tarefas</span>
        <p>Indique cada andamento do projeto</p>
      </li>
      <%= f.fields_for :steps do |step|   %>
      <li class="collection-item">
        <div class="row card">
          <div class="col s6">
            <label>Tarefa</label>
            <%= step.text_field :name, placeholder: "Nome da Tarefa", required: true   %>
          </div>
          <div class="col s3">
            <label>Previsão de Início</label>
            <%= step.date_field :start_date, required: true  %>
          </div>
          <div class="col s3">
            <label>Previsão de Entrega</label>
            <%= step.date_field :estimated_date, required: true  %>
          </div>
          <div class="col s11">
            <%= step.text_area :description, placeholder: "Descreva a Tarefa", class:"materialize-textarea"  %>
          </div>
          <div class="col s1">
            <%= step.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
            <i class="mdi-content-content-cut"></i>
            <% end if step.object.histories.blank? %>
          </div>      
        </div>
      </li>
      <% end %>
    </ul>
    <%= f.link_to_add "Nova Tarefa", :steps, "data-target" => "#projects-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4 class="header">Equipe do Projeto</h4>
    <ul id="users-collection" class="collection" style="overflow: visible" >
      <li class="collection-item avatar">
        <i class="mdi-file-folder circle light-blue"></i>
        <span class="collection-header">Equipe</span>
        <p>Indique a equipe que irá gerenciar as informações.</p>
      </li>
      <%= f.fields_for :project_users do |user|   %>
      <li class="collection-item">
        <div class="row card" style="overflow: visible">
          <div class="col s7">
            <%= user.label :user_id, "Servidor" %>
            <%= user.select :user_id, @users, {}, {class:"browser-default chosen-select"} %>
          </div>
          <div class="col s4">
            <%= user.label :role, "Função" %>
            <%= user.select :role, ProjectUser.role.options, {}, {class:"browser-default"} %>
          </div>
          <div class="col s1">
            <%= user.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
            <i class="mdi-content-content-cut"></i>
            <% end %>
          </div>      
        </div>
      </li>
      <script type="text/javascript">
        $(".chosen-select").chosen();
      </script>
      <% end %>
    </ul>
  </div>

</div>


<div class="actions">
  <%= f.link_to_add "Novo Servidor", :project_users, "data-target" => "#users-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
  <%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
</div>
<% end %>

<%= content_for :scripts do  %>
<script type="text/javascript">
  function change_entrega () {
    var value = $('#indicator_combo').val()

    if (value ==  "") {
      $("#entrega_combo").html('<option></option>')
    }else{
      $.get('/indicators/'+ $('#indicator_combo').val() +'/entregas_combo')
    };
  }
</script>
<% end %>
