<div class="header-search-wrapper cyan hide-on-med-and-up">
  <% if @q.blank? or params[:controller] == "projects" %>

  <%= form_tag(projects_path, method: :get) do %>
  <i class="mdi-action-search"></i>
  <%= fields_for :q do |f| %>
  <%= f.text_field :name_or_description_cont, placeholder: "Pesquise um projeto", class:"header-search-input z-depth-2"  %>
  <% end %>
  <% end %>
  <% end %>
</div>


<div class="row">
  <% @projects.each do |project|  %>
  <div class="col s12 m4">
    <%= link_to project do  %> 
    <div id="flight-card" class="card">
      <div class="card-header <%= div_desempenho("Pontualidade", project.indice_pontualidade)[:color] %>">
        <div class="card-title">
          <h4 class="flight-card-title">Projeto | Entrega</h4>
          <p class="flight-card-date"><%= project.status.humanize  %></p>
        </div>
      </div>
      <div class="card-content-bg white-text" style="background: url(<%= project.image  %>) no-repeat center center; height:310px; overflow: hidden; ">
        <div class="card-content" style="height:310px; overflow: hidden;">
          <div class="row flight-state-wrapper">
            <div class="col s12 center-align">
              <div class="flight-state">
                <h4 class="margin"><%= project.name  %></h4>
                <p class="ultra-small"><%= truncate(project.description, lenght: 100)  %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-actions <%= div_desempenho("Pontualidade", project.indice_pontualidade)[:color] %> white-text">
       <div class="row">
        <div class="col s6 m6 l6 center-align">
          <div class="flight-info">
            <p class="small"><span class="grey-text text-lighten-4">Orçamento:<br></span> <%= project.budget || 0 %></p>
          </div>
        </div>
        <div class="col s6 m6 l6 center-align flight-state-two">
          <div class="flight-info">
            <p class="small"><span class="grey-text text-lighten-4">Liquidado:<br></span> <%= project.paid || 0 %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>
<%= paginate(@projects) %>