<style type="text/css">
  .slider {
    z-index: 0;
  }
</style>

<% @project_user = @project.user.toauth_fast  %>
<div id="profile-page" class="section">
  <!-- profile-page-header -->
  <div id="profile-page-header" class="card">
    <div class="card blue darken-2 center hide-on-med-and-up">
      <h4 class="white-text"><%= @project.name  %></h4>  
    </div>
    <div class="card-image waves-effect waves-block waves-light hide-on-small-only image-fill">
      <img class="activator" src="<%= @project.image %>" alt="user background">                    
    </div>
    <figure class="card-profile-image">
      <img src="<%= @project_user[:photo]  %>" alt="profile image" class="circle z-depth-2 responsive-img activator hide-on-small-only">
    </figure>
    <figure class="card-profile-image" style ="width: 80%; top: 10px;text-align: center;left: 10%">
      <h4 class="white-text hide-on-small-only"><%= @project.name  %></h4>
    </figure>
    <div class="card-content">
      <div class="row">                    
        <div class="col s12 offset-m2 m5">                        
          <h4 class="card-title grey-text text-darken-4"><%= @project.user.name_medium %></h4>
          <p class="medium-small grey-text">
            <i class="mdi-communication-phone tiny"></i>
            <%= @project_user[:secad][:telefone] %>
          </p>                        
        </div>
        <div class="col s12 m12 l3 center-align">
          <h4 class="card-title grey-text text-darken-4"><%= number_to_currency(@project.budget)  %></h4>
          <p class="medium-small grey-text">Orçamento</p>                        
        </div>
        <div class="col s12 m12 l1 center-align">
          <h4 class="card-title grey-text text-darken-4"><%= @project.executado_financeiro  %>%</h4>
          <p class="medium-small grey-text">Executado</p>                        
        </div>                                   
        <div class="col s1 right-align">
          <a class="btn-floating activator waves-effect waves-light darken-2 right">
            <i class="mdi-action-perm-identity"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card-reveal">
      <p>
        <span class="card-title grey-text text-darken-4"><%= @project.user.name  %> <i class="mdi-navigation-close right"></i></span>
        <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= @project_user[:secad][:funcao] || @project_user[:secad][:cargo] %></span>
      </p>

      <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= @project_user[:secad][:telefone]  %></p>
      <p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= @project_user[:secad][:email]  %></p>
      <p><%= @project_user[:secad][:orgao]  %></p>
    </div>
  </div>
  <!--/ profile-page-header -->
  <% if @project.live.present? %>    
    <div class="card-panel">
      <%= raw @project.live %>
    </div>
  <% end %>
  <!-- profile-page-content -->
  <div id="profile-page-content" class="row">
    <!-- profile-page-sidebar-->
    <div id="profile-page-sidebar" class="col s12 m4">
      <!-- Profile About  -->
      <div class="card light-blue">
        <div class="card-content white-text">
          <span class="card-title">Resumo do Projeto</span>
          <p><%= @project.description  %></p>
          <% if @project.project.present? %>            
          <p><strong>Projeto Pai:</strong> <%= link_to @project.project.name, @project.project, class:"white-text"  %></p>
          <% end %>
        </div>                  
      </div>
      <%= link_to orcamento_project_path(@project) do  %>
      <div class="card green darken-2 center">
        <div class="card-content white-text">
          <div class="row">        
            <div class="s12 center">
              <i class="fa fa-usd fa-3x white-text center" ></i>
            </div>
          </div>
          <span class="card-title">Orçamento do Projeto</span>
        </div>
      </div>
      <% end if @project.project_deeds.present? %>
      <%= link_to @project.indicator do  %>
      <div class="card <%= @project.indicator.color || 'blue'  %>">
        <div class="card-content white-text center">
          <div class="row">        
            <div class="s12 center">
              <i class="fa <%= @project.indicator.icon  %> fa-3x white-text center"></i>
            </div>
          </div>
          <span class="card-title"><%= @project.indicator  %></span>
        </div>
      </div>
      <% end if @project.indicator.present? %>
      <!-- Profile About  -->
      <div class="card" align="center">
        <div id="chart_div" style="width: 240px; height: 120px;"></div>
      </div>

      <!-- Profile About Details  -->
      <ul id="profile-page-about-details" class="collection z-depth-1">
        <li class="collection-item">
          <div class="row center">
            <div class="col s12 grey-text darken-1"> <b>Execução das Tarefas</b></div>
          </div>
        </li>

        <li class="collection-item">
          <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Status</div>
            <div class="col s7 grey-text text-darken-4 right-align"><%= @project.status.humanize || "Em Andamento"  %></div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Entrega:</div>
            <div class="col s7 grey-text text-darken-4 right-align"><%= @project.estimated_date  %></div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Criação:</div>
            <div class="col s7 grey-text text-darken-4 right-align"><%= @project.created_at.to_date  %></div>
          </div>
        </li>
        <li class="collection-item">
          <div class="row">
            <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Executado:</div>
            <div class="col s7 grey-text text-darken-4 right-align"><%= @project.indice_execucao  %>%</div>
          </div>
        </li>
      </ul>
      
      <!-- task-card -->
      <ul id="" class="collection with-header">
        <li class="collection-header blue darken-2">
          <h4 class="task-card-title white-text">Tarefas</h4>
        </li>
        <% @project.steps.each do |step|  %>
        <%= link_to project_path(step.project, step: step.id), class:"collection-item dismissable #{"grey  lighten-3" if params[:step] == step.id.to_s}", style:"touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" do %> 
        <input type="checkbox" id="task4" checked="checked" disabled="disabled">
        <label for="task4" style="text-decoration: none; height: auto;"><%= step.name  %></label>
        <br>
        <span class="task-cat blue darken-2"><%= step.estimated_date  %></span>
        <span class="task-cat blue darken-2"><%= step.status.humanize  %></span>

        <% end %>
        <% end %>
        <% if params[:step].present? %>
        
        <li class="collection-header cyan">
          <%= link_to "Ver Tudo", @project, class:"white-text"  %>
        </li>
        <% end %>
      </ul>
      <% if @project.projects.present? %>
      
      <ul id="" class="collection with-header">
        <li class="collection-header blue darken-2">
          <h4 class="task-card-title white-text">Projetos</h4>
        </li>
        <% @project.projects.each do |project|  %>
        <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          <strong><%= link_to project.name, project  %></strong>
          <br>
        </li>
        <% end %>
      </ul>
      <% end %>
      
      <!-- Map Card >
      <div class="map-card">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <div id="map-canvas" data-lat="40.747688" data-lng="-74.004142" class="" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -14px; top: -127px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -14px; top: 129px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 242px; top: -127px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 242px; top: 129px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -14px; top: -127px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -14px; top: 129px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 242px; top: -127px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 242px; top: 129px;"></div></div></div></div><div style="position: absolute; z-index: 0; transform: translateZ(0px); left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: -14px; top: -127px; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i301!3i384!4i256!2m3!1e0!2sm!3i336006293!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0&amp;token=24480" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: -14px; top: 129px; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i301!3i385!4i256!2m3!1e0!2sm!3i336006293!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0&amp;token=107354" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 242px; top: -127px; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i302!3i384!4i256!2m3!1e0!2sm!3i336006293!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0&amp;token=30089" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="transform: translateZ(0px); position: absolute; left: 242px; top: 129px; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i302!3i385!4i256!2m3!1e0!2sm!3i336006293!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0&amp;token=112963" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 11px; top: 81px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 168px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2016 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 96px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="width: 25px; height: 25px; margin-top: 10px; overflow: hidden; display: none; margin-right: 14px; position: absolute; top: 0px; right: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/sv5.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 112px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@40.67,-73.94,10z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; -webkit-user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="-webkit-user-select: none; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div controlwidth="28" controlheight="28" style="-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; display: none; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=40.67,-73.94&amp;z=10&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div></div></div>
          </div>
          <div class="card-content">                    
            <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
              <i class="mdi-maps-pin-drop"></i>
            </a>
            <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Local do Projeto</a>
            </h4>
            <p class="blog-post-content">Endereço do Projeto</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Camera Ao Vivo <i class="mdi-navigation-close right"></i></span>                   
            <p><iframe width="100%" height="270" src="http://www.ustream.tv/embed/9408562?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe></p>                    
          </div>
        </div>
      </div>
      < Map Card -->

    </div>
    <!-- profile-page-sidebar-->

    <!-- profile-page-wall -->
    <div id="profile-page-wall" class="col s12 m8">

      <!-- profile-page-wall-share -->
      <div id="profile-page-wall-share" class="row">
        <div class="col s12">
          <% if (can? :update, @project) or @project.user_can_feed(current_user) %>
          <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
            <li class="tab col s12"><a class="white-text waves-effect waves-light active" href="#UpdateStatus"><i class="mdi-editor-border-color"></i> Inserir Histórico</a>
            </li>                    
            <div class="indicator" style="right: 500px; left: 0px;"></div></ul>
            <!-- UpdateStatus-->
            <%= nested_form_for @history do |f|  %>
            <div id="UpdateStatus" class="tab-content col s12  grey lighten-4" style="display: block;">
              <div class="row">                
                <div class="col s2">
                  <img src="<%= @toauth_fast[:photo] %>" alt="" class="circle responsive-img valign profile-image-post">
                </div>
                <div class="input-field col s10">
                  <%= f.select :step_id, @project.steps.map{|e| [e.name, e.id]}, {}, {class:"browser-default"} %>
                  <%= f.text_area :description, class:"materialize-textarea", row:2, placeholder: "Descreva aqui o histórico..." %>                    
                </div>
              </div>
              <div class="col s12 card">
                <div id="file_photo" style="display:none">
                  <h5>Foto</h5>
                  <%= hidden_field_tag(:val_type, :photo, class:"val_type")  %>                  
                  <%= f.fields_for :history_files do |hf| %>
                  <%= hf.hidden_field :type, class:"file_type" %>
                  <div class="row">
                    <div class="input-field col s6">                    
                      <%= hf.text_field :name, required: true, onclick:"set_type($(this))" %>
                      <%= hf.label :name, "Nome" %>
                    </div>
                    <div class="col s6"> 
                      <div class="file-field input-field">
                        <input class="file-path validate" type="text" />
                        <div class="btn cyan">
                          <span><i class="mdi-editor-attach-file"></i></span>
                          <%= hf.file_field :file %>
                        </div>
                      </div>                  
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="col s12 card">
                <div id="file_video" style="display:none">
                  <h5>Video</h5>
                  <%= hidden_field_tag(:val_type, :video, class:"val_type")  %>  
                </div>
              </div>
              <div class="col s12 card">     
                <div id="file_pdf" style="display:none"> 
                  <h5>PDF</h5>
                  <%= hidden_field_tag(:val_type, :pdf, class:"val_type")  %> 
                </div>              
              </div>
              <div class="row">
                <div class="col s12 m9 share-icons">
                  <%= f.link_to_add :history_files, "data-target" => "#file_photo", onclick:"$('#file_photo').show()"  do %>
                  <i class="mdi-image-camera-alt"></i>
                  <% end %>
                  <%= f.link_to_add :history_files, "data-target" => "#file_video", onclick:"$('#file_video').show()"  do %>
                  <i class="mdi-av-videocam"></i>
                  <% end %>
                  <%= f.link_to_add :history_files, "data-target" => "#file_pdf", onclick:"$('#file_pdf').show()"  do %>
                  <i class="mdi-editor-attach-file"></i>
                  <% end %>
                  <%= f.check_box :finish , class:"check_form" %>
                  <%= f.label :finish do %>
                  &nbsp;
                  <% end %>
                </div>

                <!-- Dropdown Structure -->

                <%= button_tag type: :submit, class:"waves-effect waves-light btn" do %>
                <i class="mdi-maps-rate-review left"></i>Salvar
                <% end %>
              </div>
            </div>
            <% end   %>
          </div>
          <!-- AddPhotos -->
          <% end %>
        </div>
        <!--/ profile-page-wall-share -->

        <!-- profile-page-wall-posts -->
        <div id="profile-page-wall-posts" class="row">
          <div class="col s12">
            <% @histories.each do |history|  %>
            <!-- medium -->
            <div id="profile-page-wall-post" class="card">
              <div class="card-profile-title">
                <div class="row">
                  <div class="col s1">
                    <img src="<%= history.user.toauth_fast[:photo] %>" alt="" class="circle responsive-img valign profile-post-uer-image">                        
                  </div>
                  <div class="col s10">
                    <p class="grey-text text-darken-4 margin">
                      <%= history.user.name  %>
                    </p>
                    <span class="grey-text text-darken-1 ultra-small">
                      <% if history.step.project != @project %>
                      <%= link_to history.step.project.name,  history.step.project  %> >  
                      <% end %>

                      <%= link_to history.step.name, project_path(history.step.project, step: history.step.id)  %> |
                      
                      Enviado em  <%= history.created_at  %> 
                    </span>
                  </div>
                  <div class="col s1 right-align">
                    <a class="btn activator  waves-effect waves-light darken-2 ">
                      <i class="mdi-editor-attach-file"></i>
                    </a>
                    <% if can? :update, @project %>
                    <%= link_to edit_history_path(history), class:"btn cyan waves-effect waves-light darken-2" do %> 
                    <i class="mdi-image-edit"></i>
                    <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <p> <%= raw history.description %></p>
                  </div>
                </div>
              </div>
              <% if  history.photos.present?  %>                         
              <div class="card-image profile-medium" style="height: auto;">  
                <div class="slider">
                  <ul class="slides">
                    <% history.photos.each do |photo|  %>
                    <li>
                      <img src="<%= photo.file.url  %>">
                      <!-- random image -->
                      <div class="caption right-align">
                        <h5 style=" background-color: #00BCD4;opacity: 0.5;-moz-opacity:0.5;-webkit-opacity:0.5;">
                          <%= photo.name %>
                        </h5>
                      </div>
                    </li>
                    <% end %>
                  </ul>
                </div>                        
                <p>&nbsp;</p>
              </div>
              <% end %>
              <% history.videos.each do |video|  %>                         
              <div class="card-image profile-medium">
                <div class="video-container" >                  
                  <video src="<%= video.file.url %>" controls="true" width="100%" height="320px" poster="/materialize/images/user-profile-bg.jpg" style='background-image: url("/materialize/images/user-profile-bg.jpg");'></video>
                </div>
              </div>
              <% end %>
              <% history.links.each do |link| %>
                <div class="card blue darken-2">                
                  <div class="row">
                    <div class="card-panel col s10 offset-s1">
                       <a href="<%= link  %>" class="embedly-card">Embedly</a>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Anexos <i class="mdi-navigation-close right"></i></span>                 
                <ul id="projects-collection" class="collection">
                  <% history.history_files.each do |hf|  %>
                  <li class="collection-item">
                    <div class="row">
                      <div class="col s6">
                        <p class="collections-title"><%= hf.name %></p>
                        <p class="collections-content"><%= number_to_human_size(hf.file.size) %></p>
                      </div>
                      <div class="col s3">
                        <span class="task-cat cyan"><%= hf.type  %></span>
                      </div>
                      <div class="col s3">
                        <%= link_to "Download", hf.file.url, class:"btn cyan", target:"_blank"  %>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>                    
              </div>                   
            </div>
              
            <% end %>                   
          </div> 
        </div>
        <%= paginate(@histories)  %>              
        <!--/ profile-page-wall-posts -->

      </div>
      <!--/ profile-page-wall -->

    </div>
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Pontualidade', <%= @project.indice_pontualidade %>],
        ['Atualização', <%= @project.indice_atualizacao %>]
        ]);

      var options = {
        width: 240, height: 120,
        redFrom: 0, redTo: 50,
        yellowFrom:50, yellowTo: 70,
        greenFrom:70, greenTo: 100,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">
    function set_type (el) {
      var media_type = el.parent('div').parent('div').parent('div').parent('div').children('.val_type').val()
      el.parent('div').parent('div').parent('div').children('.file_type').val(media_type)
    }

    function show_file_div(){

    }
  </script>

