<iframe src="http://sistemas.saude.to.gov.br/Eletivas/gerenciamento" frameborder="0" width="100%" height="1400" id="painel"></iframe>
<script type="text/javascript" charset="utf-8">
    //$("#painel").height(window.innerHeight - 100)
</script>