<h4>Integra Saúde</h4>
<a href="/saude/ocupacao">
  <div class="card-panel">
    <h4 class="header">Ocupação dos Hospitais</h4>
  </div>
</a>
<a href="/saude/cirurgias_eletivas">
  <div class="card-panel">
    <h4 class="header">Cirurgias Eletivas</h4>
  </div>
</a>
<a href="/saude/estoque">
  <div class="card-panel">  
    <h4 class="header">Estoque de Medicamentos</h4>
  </div>
</a>
<a href="/saude/medicamentos">
  <div class="card-panel">
    <h4 class="header">Medicamentos Padronizado</h4>
  </div>
</a>

