<div class="row">
  <div class="col s12 m6 offset-m3">
    <iframe src="http://sistemas.saude.to.gov.br/paineis/index.php?actAppBase=b2N1cGFjYW89b2N1cGFjYW9faG9zcGl0YWlz" frameborder="0" width="100%" height="5000" id="painel"></iframe>
  </div>
</div>