<%= form_for(@history_file) do |f| %>
  <% if @history_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history_file.errors.count, "error") %> prohibited this history_file from being saved:</h2>

      <ul>
      <% @history_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.text_area :file %>
  </div>
  <div class="field">
    <%= f.label :history_id %><br>
    <%= f.text_field :history_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
