<p id="notice"><%= notice %></p>

<h1>Listing History Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File</th>
      <th>History</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_files.each do |history_file| %>
      <tr>
        <td><%= history_file.name %></td>
        <td><%= history_file.file %></td>
        <td><%= history_file.history %></td>
        <td><%= history_file.type %></td>
        <td><%= link_to 'Show', history_file %></td>
        <td><%= link_to 'Edit', edit_history_file_path(history_file) %></td>
        <td><%= link_to 'Destroy', history_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History file', new_history_file_path %>
