<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @history_file.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @history_file.file %>
</p>

<p>
  <strong>History:</strong>
  <%= @history_file.history %>
</p>

<p>
  <strong>Type:</strong>
  <%= @history_file.type %>
</p>

<%= link_to 'Edit', edit_history_file_path(@history_file) %> |
<%= link_to 'Back', history_files_path %>
