<style type="text/css">
	@media only screen and (max-width: 450px) {
   		#text_monitora_widget { font-size: 175%; }
	}
</style>

<%= link_to root_url do  %>
<div style="width:100%">
    <img src="http://<%= request.host  %>/images/widget.png" width="100%" id="image_monitora_widget">
    <div id="text_monitora_widget" style="position: relative; text-align: center; width:90%; padding-left:10%" >
      <p>O tocantins já recuperou até o momento:</p>
      <span style="font-size: x-large;" ><b><%= indicator.last_data.value%> kms</b></span><br>
      de rodovias<br>
    </div>
  </div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga_monitora');

  ga_monitora('create', 'UA-80190340-1', 'auto');
  ga_monitora('send', 'pageview');


</script>

