<div class="col s12 m3">
  <div class="card-panel  red" onclick="toggle_orcamento()">
    <div class="row">        
      <div class="s12 center">
        <i class="fa fa-pie-chart fa-4x white-text center" ></i>
      </div>
    </div>
    <h4 class="white-text center">
      Despesa
    </h4>
    <div class="white-text center">
      Execução Orçamentária Extraída do SIAFEM - Relorc
    </div>
    <div id="sub_orcamento">      
      <%= link_to pub_orcamento_path do  %>     
      <div class="card-panel  red darken-3" data-step="1" data-intro="Aqui você verá um relatório da execução financeira do Estado." data-position='left'>
        <h5 class="white-text">
          Relatório Geral
        </h5>
      </div>
      <% end %>
      <%= link_to convenios_path do  %>     
      <div class="card-panel  red darken-3" data-step="2" data-intro="Nesse ícone você tem acesso aos convênios do Estado." data-position='left'>
        <h5 class="white-text">
          Convênios
        </h5>
      </div>
      <% end %>
    </div>
  </div>
</div>
