<h3 class="center">Entregas Prioritárias</h3>
<div class="row">
	<% @committals.each do |committal| %>
	<div class="col s12 m6 offset-m3">
		<div class="blog-card">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img src="<%= committal.photo %>" alt="blog-img">
				</div>
				<ul class="card-action-buttons">
					<li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
					</li>                            
					<li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
					</li>
				</ul>
				<div class="card-content">
					<h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4"><%= committal.name %></a>
					</h4>                                        
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i><%= committal.name %></span>
					<p><%= committal.description %></p>
					<a href="#" class="btn">Como Está a Entrega?</a>* <br>
					*Nesta parte iria o último histórico autorizado pela secom.
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
	</div>
	<% end %>
</div>