<div class="row">
	<div class="col s12 m4">
		<%= link_to pub_indicadores_path do  %>      
		<div class="card-panel  blue center" data-step="1" data-intro="Clicando aqui você tera acesso à infomações do resultado dos indicadores do Anexo IX do PPA 2016/2019 e ver o que o Governo do Estado está fazendo para alcançar suas metas." data-position='left'>
			<div class="row">        
				<div class="s12 center">
					<i class="fa fa-line-chart fa-4x white-text center"></i>
				</div>
			</div>
			<h4 class="white-text">
				Indicadores Prioritários
			</h4>
			<span class="white-text">
				Anexo IV PPA
			</span>
		</div>
		<% end %>  
	</div>
  <%= link_to "http://planejamento.monitora.to.gov.br/plan_versions/2" do  %>
	<div class="col s12 m4">      
		<div class="card-panel  purple center">
			<div class="row">        
				<div class="s12 center">
					<i class="fa fa-line-chart fa-4x white-text center"></i>
				</div>
			</div>
			<h4 class="white-text">
				Planeja <br> Tocantins
			</h4>
			<span class="white-text">
				Consulte nosso PPA
			</span>
		</div> 
	</div>
  <% end %>
	<%= link_to orcamento_menu_path do  %>
	<div class="col s12 m4">
		<div class="card  red" data-step="2" data-intro="Já aqui você pode monitorar as receitas e despesas do Estado do Tocantins de maneira transparente e intuitiva." data-position='left'>
			<div class="card-content">
				<div class="row">        
					<div class="s12 center">
						<i class="fa fa-signal fa-4x white-text center" ></i>
					</div>
				</div>
				<h4 class="white-text center">
					Orçamento <br> do Estado
				</h4>
				<div class="white-text center">
					Receitas e Execução Financeira do Estado
				</div>
			</div>
		</div>
	</div>

	<% end %>
</div>
<div class="row">
	<%= link_to lrf_path do  %>
	<div class="col s12 m4">
		<div class="card  indigo ">
			<div class="card-content">
				<div class="row">        
					<div class="s12 center">
						<i class="fa fa-pie-chart fa-4x white-text center" ></i>
					</div>
				</div>
				<h4 class="white-text center">
					LRF
				</h4>
				<div class="white-text center">
					Lei de Responsabilidade Fiscal
				</div>
			</div>
		</div>
	</div>  
	<% end %>


  <div class="col s12 m4">
    <%= link_to tocantins_em_numeros_path do  %>
        <div class="card-panel  cyan center">
          <div class="row">
            <div class="s12 center">
              <i class="fa fa-bar-chart fa-4x white-text center"></i>
            </div>
          </div>
          <h4 class="white-text">
            Estatísticas
          </h4>
          <span class="white-text">
        Dados Relevantes
      </span>
        </div>
    <% end %>
  </div>
	<div class="col s12 m4">
		<%= link_to "http://portal.to.gov.br/galeria/" do  %>      
		<div class="card-panel green center">
			<div class="row">        
				<div class="s12 center">
					<i class="fa fa-whatsapp fa-4x white-text center"></i>
				</div>
			</div>
			<h4 class="white-text">
				Zap Tocantins
			</h4>
				<div class="white-text center">
					Notícias do Governo do Tocantins
				</div>
		</div>
		<% end %>  
	</div>
</div>