<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
	<% @contratos.each do |grupo, contratos|  %>
	<li>
		<div class="collapsible-header "><%= grupo  %></div>
		<div class="collapsible-body">
			<div class="card-panel row">
				<% contratos.each do |contrato| %>
				<div class="col s12 m6">
					<div class="card-panel blue white-text">
						<h5>
							<%= contrato.nome_item  %>
						</h5>
						<h6>Total Contratado: <%= contrato.quant_total_contratada  %> <%= contrato.sigla_unidade_med  %></h6>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</li>
	<% end %>
</ul>
