<div class="row">
	<div class="col s12 m4">
		<%= link_to "/publico/secretario?code=#{params[:code]}" do  %>
		<div class="card-panel  blue center" data-step="1" data-intro="Clicando aqui você tera acesso à infomações do resultado dos indicadores do Anexo IX do PPA 2016/2019 e ver o que o Governo do Estado está fazendo para alcançar suas metas." data-position='left'>
			<div class="row">        
				<div class="s12 center">
					<i class="fa fa-line-chart fa-4x white-text center"></i>
				</div>
			</div>
			<h4 class="white-text">
				Entrar
			</h4>
			<span class="white-text">
				Acesso Exlusivo Secretário David Torres
			</span>
		</div>
		<% end %>  
	</div>
</div>

<%= content_for :head_top do %>
  <link rel="manifest" href="manifest_secretario.json">
<% end %>