setTimeout(function() {
	$("#monitora_widget").html("<%= escape_javascript(render partial:'publico/banner', locals:{indicator:@indicator}) %>")
	setTimeout(function() {
	    var image = $("#image_monitora_widget").height()
	    var top_result = image * 0.73
	    $("#text_monitora_widget").css("top", "-" + top_result + "px")
	    $("#monitora_widget").css("height", image)
	  }, 1000);
}, 2000);
