<div class="card-panel">
  <%= nested_form_for(@twitter_poll) do |f| %>
  <% if @twitter_poll.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@twitter_poll.errors.count, "error") %> prohibited this twitter_poll from being saved:</h2>

    <ul>
      <% @twitter_poll.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="row">
    <div class="col s12">
      <h4 class="header">Parâmetros</h4>
      <ul id="projects-collection" class="collection">
        <li class="collection-item avatar">
          <i class="mdi-social-poll circle light-blue"></i>
          <span class="collection-header">Parâmetros de Pesquisa</span>
          <p>Informe como serõ feitas as consultas</p>
        </li>
        <%= f.fields_for :twitter_counts do |build|   %>
        <li class="collection-item">
          <div class="row card">
            <div class="col s4">
              <label>Texto</label>
              <%= build.text_field :text %>
            </div>
            <div class="col s3">
              <label>Grupo</label>
              <%= build.text_field :group_name %>
            </div>
            <div class="col s3">
              <%= build.check_box :good %>
              <%= build.label :good, "Dado Positivo"  %>
            </div>
            <div class="col s2">
              <%= build.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
              <i class="mdi-content-content-cut"></i>
              <% end %>
            </div>  
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="actions">
    <%= f.link_to_add "Novo Parâmetro", :twitter_counts, "data-target" => "#projects-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
    <%= f.submit "Salvar" , class:"btn" %>
  </div>
  <% end %>
</div>