<p id="notice"><%= notice %></p>

<h1>Listing Twitter Polls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_polls.each do |twitter_poll| %>
      <tr>
        <td><%= twitter_poll.name %></td>
        <td><%= twitter_poll.description %></td>
        <td><%= link_to 'Show', twitter_poll %></td>
        <td><%= link_to 'Edit', edit_twitter_poll_path(twitter_poll) %></td>
        <td><%= link_to 'Destroy', twitter_poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter poll', new_twitter_poll_path %>
