<div class="card-panel center white-text blue">
	<h4><%= @twitter_poll.name  %></h4>
	<p><%= @twitter_poll.description  %></p>
</div>
<div class="card-panel">
	<div id="piechart" style="width: 100%; height: 500px;"></div>
</div>

<%= content_for :head do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Resposta', 'Valor'],
          <% @twitter_poll.twitter_counts.group_by(&:group_name).each do |group, tweets| %>
          ['<%= group %>',    <%= tweets.sum{|t| t.value } %>],
          <% end %>
        ]);

        var options = {
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
<% end %>