<%= link_to emendas_path(year:2016) do  %>      
<div class="card-panel  red darken-2 center">
  <h1 class="white-text">
    2016
  </h1>
</div>
<% end %>  
<%= link_to emendas_path do  %>      
<div class="card-panel  red darken-2 center">
  <h1 class="white-text">
    2015
  </h1>
</div>
<% end %>  
