<style type="text/css">
	#profile-card .card-image {
		height: 60px;
	}
	#profile-card .card-profile-image {
		width: 90px;
		position: absolute;
		top: 2px;
		z-index: 1;
		cursor: pointer;
	}
</style>

<div class="row">
	<% @deputados.each do |deputado|  %>
	<div class="col s12 m6">
		<div id="profile-card" class="card">
			<div class="card-image cyan darken-4">
				<div class="white-text" style="margin-left: 120px; padding-top: 20px; font-size: x-large;">
					<%= deputado['name']  %>
				</div>
			</div>
			<div class="card-content">
				<img src="<%= deputado['img'] %>" alt="" class="circle responsive-img  card-profile-image">
				<%= link_to emendas_resume_path(source: deputado['source'], year: params[:year]), class:"btn-floating  btn-move-up waves-effect waves-light darken-2 right" do %>
					<i class="fa fa-plus"></i>
				<% end %>
				<br>
				<% if params[:year].blank? %>					
					<p>
						<b>Empenhado:</b> <%= number_to_currency(deputado['empenhado'])  %>
					</p>
					<p>
						<b>Liquidado:</b> <%= number_to_currency(deputado['liquidado'])  %>
					</p>
					<p>
						<b>Pago em 2015:</b> <%= number_to_currency(deputado['pago_2015'])  %>
					</p>
					<p>
						<b>Pago em 2016:</b> <%= number_to_currency(deputado['pago_2016'])  %>
					</p>
					<p>
						<b>Total Pago:</b> <%= number_to_currency(deputado['total'])  %>
					</p>
				<% else %>
					<p>
						<b>Disponibilizado:</b> <%= number_to_currency(deputado['total'])  %>
					</p>
					<p>
						<b>Solicitado:</b> <%= number_to_currency(deputado['solicitado'])  %>
					</p>
					<p>
						<b>Empenhado:</b> <%= number_to_currency(deputado['empenhado'])  %>
					</p>
					<p>
						<b>Liquidado:</b> <%= number_to_currency(deputado['liquidado'])  %>
					</p>
					
					<p>
						<b>Pago:</b> <%= number_to_currency(deputado['pago'])  %>
					</p>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>