<p>&nbsp;</p>
<%= link_to "Voltar", emendas_path(year: params[:year]), class:"btn" %>
<div class="card">
<table class="striped responsive-table">
<% if params[:year].blank? %>	
	<thead>
		<th>Processo</th>
		<th>UG</th>
		<th>Credor</th>
		<th>Município</th>
		<th>Empenhado</th>
		<th>Liquidado</th>
		<th>Pago 2015</th>
		<th>Pago 2016</th>
		<th>A Pagar</th>
	</thead>
	<tbody>		
		<% @emendas.each do |emenda|  %>
			<tr onclick="swal('Objeto', '<%= emenda[16] ||'Não Especificado'  %>')" class="row">
				<td><%= emenda[5]  %></td>
				<td><%= emenda[2]  %></td>
				<td><%= emenda[8]  %></td>
				<td><%= emenda[17]  %></td>
				<td><%= number_to_currency(emenda[9])  %></td>
				<td><%= number_to_currency(emenda[11])  %></td>
				<td><%= number_to_currency(emenda[12])  %></td>
				<td><%= number_to_currency(emenda[13])  %></td>
				<td><%= number_to_currency(emenda[14])  %></td>
			</tr>
		<% end %>
	</tbody>
	<% else %>
	<thead>
		<th>Processo</th>
		<th>UG</th>
		<th>Credor</th>
		<th>Município</th>
		<th>Solicitado</th>
		<th>Empenhado</th>
		<th>Liquidado</th>
		<th>Pago</th>
	</thead>
	<tbody>		
		<% @emendas.each do |emenda|  %>
			<tr onclick="swal('Objeto', '<%= emenda[13] ||'Não Especificado'  %>')" class="row">
				<td><%= emenda[2]  %></td>
				<td><%= emenda[11]  %></td>
				<td><%= emenda[9]  %></td>
				<td><%= emenda[10]  %></td>
				<td><%= number_to_currency(emenda[14])  %></td>
				<td><%= number_to_currency(emenda[15])  %></td>
				<td><%= number_to_currency(emenda[16])  %></td>
				<td><%= number_to_currency(emenda[17])  %></td>
			</tr>
		<% end %>
	</tbody>
<% end %>
</table>
</div>
<%= content_for :scripts do  %>
<script type="text/javascript">
	toggle_sidebar()
</script>
<% end %>