<p id="notice"><%= notice %></p>

<h1>Listing Steps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Estimated date</th>
      <th>Finish date</th>
      <th>Status</th>
      <th>Description</th>
      <th>Percent</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.estimated_date %></td>
        <td><%= step.finish_date %></td>
        <td><%= step.status %></td>
        <td><%= step.description %></td>
        <td><%= step.percent %></td>
        <td><%= step.project %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %>
