<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Estimated date:</strong>
  <%= @step.estimated_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @step.finish_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @step.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @step.description %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @step.percent %>
</p>

<p>
  <strong>Project:</strong>
  <%= @step.project %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
