<%= form_for(@statistic_history) do |f| %>
  <% if @statistic_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistic_history.errors.count, "error") %> prohibited this statistic_history from being saved:</h2>

      <ul>
      <% @statistic_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statistic_id %><br>
    <%= f.text_field :statistic_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :caret %><br>
    <%= f.text_field :caret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
