<p id="notice"><%= notice %></p>

<h1>Listing Statistic Histories</h1>

<table>
  <thead>
    <tr>
      <th>Statistic</th>
      <th>Date</th>
      <th>Value</th>
      <th>Caret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistic_histories.each do |statistic_history| %>
      <tr>
        <td><%= statistic_history.statistic %></td>
        <td><%= statistic_history.date %></td>
        <td><%= statistic_history.value %></td>
        <td><%= statistic_history.caret %></td>
        <td><%= link_to 'Show', statistic_history %></td>
        <td><%= link_to 'Edit', edit_statistic_history_path(statistic_history) %></td>
        <td><%= link_to 'Destroy', statistic_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic history', new_statistic_history_path %>
