<p id="notice"><%= notice %></p>

<p>
  <strong>Statistic:</strong>
  <%= @statistic_history.statistic %>
</p>

<p>
  <strong>Date:</strong>
  <%= @statistic_history.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @statistic_history.value %>
</p>

<p>
  <strong>Caret:</strong>
  <%= @statistic_history.caret %>
</p>

<%= link_to 'Edit', edit_statistic_history_path(@statistic_history) %> |
<%= link_to 'Back', statistic_histories_path %>
