<h4 class="center">Controle de Gastos</h4>
<div class="row">
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "3943", title: "Consumo de Energia Elétrica") do %>
      <div class="card-panel red">
        <p class="center"><i class="fa fa-plug fa-4x white-text center" ></i></p>
        <h4 class="header2 white-text center">
          <b>Energia Elétrica</b>
        </h4>
      </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "3944", title: "Consumo de Água e Esgoto") do %>
      <div class="card-panel blue">
        <p class="center"><i class="fa fa-tint fa-4x white-text center" ></i></p>
        <h4 class="header2 white-text center">
          <b>Água e Esgoto</b>
        </h4>
      </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "3993", title: "Gastos de Telefonia Fixa") do %>
    <div class="card-panel green">
      <p class="center"><i class="fa fa-phone fa-4x white-text center" ></i></p>
      <h4 class="header2 white-text center">
        <b>Telefonia Fixa</b>
      </h4>
    </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "3992", title: "Gastos de Telefonia Móvel") do %>
    <div class="card-panel teal">
      <p class="center"><i class="fa fa-mobile fa-4x white-text center" ></i></p>
      <h4 class="header2 white-text center">
        <b>Telefonia Móvel</b>
      </h4>
    </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "3910", title: "Locação de Imóveis") do %>
    <div class="card-panel brown">
      <p class="center"><i class="fa fa-home fa-4x white-text center" ></i></p>
      <h4 class="header2 white-text center">
        <b>Locação de Imóveis</b>
      </h4>
    </div>
    <% end %>
  </div>
  <div class="col s12 m4">
    <%= link_to economia_subitem_path(subitem: "1401", title: "Diárias Civil no País") do %>
    <div class="card-panel indigo">
      <p class="center"><i class="fa fa-plane fa-4x white-text center" ></i></p>
      <h4 class="header2 white-text center">
        <b>Diárias</b>
      </h4>
    </div>
    <% end %>
  </div>
  <div class="col s12">
    <%= link_to economia_ranking_path do %>
        <div class="card-panel orange">
          <p class="center"><i class="fa fa-trophy fa-4x white-text center" ></i></p>
          <h4 class="header2 white-text center">
            <b>Ranking Fonte 0100</b>
          </h4>
        </div>
    <% end %>
  </div>
</div>
