<script src="https://cdn.jsdelivr.net/npm/excellentexport@2.0.3/excellentexport.min.js"></script>

<h4 class="center">Ranking do Controle de Gastos</h4>
<div class="card-panel">

  <table class="striped table table-responsive" id="datatable">
    <thead>
      <th>#</th>
      <th>Unidade Orçamentária</th>
      <th>Jan/Mai</th>
      <th>Meta Mensal</th>
      <th>Meta no Período</th>
      <th>Junho/<%= @month_name %></th>
      <th>Redução Realizada</th>
    </thead>
    <tbody>
      <% @data.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item[:name] %></td>
          <td><%= number_to_currency(item[:may]) %></td>
          <td><%= number_to_currency(item[:goal_month]) %></td>
          <td><%= number_to_currency(item[:goal]) %></td>
          <td><%= number_to_currency(item[:result_value]) %></td>
          <td class="<%= ranking_color(item[:reduction] || 0) %>"><%=item[:reduction] || 0 %> %</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="card-panel">
    <%= form_tag(economia_ranking_path, method: :get) do %>
        <%= select_tag 'month', options_for_select(6..Date.today.month - 1, @month) %>
        <%= button_tag "Atualizar Mês", type: :submit, class:"btn green" %>
    <% end %>
    <a download="ranking.xls" href="#" onclick="return ExcellentExport.excel(this, 'datatable', 'Ranking');" class="btn">Exportar para o Excel</a>
  </div>
</div>
