<h4 class="center">
  <%= params[:title] %> <br>
  <% if params[:ug].present? %>
    <small>UG - <%= @entities.detect{|a| a[1] == params[:ug].to_i}[0] %></small>
  <% end %>
</h4>

<div class="card-panel no-print">
  <h4 class="header2" onclick="toogle_div('#filter')">Filtrar por UO</h4>
  <div class="not-show" id="filter">
    <%= form_tag(economia_subitem_path, method: :get, id:"form-filter") do %>
        <%= hidden_field_tag :subitem, params[:subitem] %>
        <%= hidden_field_tag :title, params[:title] %>
        <div class="row">
          <div class="col s10">
            <%= select_tag :ug, options_for_select(@entities) %>
          </div>
          <div class="col s2">
            <%= button_tag "Filtrar", type: :submit, class: "btn teal" %>
            <%= link_to  "Limpar", economia_subitem_path(subitem: params[:subitem], title: params[:title]), class: "btn" %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="card-panel">
  <%= column_chart @data_chart %>
</div>

<div class="card-panel">
  <%= line_chart @data_chart %>
</div>
