<h5 class="center">Relatórios de Despesa</h5>
<%= link_to despesa_balanco_path do %>
    <div class="card-panel">
      Balanço Orçamentário
    </div>
<% end %>
<%= link_to despesa_natureza_path do %>
    <div class="card-panel">
      Despesas por Grupo de Despesa
    </div>
<% end %>
<%= link_to despesa_comparativo_path do %>
    <div class="card-panel">
      Comparativo da Despesa com Anos Anteriores
    </div>
<% end %>
<%= link_to despesa_dea_path(q:{source_id_in:[1, 19, 24, 12, 9, 11]}) do %>
    <div class="card-panel">
      Despesas de Excercícios Anteriores - DEA
    </div>
<% end %>
<%= link_to despesa_insuficiencia_path do %>
    <div class="card-panel">
      Insuficiencia Financeira
    </div>
<% end %>
