<h4 class="center">
  Balanço Orçamentário - Todas as Fontes <br>
  <small>Referentes à <%= Date.today - 1.day %> </small>
</h4>

<div class="row">
  <div class="col s12 m6">
    <div class="card gradient-45deg-purple-light-blue">
      <div class="card-content  white-text" style="border-bottom: dashed;">
        <h5>Arrecadado</h5>
      </div>
      <div class="card-content   white-text" data-step="4" data-intro="Aqui mostra quanto de receita o Governo já arrecadou, caso você tenha colocado algum filtro esse valor corresponde a soma de todas as receitas que atendem aos requisitos dos filtros indicados." data-position='left'>
        <h4 class="white-text" ><%= number_to_currency(@data[:arrecadado]) %></h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card gradient-45deg-purple-light-blue">
      <div class="card-content  white-text" style="border-bottom: dashed;">
        <div class="right" data-step="3" data-intro="Aqui mostra qual o percentual do previsto já arrecadamos. Por exemplo, se o previsto é 100 e arrecadamos 10 aqui será 10%." data-position='left'>
          <h5><%= @data[:percentual]  %>%</h5>
        </div>
        <h5>Liquidado</h5>
      </div>
      <div class="card-content   white-text" data-step="4" data-intro="Aqui mostra quanto de receita o Governo já arrecadou, caso você tenha colocado algum filtro esse valor corresponde a soma de todas as receitas que atendem aos requisitos dos filtros indicados." data-position='left'>
        <h4 class="white-text" ><%= number_to_currency(@data[:liquidado]) %></h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card gradient-45deg-purple-light-blue">
      <div class="card-content  white-text" style="border-bottom: dashed;">
        <h5>Arrecadado - Liquidado</h5>
      </div>
      <div class="card-content   white-text" data-step="4" data-intro="Aqui mostra quanto de receita o Governo já arrecadou, caso você tenha colocado algum filtro esse valor corresponde a soma de todas as receitas que atendem aos requisitos dos filtros indicados." data-position='left'>
        <h4 class="white-text" ><%= number_to_currency(@data[:diferenca]) %></h4>
      </div>
    </div>
  </div>

</div>

