<h4 class="center">
  Comparativo de Despesas <br>
  <small>Despesas Realizadas até <%= @data[:inicial_date].to_datetime.strftime("%d/%m") %> de cada Ano </small>
</h4>
<%= form_tag(despesa_comparativo_path, method: :post, id:"form-filter") do %>
    <div class="card no-print" style="overflow: visible" data-step="1" data-intro="Você pode clicar aqui e isso te permitirá gerar um relatório da execução financeira por fonte, órgão, natureza de despeza, modalidade de despesa e até mesmo ação." data-position='left'>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" onclick="toogle_div('#filter_tag')">Filtrar Dados</span>
        <div id="filter_tag" class="not-show">
          <label> Data de Referência</label>
          <%= text_field_tag :date, params[:date], class:"datepicker" %>
          <%= fields_for :q do |f| %>
              <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Poderes</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <div style="padding: 10px;">
                      <div class="card-panel white-text blue" onclick="select_executivo()">
                        Poder Executivo (Governo do Tocantins)
                      </div>
                      <div class="card-panel white-text red" onclick="select_legislativo()">
                        Poder Legislativo (Assembléia)
                      </div>
                      <div class="card-panel white-text indigo" onclick="select_judiciario()">
                        Poder Judiciário (TJ)
                      </div>
                      <div class="card-panel white-text green" onclick="select_defensoria()">
                        Defensoria Pública
                      </div>
                      <div class="card-panel white-text teal" onclick="select_mpe()">
                        Ministério Público
                      </div>
                      <div class="card-panel white-text amber" onclick="select_tce()">
                        Tribunal de Contas
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Fontes</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_source_id_in, @sources, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Grupos de Despesas</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_nature_id_in, @natures, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Modalidades</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_modality_id_in, @modalities, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Unidades Orçamentárias</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_entity_id_in, @entities, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true, id:"entity_select"} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Ações Orçamentárias</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_deed_id_in, @deeds, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
              </ul>
          <% end %>
          <p>
            <%= submit_tag "Filtrar", class:"btn teal" %>
            <%= link_to "Limpar Filtro", despesa_comparativo_path, class:"btn" %>
          </p>
        </div>
      </div>

    </div>
<% end %>
<div class="card-panel">
  <table class="striped responsive-table">
    <thead class="hide-on-med-and-down">
    <th class="center">Grupo de Despesa</th>
    <th colspan="3" class="center">Liquidado</th>
    <th colspan="3" class="center">Pago</th>
    </thead>
    <thead>
    <th><b>Nome</b></th>
    <th><b> <span class="hide-on-med-and-up">Liq.</span><%= @data[:inicial_date].to_date.year %></b></th>
    <th><b><span class="hide-on-med-and-up">Liq.</span><%= @data[:final_date].to_date.year %></b></th>
    <th>VAR %</th>
    <th><b><span class="hide-on-med-and-up">Pg.</span><%= @data[:inicial_date].to_date.year %></b></th>
    <th><b><span class="hide-on-med-and-up">Pg.</span><%= @data[:final_date].to_date.year %></b></th>
    <th>VAR %</th>
    </thead>
    <tbody>
    <% @data[:data].sort{|a, b| a[:nature] <=> b[:nature]}.each do |allocation| %>
        <tr class="center">
          <td><b><%= allocation[:nature] %></b></td>
          <td><%= number_to_currency(allocation[:inicial][:liquidated]) %></b></td>
          <td><%= number_to_currency(allocation[:final][:liquidated]) %></td>
          <td><%= calc_percent(allocation[:inicial][:liquidated], allocation[:final][:liquidated]) %></td>
          <td><%= number_to_currency(allocation[:inicial][:paid]) %></td>
          <td><%= number_to_currency(allocation[:final][:paid]) %></td>
          <td><%= calc_percent(allocation[:inicial][:paid], allocation[:final][:paid]) %></td>
        </tr>
    <% end %>
    <tr class="center">
      <td><b>TOTAL GERAL</b></td>
      <td><%= number_to_currency(l1 = @data[:data].sum{|a| a[:inicial][:liquidated].to_i}) %></b></td>
      <td><%= number_to_currency(l2 = @data[:data].sum{|a| a[:final][:liquidated].to_i}) %></td>
      <td><%= calc_percent(l1,l2) %></td>
      <td><%= number_to_currency(p1 = @data[:data].sum{|a| a[:inicial][:paid].to_i}) %></b></td>
      <td><%= number_to_currency(p2 = @data[:data].sum{|a| a[:final][:paid].to_i}) %></td>
      <td><%= calc_percent(p1,p2) %></td>
    </tr>
    </tbody>
  </table>
</div>
<%= content_for :scripts do  %>
    <script type="text/javascript">
      $('.chosen-select_1').chosen()
      function select_executivo() {
        var values = "54,69,75,74,51,76,7,28,33,30,34,67,49,64,50,20,18,58,72,53,37,40,59,61,39,35,8,48,14,3,36,5,65,46,62,45,38,56,44,57,10,9,70,71,2,52,29,32,11,12,73,47,55,41,19,63,60,66,15,43,31,68,17,16,1,42,6,27"
        change_entity(values)
      }

      function select_legislativo() {
        change_entity("4")
      }

      function select_judiciario() {
        change_entity("23,24")
      }

      function select_defensoria() {
        change_entity("13,14")
      }

      function select_mpe() {
        change_entity("25,26")
      }

      function select_tce() {
        change_entity("21,22")
      }

      function change_entity(values) {
        $('#entity_select').val('')
        $.each(values.split(","), function(i,e){
          $("#entity_select option[value='" + e + "']").prop("selected", true);
        });
        $('#entity_select').trigger('chosen:updated');
        $("#form-filter").submit();
      }
    </script>
<% end %>