<h4 class="center">
  Grupos de Despesa (<%= @data[:date].to_date %>)
</h4>
<%= form_tag(despesa_natureza_path, method: :post, id:"form-filter") do %>
    <div class="card no-print" style="overflow: visible" data-step="1" data-intro="Você pode clicar aqui e isso te permitirá gerar um relatório da execução financeira por fonte, órgão, natureza de despeza, modalidade de despesa e até mesmo ação." data-position='left'>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" onclick="toogle_div('#filter_tag')">Filtrar Dados</span>
        <div id="filter_tag" class="not-show">
          <label> Data de Referência</label>
          <%= text_field_tag :date, params[:date], class:"datepicker" %>
          <%= fields_for :q do |f| %>
              <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Poderes</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <div style="padding: 10px;">
                      <div class="card-panel white-text blue" onclick="select_executivo()">
                        Poder Executivo (Governo do Tocantins)
                      </div>
                      <div class="card-panel white-text red" onclick="select_legislativo()">
                        Poder Legislativo (Assembléia)
                      </div>
                      <div class="card-panel white-text indigo" onclick="select_judiciario()">
                        Poder Judiciário (TJ)
                      </div>
                      <div class="card-panel white-text green" onclick="select_defensoria()">
                        Defensoria Pública
                      </div>
                      <div class="card-panel white-text teal" onclick="select_mpe()">
                        Ministério Público
                      </div>
                      <div class="card-panel white-text amber" onclick="select_tce()">
                        Tribunal de Contas
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Fontes</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_source_id_in, @sources, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Grupos de Despesas</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_nature_id_in, @natures, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Modalidades</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_modality_id_in, @modalities, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Unidades Orçamentárias</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_entity_id_in, @entities, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true, id:"entity_select"} %>

                    </p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Ações Orçamentárias</div>
                  <div class="collapsible-body light-blue lighten-5">
                    <p class="row">

                      <%= f.select :allocation_deed_id_in, @deeds, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

                    </p>
                  </div>
                </li>
              </ul>
          <% end %>
          <p>
            <%= submit_tag "Filtrar", class:"btn teal" %>
            <%= link_to "Limpar Filtro", despesa_comparativo_path, class:"btn" %>
          </p>
        </div>
      </div>

    </div>
<% end %>
<div class="card-panel">
  <h4 class="header2">Empenhado</h4>
  <%= pie_chart @data[:data].map{|a| [ a[:nature], a[:commited] ]} , adapter: "google" %>
</div>
<div class="card-panel">
  <h4 class="header2">Liquidado</h4>
  <%= pie_chart @data[:data].map{|a| [ a[:nature], a[:liquidated] ]} , adapter: "google" %>
</div>
<div class="card-panel">
  <h4 class="header2">Pago</h4>
  <%= pie_chart @data[:data].map{|a| [ a[:nature], a[:paid] ]} , adapter: "google" %>
</div>
<div class="card-panel">
  <h4 class="header2">Resumo</h4>
  <table class="striped responsive-table">
    <thead>
      <th>Grupo de Despesa</th>
      <th>Empenhado</th>
      <th>Liquidado</th>
      <th>Pago</th>
    </thead>
    <tbody>
      <% @data[:data].sort_by{|a| a[:nature]}.each do |item| %>
        <tr>
          <td><%= item[:nature] %></td>
          <td><%= number_to_currency(item[:commited]) %> (<%= calc_percent_total( @data[:total][:commited], item[:commited]) %>)</td>
          <td><%= number_to_currency(item[:liquidated]) %>  (<%= calc_percent_total( @data[:total][:liquidated], item[:liquidated]) %>)</td>
          <td><%= number_to_currency(item[:paid]) %> (<%= calc_percent_total( @data[:total][:paid], item[:paid]) %>)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= content_for :scripts do  %>
    <script type="text/javascript">
      $('.chosen-select_1').chosen()
      function select_executivo() {
        var values = "54,69,75,74,51,76,7,28,33,30,34,67,49,64,50,20,18,58,72,53,37,40,59,61,39,35,8,48,14,3,36,5,65,46,62,45,38,56,44,57,10,9,70,71,2,52,29,32,11,12,73,47,55,41,19,63,60,66,15,43,31,68,17,16,1,42,6,27"
        change_entity(values)
      }

      function select_legislativo() {
        change_entity("4")
      }

      function select_judiciario() {
        change_entity("23,24")
      }

      function select_defensoria() {
        change_entity("13,14")
      }

      function select_mpe() {
        change_entity("25,26")
      }

      function select_tce() {
        change_entity("21,22")
      }

      function change_entity(values) {
        $('#entity_select').val('')
        $.each(values.split(","), function(i,e){
          $("#entity_select option[value='" + e + "']").prop("selected", true);
        });
        $('#entity_select').trigger('chosen:updated');
        $("#form-filter").submit();
      }
    </script>
<% end %>