<div class="card-panel center">
  <h5>Relatório de Pessoal</h5>
  <p>Relatório com base nos servidores da última folha de pagamento da SECAD</p>
</div>

<%= search_form_for @q, url: despesa_pessoal_path do |f| %>
    <div class="card no-print" style="overflow: visible">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" onclick="toogle_div('#filter_tag')">Filtrar Dados</span>
        <div id="filter_tag" style="display:none">
          <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
            <li>
              <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Órgãos</div>
              <div class="collapsible-body light-blue lighten-5">
                <p class="row">
                  <%= f.select :orgao_in, @orgaos, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Tipo de Vínculo</div>
              <div class="collapsible-body light-blue lighten-5">
                <p class="row">
                  <%= f.select :tipo_vinculo_in, @vinculos, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Cargo</div>
              <div class="collapsible-body light-blue lighten-5">
                <p class="row">
                  <%= f.select :cargo_in, @cargos, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Função Comissionada</div>
              <div class="collapsible-body light-blue lighten-5">
                <p class="row">
                  <%= f.select :referencia_funcao__in, @funcoes, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>
                </p>
              </div>
            </li>
          </ul>
          <%= f.submit "Filtrar", class:"btn green" %> <%= link_to "Limpar", despesa_pessoal_path, class:"btn red" %>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content teal darken-2 white-text">
        <h5>Servidores</h5>
      </div>
      <div class="card-content  teal white-text">
        <h4 class="white-text"><%= number_with_delimiter(@counter) %></h4>
        quantidade de servidores
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content teal darken-2 white-text">
        <h5>Salários</h5>
      </div>
      <div class="card-content  teal white-text">
        <h4 class="white-text"><%= number_to_currency(@servidores.sum(:salario)) %></h4>
        soma dos salários dos cargos efetivos
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content teal darken-2 white-text">
        <h5>Gratificações</h5>
      </div>
      <div class="card-content  teal white-text">
        <h4 class="white-text"><%= number_to_currency(@servidores.sum(:gratificacao)) %></h4>
        soma do valor das gratificações
      </div>
    </div>
  </div>

</div>

<div class="card-panel">
  <h4 class="header2">Servidores por Vinculo</h4>
  <%= pie_chart @servidores.group(:tipo_vinculo).count %>
</div>
<%  if params[:q].blank?  %>
  <div class="card-panel">
    <h4 class="header2">Servidores por Órgão</h4>
    <%= bar_chart @servidores.group(:orgao).count, height: "600px" %>
  </div>

  <div class="card-panel">
    <h4 class="header2">Servidores por Cargo</h4>
    <%= bar_chart @servidores.group(:cargo).count, height: "4500px" %>
  </div>

  <div class="card-panel">
    <h4 class="header2">Servidores por Função</h4>
    <%= bar_chart @servidores.where.not(referencia_funcao_: nil).group(:referencia_funcao_).count, height: "1500px" %>
  </div>
<% else %>
    <div class="card-panel">
      <h4 class="header2">Servidores por Órgão</h4>
      <table>
        <thead>
        <th>Órgão</th>
        <th>Servidores</th>
        </thead>
        <tbody>
        <% @servidores.group(:orgao).count.each do |orgao, counter| %>
            <tr>
              <td><%= orgao  %></td>
              <td><%= counter %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-panel">
      <h4 class="header2">Servidores por Cargo</h4>
      <table>
        <thead>
          <th>Cargo</th>
          <th>Servidores</th>
        </thead>
        <tbody>
          <% @servidores.group(:cargo).count.each do |cargo, counter| %>
            <tr>
              <td><%= cargo || "Sem Cargo" %></td>
              <td><%= counter %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="card-panel">
      <h4 class="header2">Servidores por Função</h4>
      <table>
        <thead>
        <th>Cargo</th>
        <th>Servidores</th>
        </thead>
        <tbody>
        <% @servidores.group(:referencia_funcao_).count.each do |cargo, counter| %>
            <tr>
              <td><%= cargo || "Sem Função" %></td>
              <td><%= counter %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>
<%= content_for :scripts do  %>
    <script type="text/javascript" charset="utf-8">
      $('.chosen-select_1').chosen()
    </script>
<% end %>