<div class="card-panel">
	<h4>Comparativo de Despesas Liquidadas</h4>
	<div class="row">	
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Pessoal e Encargos Sociais</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 912.486.956,00
							</h5>
							<h5>
								<b>2015: </b> 1.195.191.102,30
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>22,9%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b> 1.605.329.076,11
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>34,3%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Juros e Encargos da Dívida</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 17.513.141,67
							</h5>
							<h5>
								<b>2015: </b> 29.252.677,94

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>67,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b> 34.031.578,47
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>16,3%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Outras Despesas Correntes</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 546.668.616,32
							</h5>
							<h5>
								<b>2015: </b> 507.238.342,30

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-7,2%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>443.820.982,49
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-12,5%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Investimentos + Inv. Financeiras</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 44.275.366,63
							</h5>
							<h5>
								<b>2015: </b> 24.414.258,81

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-44,9%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>115.716.417,32
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>374,0%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Amortização da Dívida</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 39.470.697,21
							</h5>
							<h5>
								<b>2015: </b> 35.727.857,56

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-9,5%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>55.972.119,09
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>56,7%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Total da Despesa</h5>
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 1.620.414.778,6
							</h5>
							<h5>
								<b>2015: </b> 1.791.824.238,9

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>10,6%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>2.254.870.173,5
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>25,8%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-panel">
	<h4>Comparativo de Despesas Pagas</h4>
	<div class="row">	
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Pessoal e Encargos Sociais</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 840.971.641,48
							</h5>
							<h5>
								<b>2015: </b> 900.598.041,35
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>7,1%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b> 1.001.444.755,01
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>11,2%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Juros e Encargos da Dívida</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 17.513.141,67
							</h5>
							<h5>
								<b>2015: </b> 29.252.677,94

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>67,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b> 34.031.578,47
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>16,3%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Outras Despesas Correntes</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 506.482.958,72
							</h5>
							<h5>
								<b>2015: </b> 17.664.748,96

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-46,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>109.510.449,73
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>519,9%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Investimentos + Inv. Financeiras</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 32.703.248,88
							</h5>
							<h5>
								<b>2015: </b> 17.664.748,96

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-46,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>109.510.449,73
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>519,9%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Amortização da Dívida</h5>		
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 39.470.697,21
							</h5>
							<h5>
								<b>2015: </b> 35.127.812,56

							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>-11,0%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>55.972.119,09
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>59,3%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m12">
			<div class="card">
				<div class="card-content blue darken-3 white-text">
					<h5>Total da Despesa</h5>
				</div>
				<div class="card-content  blue darken-2 white-text">
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2014: </b> 1.437.141.688,0
							</h5>
							<h5>
								<b>2015: </b> 1.463.435.853,6
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>1,8%</h4>
						</div>					
					</div>
					<div class="card-panel blue row">
						<div class="col s8">							
							<h5>
								<b>2016: </b>1.619.306.974,7
							</h5>
						</div>
						<div class="col s4">
							Variação
							<h4>10,7%</h4>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>