<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-panel">
    <div class="field">
      <%= f.label :name, "Nome" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </div>
    <%= f.fields_for :city_links do |cl| %>
      <%= cl.label :link, "Link para #{cl.object.category}"  %>
      <%= cl.hidden_field :category %>
      <%= cl.text_field :link  %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
