<script type="text/javascript" src="/angular/controllers/CityIndexController.js"></script>
<div class="row" ng-controller="CityIndexController">
  <div class="col s12 m6">
    <h4>Escolha um Município abaixo ou no mapa para ver os relatórios disponíveis</h4>
    <select ng-options="item as item.name for item in city_options track by item.id" ng-model="selected_city" class="browser-default" ng-change="show_city()"></select>
  </div>
  <div class="col s12 m6"><div id="map" style="width:100%px; height:600px" ></div></div>
</div>

<script>

  // This example displays a marker at the center of Australia.
  // When the user clicks the marker, an info window opens.

  function initMap() {
    var tocantins = {lat: -10.066737, lng: -48.8638458 };
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: tocantins,
      styles: [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#bdbdbd"
            }
          ]
        },
        {
          "featureType": "administrative.neighborhood",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "road",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dadada"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "transit",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        }
      ]
    });


    <% @cities.each do |city| %>
      var window_<%= city.id %> = new google.maps.InfoWindow({
        content: "<%= escape_javascript(render partial:"cities/links_map", locals:{city: city})  %>"
      });

      var marker_<%= city.id %> = new google.maps.Marker({
        position: {lat: <%= city.latitude %>, lng: <%= city.longitude %>},
        map: map,
        title: '<%= city.name %>'
      });

      marker_<%= city.id %>.addListener('click', function() {
        window_<%= city.id %>.open(map, marker_<%= city.id %>);
      });
    <% end %>

    var ctaLayer = new google.maps.KmlLayer({
      url: 'https://sites.google.com/a/gmapas.com/home/poligonos-ibge/poligonos-municipios-ibge-tocantins/Municipios_TO.kml',
      map: map,
    });

  }
  setTimeout(function(){initMap();}, 1000)
  setTimeout(function(){
    map.setZoom(7);
    map.setTilt(60);
  }, 3000)
</script>
