<p id="notice"><%= notice %></p>
<div class="card-panel">
    <h3 class="center">
      <%= @city.name %>
    </h3>
  <% @city.city_links.each do |cl| %>
      <%= link_to cl.link, target: :_blank do %>
        <div class="card-panel">
          <h4 class="header2">Relatório <%= cl.category %></h4>
        </div>
      <% end %>
  <% end %>

</div>