<div class="col s12">
	<div id="profile-card" class="card">
		<div class="card-image waves-effect waves-block waves-light image-fill" style="height:200px">
			<img class="activator" src="<%= committal.photo || "/bg-tocantins.jpg"  %>" alt="user bg" >
		</div>
		<div class="card-content">
			<div class="card-profile-image" style="top: 160px;">
				<i class="fa fa-5x <%= raw div_desempenho("Probabilidade", committal.probabilidade)[:icon] %>"></i> 
			</div>
			<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
				<i class="mdi-content-add"></i>
			</a>
			<div class="row">
				<div class="col s12">
					<span class="card-title activator grey-text text-darken-4">
						Entrega: <%= committal.name  %>
					</span>
					<% if committal.reply_committals.present? %>
					<div class="card-panel blue white-text">
						<%= committal.reply_committals.last.text %>			
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="card-reveal" style="display: none; transform: translateY(0px);">
			<span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i></span>
			<div class="row">
				<div class="col s12 m6">

					<p>
						<i class="mdi-action-autorenew"></i> 
						Status: Em Andamento
					</p>
					<p>
						<i class="mdi-editor-insert-invitation"></i> 
						Previsão de Início: <%= committal.start_date  %>
					</p>
					<p>
						<i class="mdi-editor-insert-invitation"></i> 
						Previsão de Entrega: <%= committal.estimate_date  %>
					</p>
					<p>
						<i class="mdi-av-timer"></i> 
						Probabilidade de Entrega: <%= committal.probabilidade  %>%
					</p>
					<p>
						<strong><i class="fa fa-usd"></i> Orçamento:</strong> <%= number_to_currency(committal.orcamento)   %>
					</p>
					<p>
						<strong><i class="fa fa-usd"></i> Empenhado:</strong> <%= number_to_currency(committal.empenhado) %>
					</p>
					<p>
						<strong><i class="fa fa-usd"></i> Liquidado:</strong> <%= number_to_currency(committal.liquidado)  %>
					</p>

				</div>
				<div class="col s12 m6">

					<div id="piechart_<%= committal.id  %>" style="width: 100%; height: 300px;"></div>
				</div>
			</div>
			<div class="row">					
				<div class="col s12 m3 row">
					<%= raw div_desempenho2("Tarefas Concluídas", committal.executado_fisico) %>
				</div>
				<div class="col s12 m3 row">
					<%= raw div_desempenho2("Execução Financeira", committal.executado_financeiro) %>
				</div>
				<div class="col s12 m3 row">
					<%= raw div_desempenho2("Contratado", committal.percentual_contratado) %>
				</div>
				<div class="col s12 m3 row">
					<%= raw div_desempenho2("Entrega no Prazo", committal.probabilidade) %>
				</div>	
			</div>

			<div class="row">					
				<%= link_to "Ver Projetos", projects_committal_path(committal), class:"btn btn-block btn-large blue col s6"  %>

				<%= link_to "Ver Evolução", committal, class:"btn btn-block btn-large green col s6"  %>
			</div>
		</div>
	</div>
</div>
<%# if committal.executado_financeiro > 4 %>
<% content_for :scripts do  %>
<script type="text/javascript">
	google.charts.setOnLoadCallback(piechart_<%= committal.id  %>);
	function piechart_<%= committal.id  %>() {

		var data = google.visualization.arrayToDataTable([
			['Dado', 'Valor'],
			['Executado',<%= committal.liquidado  %>],
			['Não Executado',<%= committal.saldo  %>]
			]);

		var options = {
			title: 'Execução da Entrega',
			colors: ['#8bbf61', '#d3362d'],
			is3D: true,
			pieSliceText: 'label', 
			slices: {  
				1: {offset: 0.2},
				2: {offset: 0.3},
			},
		};

		var pie_<%= committal.id  %> = new google.visualization.PieChart(document.getElementById('piechart_<%= committal.id  %>'));

		pie_<%= committal.id  %>.draw(data, options);
	}
</script>
<%# end %>
<% end %>	
