<%= nested_form_for(@indicator) do |f| %>
    <% if @indicator.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

          <ul>
            <% @indicator.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card-panel row">

      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name, "Nome" %>
      </div>
      <div class="input-field col s12">
        <%= f.check_box :contract %>
        <%= f.label :contract, "Contratualizado" %>
        <p>&nbsp;</p>
      </div>
      <div class=" col s12">
        <%= f.label :user_id, "Responsável por Atualização" %>
        <%= f.select :user_id, User.all.map { |u| [u.name,u.id]  }, {}, {class:"browser-default"} %>
      </div>
      <div class=" col s12">
        <%= f.label :gestor_id, "Gestor Responsável" %>
        <%= f.select :gestor_id, User.all.map { |u| [u.name,u.id]  }, {}, {class:"browser-default"} %>
      </div>
      <div class=" col s12">
        <%= f.label :user_id, "Trajetória Ideal" %>
        <%= f.select :type, Indicator.type.options, {}, {class:"browser-default"} %>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :description, class:"materialize-textarea" %>
        <label for="description" class="active">Descrição</label>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :identification, class:"materialize-textarea" %>
        <label for="identification" class="active">Identidade</label>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :color %>
        <label for="color" class="active">Cor</label>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :icon %>
        <label for="icon" class="active">Ícone</label>
      </div>
      <div class="input-field col s12">
        <%= f.text_field :measure %>
        <%= f.label :measure, "Unidade de Medida" %>
      </div>
      <div class="input-field col s12">
        <%= f.text_field :ord %>
        <%= f.label :ord, "Ordem" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :referencial %>
        <%= f.label :referencial, "Valor de Referência" %>
      </div>
      <div class="input-field col s6">
        <%= f.text_field :referencial_measure %>
        <%= f.label :referencial_measure, "Unidade de Medida da Referência" %>
      </div>
      <div class=" col s12">
        <%= f.label :twitter_poll_id, "Social Poll" %>
        <%= f.select :twitter_poll_id, TwitterPoll.all.map { |u| [u.name,u.id]  }, {include_blank:true}, {class:"browser-default"} %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="header">Metas do Indicador</h4>
        <ul id="projects-collection" class="collection">
          <li class="collection-item avatar">
            <i class="mdi-social-poll circle light-blue"></i>
            <span class="collection-header">Metas</span>
            <p>Planeje quando alcançaremos os indicadores</p>
          </li>
          <%= f.fields_for :goals do |goal|   %>
              <li class="collection-item">
                <div class="row card">
                  <div class="col s5">
                    <label>Quando acançaremos</label>
                    <%= goal.date_field :date %>
                  </div>
                  <div class="col s5">
                    <label>Valor Pretendido</label>
                    <%= goal.text_field :value %>
                  </div>
                  <div class="col s2">
                    <%= goal.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
                        <i class="mdi-content-content-cut"></i>
                    <% end %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= f.link_to_add "Nova Meta", :goals, "data-target" => "#projects-collection", class:"btn waves-effect waves-light  cyan darken-2" %>

    <div class="row">
      <div class="col s12">
        <h4 class="header">Entregas do Indicador</h4>
        <ul id="entrega-collection" class="collection">
          <li class="collection-item avatar">
            <i class="mdi-social-poll circle light-blue"></i>
            <span class="collection-header">Entregas</span>
            <p>Informe as entregas pretendidas para impactar no indicador</p>
          </li>
          <%= f.fields_for :committals do |committal|   %>
              <li class="collection-item">
                <div class="row card">
                  <div class="col s5">
                    <label>Nome da Entrega</label>
                    <%= committal.text_field :name %>
                  </div>
                  <div class="col s5">
                    <label>Descrição das Entregas</label>
                    <%= committal.text_field :description %>
                  </div>
                  <div class="col s2">
                    <%= committal.link_to_remove class:"btn-floating btn-flat waves-effect waves-light red accent-2 white-text" do %>
                        <i class="mdi-content-content-cut"></i>
                    <% end if committal.object.projects.blank? %>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= f.link_to_add "Nova Entrega", :committals, "data-target" => "#entrega-collection", class:"btn waves-effect waves-light  cyan darken-2" %>
    <% if !@indicator.new_record? %>
    <div class="card-panel" ng-controller="IndicatorFormController">
      <h4 class="header2">Ações do Planeja</h4>
      <ul ng-repeat="deed in deeds" class="collection">
        <li class="collection-item">
          <div class="row">
            <div class="col s10">
              <label>Ação</label> <br>
              {{deed.code}} - {{deed.name}}
            </div>
            <div class="col s2">
              <div class="btn-floating btn-flat waves-effect waves-light red accent-2 white-text" ng-click="remove_deed(deed.id)">
                <i class="mdi-content-content-cut"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-panel">
        <div class="row">
          <div class="col s12 m4">
            <input type="text" ng-model="deed_code" placeholder="Código da Ação">
          </div>
          <div class="col s12 m8">
            <div class="btn" ng-click="add_deed()">Adicionar Ação</div>
          </div>
        </div>
      </div>
    </div>

    <%= content_for :scripts do %>
        <script type="text/javascript" charset="utf-8">
          app.controller('IndicatorFormController',function($scope,$http,$sce)
          {
            $scope.deeds = []
            $scope.deed_code = ""

            $scope.get_deeds = function () {
              $http.get("https://planejamento.monitora.to.gov.br/deeds.json?q[monitora_indicator_eq]=<%= @indicator.id %>&access_token=<%= current_user.token %>" ).then(function success(data) {
                $scope.deeds = data.data;
              });
            };

            $scope.remove_deed = function (id) {
              $http.get("https://planejamento.monitora.to.gov.br/deeds/" +id+ "/set_monitora_indicator?&access_token=<%= current_user.token %>" ).then(function success(data) {
                $scope.get_deeds()
              });
            };

            $scope.add_deed = function () {

              $http.get("https://planejamento.monitora.to.gov.br/deeds.json?q[code_eq]="+ $scope.deed_code+"&access_token=<%= current_user.token %>" ).then(function success(data) {
                if(data.data.length == 0) {
                  swal("Ação Não Encontrado", "Nenhuma ação foi encontrada com o código informado", "error")
                }else{
                  $http.get("https://planejamento.monitora.to.gov.br/deeds/" + data.data[0].id + "/set_monitora_indicator?&access_token=<%= current_user.token %>&indicator=<%= @indicator.id %>" ).then(function success(data) {
                    $scope.get_deeds()
                  });
                }
              });
            };

            $scope.get_deeds()


          });
        </script>
    <% end %>
  <% end %>


    <div class="actions">
      <%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
    </div>
<% end %>
