<div id="profile-card" class="card">
	<div class="card-image waves-effect waves-block waves-light image-fill" style="height:200px">
		<img class="activator" src="/bg-tocantins.jpg" alt="user bg" >
	</div>
	<div class="card-content">
		<div class="card-profile-image" style="top: 160px;">
			<i class="fa fa-5x <%= raw div_desempenho("Probabilidade", 70)[:icon] %>"></i> 
		</div>
		<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
			<i class="mdi-content-add"></i>
		</a>
		<div class="row">
			<div class="col s12 m6">
				<span class="card-title activator grey-text text-darken-4"><br>PDRIS</span>
				<div class="row">
					<%= link_to "Produtos Contratados" , despesa_pdris_path, class:"btn btn-large cyan col s12"  %>
				</div>
			</div>
		</div>
	</div>
	<div class="card-reveal" style="display: none; transform: translateY(0px);">
		<div class="row">
			<div class="col s12 m6">
				<span class="card-title activator grey-text text-darken-4"><br>PDRIS</span>
				<p><i class="mdi-action-autorenew"></i> 
					Status: Em Andamento
				</p>
				<p><i class="mdi-editor-insert-invitation"></i> 
					Previsão de Início: 01/01/2016
				</p>
				<p><i class="mdi-editor-insert-invitation"></i> 
					Previsão de Entrega: 31/12/2018
				</p>
				<p>
					<strong>Orçamento Incial:</strong> USD <%= PdrisObj.total_credito   %>
				</p>
				<p><strong>Empenhado:</strong> USD <%= PdrisObj.total_contratado %></p>
				<p><strong>Liquidado:</strong> USD <%= PdrisObj.total_medido  %></p>
			</div>
			<div class="col s12 m6">
				<div id="piechart" style="width: 100%; height: 300px;"></div>
			</div>
		</div>
		<div class="row">					
			<div class="col s12 m4 row">
				<%= raw div_desempenho2("Executado", PdrisObj.executado) %>
			</div>
			<div class="col s12 m4 row">
				<%= raw div_desempenho2("Contratado", PdrisObj.contratado) %>
			</div>
			<div class="col s12 m4 row">
				<%= raw div_desempenho2("Execução do Contratado", PdrisObj.executado_vs_contratado) %>
			</div>
		</div>
		<div class="row">					
			<%= link_to "Ver mais", pdris_path, class:"btn btn-block btn-large cyan col s12"  %>
		</div>
	</div>
</div>