<h2>Monitora Responde:</h2>
<div class="card-panel red">
	<div class="card-content white-text">
		<span class="card-title">Atenção, estes cálculos são realizados automaticamente pelo sistema e estão em fase de testes. As análises são objetivas e consideram que as entregas impactam diretamente e proporcionalmente no indicador. Muitos fatores subjetivos não são considerados pelo sistema.</span>
	</div>	
</div>

<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Se o fluxo de execução permanecer estável eu atingirei minha próxima meta?</span>
    <div class="row">
      <div class="col s12">
      <% if @indicator.meta_sera_alcancada? != nil %>      	
        Se considerarmos que o impacto da execução atinge diretamente o indicador, é <b> <%= @indicator.meta_sera_alcancada? ? "provável" : "improvável"   %> </b> que a próxima meta seja atingida até <b><%= @indicator.next_goal.date  %></b>.
      <% else %>
      	O monitora ainda não possui dados suficientes para calcular esta resposta
      <% end %>
      </div>
    </div>  
  </div>
</div>

<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Qual a Probabilidade de atingirmos a próxima meta?</span>
    <div class="row">
      <div class="col s12">
        Se considerarmos que o impacto da execução atinge diretamente o indicador, temos <b><%= @indicator.probabilidade %>%</b> de chances de atingirmos a meta.
      </div>
    </div>  
  </div>
</div>

<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">O orçamento disponibilizado para as entregas é compativel com a próxima meta?</span>
    <div class="row">
      <div class="col s12">
        De acordo com os dados atuais, o orçamento é insuficiente para o atingimento da meta. Levando em consideração que as entregas impactem diretamento no indicador, seriam necessários mais R$ 10.000.000,00 no orçamento atual.
      </div>
    </div>  
  </div>
</div>

<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Quanto que eu gasto por cada unidade alcançada no indicador?</span>
    <div class="row">
      <div class="col s12">
        De acordo com os dados atuais, levando em consideração que as entregas impactem diretamento no indicador,o estado gasta R$ 10.000,00 por unidade do indicador.
      </div>
    </div>  
  </div>
</div>