<div id="frame_panel"></div>
<script type="text/javascript" charset="utf-8">
    $("#frame_panel").load("https://planejamento.monitora.to.gov.br/deed_evaluations/<%= params[:deed_id] %>?frame_load=true&access_token=<%= current_user.token %>")
</script>