<div class="row">
  <% @goals.each do |goal|  %>
  <div class="col s12 m4">          
    <div class="card-panel  blue accent-4">
      <h5 class="white-text">
        <%= goal.date  %>
      </h5>
      <span class="white-text">
        <%= goal.value %>
      </span>
    </div>
  </div>
  <% end %>
</div>

<%= paginate(@goals) %>