<div class="row">
  <% @histories.each do |historie|  %>
  <div class="col s12 m4">          
    <div class="card-panel  blue accent-4">
      <h5 class="white-text">
        <%= historie.date  %>
      </h5>
      <span class="white-text">
        <%= historie.value %>
      </span>
    </div>
  </div>
  <% end %>
</div>

<%= paginate(@histories) %>