<%= search_form_for @q do |f| %>


<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div class="row">
        <form class="col s12">
          <h4 class="header2">Pesquisa</h4>
          <div class="row">
            <div class="input-field col s8">
              <i class="mdi-action-account-circle prefix"></i>
              <%= f.text_field :name_or_description_cont %>
              <label for="icon_prefix">Faça sua Pesquisa</label>

            </div>
            <div class="input-field col s4">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light" type="submit" name="action"><i class="mdi-content-send right"></i> Pesquisar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% end if user_signed_in? and !current_user.gestor%>
<div data-step="1" data-intro="Estes são os indicadores listados como prioritários no Anexo IV do PPA 2016 - 2019 do Governo do Tocantins." data-position='left'>
  
<% @indicators.in_groups_of(3, false).each do |group|  %>
<div class="row">
  <% group.each do |indicator|  %>
  <div class="col s12 m4" data-step="7" data-intro="Clicando no Indicador Você poderá obter mais detalhes." data-position='left'>
    <%= link_to indicator do  %>      
    <div class="card-panel  <%= indicator.color || "blue"  %>" data-step="2" data-intro="Este é um indicador por exemplo." data-position='left'>
      <div class="row">        
        <div class="s12 center">
          <i class="<%= indicator.icon  %> fa-4x white-text center"></i>
        </div>
      </div>
      <h5 class="white-text" data-step="3" data-intro="Aqui você verá o nome do Indicador." data-position='left'>
        <%= indicator.name  %>
      </h5>
      <% if indicator.contract %>
        <span class="white <%= indicator.color || "blue" %>-text">Contratualizado</span>
      <% end %>
      <span class="white-text" data-step="4" data-intro="E aqui a Descrição." data-position='left'>
        <%= truncate(indicator.description, length: 100)  %>
      </span>

      <div class="row black-text">
        <div class="col s6">
          <div class="card-panel" data-step="5" data-intro="Aqui você verá o último resultado obtido pelo indicador." data-position='left'>            
            <strong>Resultado:</strong><br>
            <% if indicator.last_data.present? %>
            <%= indicator.last_data.value %> <%= indicator.measure  %>
            <% end %>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel" data-step="6" data-intro="E aqui você pode ver qual a meta que pretendemos alcançar neste ano." data-position='left'>            
            <% if indicator.next_goal.present? %>
            <strong>Meta <%= indicator.next_goal.date.year %>:</strong><br>
            <%= indicator.next_goal.value %> <%= indicator.measure  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>  
  </div>
  <% end %>
</div>
<% end %>
<% if user_signed_in? %>
      <a href="https://planejamento.monitora.to.gov.br/acompanhamento/report" target="_blank">
        <div class="card-panel center">
          <h4 class="header2">Veja o Relatório Geral</h4>
        </div>
      </a>
<% end %>
<%= paginate(@indicators) %>
</div>