<% begin %>
<% if @indicator.meta_sera_alcancada? != nil %>
	responsiveVoice.speak("Segundo meus cálculos, se considerarmos que o impacto da execução atinge diretamente o indicador, é <%= @indicator.meta_sera_alcancada? ? "provável" : "improvável"   %> que a próxima meta seja atingida até <%= @indicator.next_goal.date  %>. Temos <%= @indicator.probabilidade %>% de chances de atingirmos a meta.", "Brazilian Portuguese Female", {rate: 1.5});
	swal({title: "É <%= @indicator.meta_sera_alcancada? ? "provável" : "improvável"   %>. ", text: "Temos <%= @indicator.probabilidade %>% de chances de atingirmos", timer: 10000})
<% else %>
	responsiveVoice.speak("<%= @toauth_fast[:name].split(' ')[0] %> infelizmente ainda é muito cedo para analizar esses dados. Há poucas informações lançadas no sistema, preciso de mais dados para realizar os cálculos corretamente.", "Brazilian Portuguese Female", {rate: 1.5});
	swal("Dados insuficientes para calcular.")
<% end %>
<% rescue %>
	responsiveVoice.speak("Infelizmente uma falha me impede de realizar esta análise no momento.", "Brazilian Portuguese Female", {rate: 1.5});
	swal("Uma falha não permite que eu lhe diga isso.")
<% end %>