<div class="justify">
  <h1>Indrodução</h1>

  <p>
    O presente relatório apresenta os avanços dos Indicadores Prioritários no Estado do Tocantins no período entre 01/01/<%= Date.today.year  %> a <%= Date.today  %>. Para cada Indicador Prioritário serão apresentados os resultados por meio das analises das metas dos indicadores, das entregas e da execução orçamentária.
  </p>
  <p>
    É importante destacar que os dados referentes aos indicadores foram analisados na 1º Etapa das Reuniões de Analise Estratégica, constando apenas os avanços dos indicadores do anexo IV do Plano Plurianual referencia 1016 a 2019.
  </p>
  <p>
    Este relatório é composto pelos seguintes Itens:
  </p>
  <ul style="margin-left:40px;">
    <li>
      <p>
        Analise dos Indicadores Prioritários contendo uma síntese do resultado atual; ligações entre objetivos e indicadores; ligações com iniciativas; potenciais fontes de problemas; pontos de atenção quanto aos resultados apresentados; recomendações sobre o processo; possíveis riscos na execução; recomendações sobre metas ações e projetos;
      </p>
    </li>
    <li>
      <p>
        Tabelas contendo dados sobre a execução orçamentária dos indicadores prioritários com base nas entregas e ações que impactam os impactam diretamente, sendo analisada a execução com base no orçamento autorizado e liquidado;
      </p>
    </li>
    <li>
      <p>
        Percentuais de execução das entregas e tarefas ligadas aos indicadores;
      </p>
    </li>
  </ul>
</div>
<div class="page-break"></div>
<h1 style="color:#fff">Indicadores Prioritários</h1>
<%= wicked_pdf_image_tag "relatorios/indicadores.png", width: "100%"   %>
<div class="page-break"></div>
<% @indicators.each do |indicator|  %>
    <div class="widget">
      <div class="media widget-body">
        <div class="media-body innerLR">
          <h1 class="media-heading text-large text-primary text-center"><%= indicator.name  %></h1>
          <p>
            <%= indicator.description %>
          </p>
          <p>
            <b>Responsável:</b> <%= indicator.gestor.name  %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="widget">
          <div class="bg-primary text-center innerAll">
            <div class="innerTB">
              <div class="text-white h4">Linha de Base</div>
              <div class="strong text-large text-white">
                <i class="fa fa-signal"></i> <%= indicator.referencial  %></sup>
              </div>
              <p><%= indicator.referencial_measure  %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="widget">
          <div class="bg-success text-center innerAll">
            <div class="innerTB">
              <div class="text-white h4">Posição Atual</div>
              <% if indicator.last_data.present? %>
                  <div class="strong text-large text-white">
                    <i class="fa fa-signal"></i> <%= indicator.last_data.value  %></sup>
                  </div>
                  <p><%= indicator.measure  %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="widget">
          <div class="bg-danger text-center innerAll">
            <div class="innerTB">
              <div class="text-white h4">Próxima Meta</div>
              <% if indicator.next_goal.present? %>
                  <div class="strong text-large text-white">
                    <i class="fa fa-signal"></i> <%= indicator.next_goal.value  %></sup>
                  </div>
                  <p><%= indicator.measure  %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if indicator.last_data.present? and indicator.next_goal.present? %>
        <div class="widget innerAll">
          <%= bar_chart([["Próxima Meta", indicator.next_goal.value ], ["Resultado Alcançado", indicator.last_data.value]]) %>
        </div>
    <% end %>
    <div class="page-break"></div>
    <% indicator.planeja_deeds(current_user).each do |deed| %>
        <div class="widget innerAll inner-2x">
          <h2><%= deed[:code] %> - <%= deed[:name] %></h2>
          <% evaluation = deed[:last_evaluation] %>
          <% if evaluation.present? %>
            <b>Última Avaliação:</b> <%= evaluation[:created_at] %>
          <% end %>
        </div>
        <% if evaluation.present? %>
            <%= raw RestClient.get("https://planejamento.monitora.to.gov.br/deed_evaluations/#{evaluation[:id]}/report?frame_load=true&access_token=d53e5024858b0ebdc2bff2a2a05793b4efeb47b12873dabe981c489197536f9c") %>
        <% end %>

        <div class="page-break"></div>
    <% end %>
<% end %>