<%= wicked_pdf_image_tag "relatorios/capa-indicadores.png", width: "100%"   %>
<div class="page-break"></div>
<div class="justify">
  <h1>Indrodução</h1>

  <p>
    O presente relatório apresenta os avanços dos Indicadores Prioritários no Estado do Tocantins no período entre 1º de Janeiro a 31 de março de 2016. Para cada Indicador Prioritário serão apresentados os resultados por meio das analises das metas dos indicadores, das entregas e da execução orçamentária.
  </p>
  <p>
    É importante destacar que os dados referentes aos indicadores foram analisados na 1º Etapa das Reuniões de Analise Estratégica, constando apenas os avanços dos indicadores do anexo IV do Plano Plurianual referencia 1016 a 2019.
  </p>
  <p>
    Este relatório é composto pelos seguintes Itens:
  </p>
  <ul>
    <li>
      <p>
        Analise dos Indicadores Prioritários contendo uma síntese do resultado atual; ligações entre objetivos e indicadores; ligações com iniciativas; potenciais fontes de problemas; pontos de atenção quanto aos resultados apresentados; recomendações sobre o processo; possíveis riscos na execução; recomendações sobre metas ações e projetos;
      </p>
    </li>
    <li>
      <p>
        Tabelas contendo dados sobre a execução orçamentária dos indicadores prioritários com base nas entregas e ações que impactam os impactam diretamente, sendo analisada a execução com base no orçamento autorizado e liquidado;
      </p>
    </li>
    <li>
      <p>
        Percentuais de execução das entregas e tarefas ligadas aos indicadores; 
      </p>
    </li>
  </ul>
</div>
<div class="page-break"></div>
<% @indicators.each do |indicator|  %>
<div class="widget innerAll">
  <h1>
    <%= indicator.name  %>
    <small><%= indicator.description  %></small>
  </h1>
  <p class="lead"><b>Responsável:</b> <%= indicator.gestor.name  %> </p>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="widget">
      <div class="bg-primary text-center innerAll">
        <div class="innerTB">
          <h4 class="innerTB text-white">Linha de Base</h4>
          <div class="strong text-large text-white">
            <i class="fa fa-signal"></i> <%= indicator.referencial  %></sup>
          </div>
          <p><%= indicator.referencial_measure  %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="widget">
      <div class="bg-success text-center innerAll">
        <div class="innerTB">
          <h4 class="innerTB text-white">Posição Atual</h4>
          <% if indicator.last_data.present? %>
          <div class="strong text-large text-white">
            <i class="fa fa-signal"></i> <%= indicator.last_data.value  %></sup>
          </div>
          <p><%= indicator.measure  %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="widget">
      <div class="bg-danger text-center innerAll">
        <div class="innerTB">
          <h4 class="innerTB text-white">Próxima Meta</h4>
          <% if indicator.next_goal.present? %>
          <div class="strong text-large text-white">
            <i class="fa fa-signal"></i> <%= indicator.next_goal.value  %></sup>
          </div>
          <p><%= indicator.measure  %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-break"></div>
<% end %>
<%= line_chart [
  {name: "Series A", data: 10},
  {name: "Series B", data: 20}
] %>