<div class="card <%= @indicator.color || "blue" %>">
	<div class="card-content white-text row">
		<div class="col s12">
			<div class="right">
				<i class="<%= @indicator.icon %> fa-5x"></i>
			</div>
			<h4><%= @indicator.name %></h4>
			
			<%= @indicator.description %> <br>
			Responsável: <%= @indicator_gestor[:name]  %> 
			
		</div>      
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content  indigo white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Linha de Base</p>
				<h4 class="card-stats-number"><%= @indicator.referencial  %> <%= @indicator.referencial_measure  %></h4>
			</div>			
		</div>
		<div class="card">
			<% if @indicator.last_data.blank? %>

			<div class="card-content  green white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Posição Atual da Meta</p>
				<h4 class="card-stats-number">Sem Registro</h4>
			</div>
			<div class="card-action  green darken-2 white-text">
				Referente à <%= DateTime.now.to_date  %>
			</div>
			<% else %>
			<div class="card-content  green white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Posição Atual da Meta</p>
				<h4 class="card-stats-number"><%= @indicator.last_data.value %> <%= @indicator.measure  %></h4>
			</div>
			<div class="card-action  green darken-2 white-text">
				Referente à <%= @indicator.last_data.date  %>
			</div>
			<% end %>
		</div>

		<div class="card">
			<% if @indicator.next_goal.blank? %>
			
			<div class="card-content  red white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Meta</p>
				<h4 class="card-stats-number">Não Definida</h4>
			</div>
			<% else %>
			<div class="card-content  red white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Meta | <%= @indicator.next_goal.date %></p>
				<h4 class="card-stats-number"><%= @indicator.next_goal.value %> <%= @indicator.measure  %></h4>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col m8 s12">
		<div class="card">		
			<div class="card-content">      
				<%= link_to histories_indicator_path(@indicator), class:"black-text" do %>
				<h5>Histórico</h5>
				<% end %>
				<div id="curve_chart" style="width: 110%; height: 410px"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col m6 s12">
		<div class="card">		
			<div class="card-content">      
				<h5>Próximas Metas</h5>
				<div class="row">
					<table>
						<thead>	
							<tr>							
								<th>Quando</th>
								<th>Valor</th>
							</tr>						
						</thead>
						<tbody>
							<% @goals.each do |goal|  %>
							<tr>								
								<td><%= goal.date  %></td>
								<td><%= goal.value  %> <%= @indicator.measure  %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>  
			</div>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card" style="background-image: url('/social.jpg'); background-size: 100% auto;">		
			<div class="card-content center">
				<div class="card" onclick="toggleRedes()">
					<h5>Termômetro das Redes Sociais </h5>
				</div>      
				<div class="center" id="redes_sociais"  style="display:none">
					<% if @indicator.twitter_poll and current_user.gestor %>					
						<%= link_to @indicator.twitter_poll do %>
							<i class="fa <%= div_desempenho3("Rede", @indicator.twitter_poll.good_percent)[:icon]  %>" style="font-size: 8em;">								
							</i> 
						<% end %>
		
					<% else %>
					Não há dados sobre o Assunto neste momento
					<% end %>
				</div>  
			</div>
		</div>
	</div>
</div>
<div class="card-panel blue lighten-4" ng-controller="IndicatorShowController         ">
  <h4 onclick="toogle_div('#planeja')" style="color:#1a237e">Acompanhamento das Ações Orçamentárias <small>Sistema Planeja</small></h4>
  <div id="planeja" style="display:none">
    <div class="row">
        <% @deeds.each do |deed| %>
            <div class="card-panel">
              <h4 class="header2">
                <%= deed[:code] %> - <%= deed[:name] %>
              </h4>
              <% if deed[:last_evaluation].present? %>
                  <a href="/deed_evaluations/<%= deed[:last_evaluation][:id] %>" class="btn">Última Avaliação</a>
              <% end %>
              <a href="/deed_acompanhamento/<%= deed[:id] %>" class="btn teal">Acompanhamento</a>
            </div>
        <% end %>
        <% if @deeds.blank? %>
          <div class="card-panel">
            Nenhuma ação vinvulada
          </div>
        <% end %>
    </div>
  </div>
</div>
<% if @reply.present? %>
<div class="row">
	<div class="col m6 s12">
		<div class="card  blue darken-2">
			<div class="card-content white-text">      
				<h5>Análise do Desempenho</h5>
				<div class="row">
					<div class="col s12">
						<%= @reply.sumary_seplan || @reply.sumary %>
					</div>
				</div>  
			</div>
		</div>
	</div>
	<div class="col m6 s12">
		<div class="card  teal darken-2">
			<div class="card-content white-text">      
				<h5>Recomendações</h5>
				<div class="row">
					<div class="col s12">
						<%=@reply.suggestion_seplan || @reply.suggestion %>
					</div>
				</div>  
			</div>
		</div>
	</div>
</div>
<% end %>
<div class="row">
	<div class="col s12 m6">
		<div id="profile-card" class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="/materialize/images/user-bg.jpg" alt="user bg">
			</div>
			<div class="card-content">
				<img src="<%= @indicator_user[:photo] %>" alt="" class="circle responsive-img activator card-profile-image">
				<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
					<i class="mdi-content-add"></i>
				</a>

				<span class="card-title activator grey-text text-darken-4">Responsável Pelas Informações</span>
				<p><i class="mdi-action-perm-identity"></i> 
					<%= @indicator_user[:secad][:nome].split(' ')[0]  %> <%= @indicator_user[:secad][:nome].split(' ')[1]  %>
				</p>
				<p><i class="mdi-action-assignment-ind"></i> <%= @indicator_user[:secad][:funcao]  %></p>
				<p><i class="mdi-action-perm-phone-msg"></i> <%= @indicator_user[:secad][:telefone]  %></p>

			</div>
			<div class="card-reveal" style="display: none; transform: translateY(0px);">
				<p>
					<span class="card-title grey-text text-darken-4"><%= @indicator_user[:secad][:nome]  %> <i class="mdi-navigation-close right"></i></span>
					<span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= @indicator_user[:secad][:funcao] || @indicator_user[:secad][:cargo] %></span>
				</p>

				<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= @indicator_user[:secad][:telefone]  %></p>
				<p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= @indicator_user[:secad][:email]  %></p>
				<p><%= @indicator_user[:secad][:orgao]  %></p>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div id="profile-card" class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="/materialize/images/user-bg.jpg" alt="user bg">
			</div>
			<div class="card-content">
				<img src="<%= @indicator_gestor[:photo] %>" alt="" class="circle responsive-img activator card-profile-image">
				<a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
					<i class="mdi-content-add"></i>
				</a>

				<span class="card-title activator grey-text text-darken-4">Gestor</span>
				<p><i class="mdi-action-perm-identity"></i> 
					<%= @indicator_gestor[:secad][:nome].split(' ')[0]  %> <%= @indicator_gestor[:secad][:nome].split(' ')[1]  %>
				</p>
				<p><i class="mdi-action-assignment-ind"></i> <%= @indicator_gestor[:secad][:funcao]  %></p>
				<p><i class="mdi-action-perm-phone-msg"></i> <%= @indicator_gestor[:secad][:telefone]  %></p>

			</div>
			<div class="card-reveal" style="display: none; transform: translateY(0px);">
				<p>
					<span class="card-title grey-text text-darken-4"><%= @indicator_gestor[:secad][:nome]  %> <i class="mdi-navigation-close right"></i></span>
					<span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> <%= @indicator_gestor[:secad][:funcao] || @indicator_gestor[:secad][:cargo] %></span>
				</p>

				<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> <%= @indicator_gestor[:secad][:telefone]  %></p>
				<p><i class="mdi-communication-email cyan-text text-darken-2"></i> <%= @indicator_gestor[:secad][:email]  %></p>
				<p><%= @indicator_gestor[:secad][:orgao]  %></p>
			</div>
		</div>
	</div>
</div>


<%= content_for :head do %>
<% if @goals.present? %>
<% next_goal =  @goals.first.value  %>
<% else %>
<% next_goal =  0  %>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Mês', 'Resultado', 'Próxima Meta'],
			<% @histories.sort{|a,b| a.date<=>b.date }.each do |history| %>
			['<%= history.month  %>' , <%= history.value  %> , <%= next_goal  %>],
			<% end %>
			]);

		var options = {
			curveType: 'function',
			legend: { position: 'bottom' },
			lineWidth: 5,
			colors: ['#8bbf61', '#d3362d'],
			series: {
				0: { pointSize: 8 },
				1: { pointSize: 0 },
			},
		};

		var chart = new google.visualization.AreaChart(document.getElementById('curve_chart'));

		chart.draw(data, options);
	}
	<% if @indicator.pdris %>
	google.charts.setOnLoadCallback(piechart);
	function piechart() {

		var data = google.visualization.arrayToDataTable([
			['Dado', 'Valor'],
			['Medido',     <%= PdrisObj.total_medido  %>],
			['Saldo',      <%= PdrisObj.saldo  %>]
			]);

		var options = {
			title: 'PDRIS',
			colors: ['#8bbf61', '#d3362d']
		};

		var pie = new google.visualization.PieChart(document.getElementById('piechart'));

		pie.draw(data, options);
	};
	<% end %>

	
	function budgetchart() {

		var data = google.visualization.arrayToDataTable([
			['Tipo', 'Valor'],
			['Executado',     <%= @indicator.liquidado  %>],
			['Não Executado', <%= @indicator.nao_executado  %>]
			]);

		var options = {
			is3D: true,
			slices: {
				0: { color: '#00796b' },
				1: { color: '#b71c1c' }
			},
			pieSliceText: 'label'
		};

		var budget = new google.visualization.PieChart(document.getElementById('budget_chart'));

		budget.draw(data, options);
	}
</script>
<% end %>
<%= content_for :voice_commands do  %>
,
'vamos atingir a meta': function(number) {
voice_process()
$.get("<%= probabilidade_indicator_path(@indicator) %>")
}
<% end %>

<%= content_for :scripts do  %>
<script type="text/javascript">
	function toggleEntregas() {
		var menu = $('#entregas');
		if (menu.is(":visible")) {
			menu.hide();

		}else{
			menu.show();
		};

	}

	function toggleRedes() {
		var menu = $('#redes_sociais');
		if (menu.is(":visible")) {
			menu.hide();

		}else{
			menu.show();
			<% if @indicator.twitter_poll and current_user.gestor %>
			responsiveVoice.speak("<%= div_desempenho3( @indicator.twitter_poll.name , @indicator.twitter_poll.good_percent)[:social_fala]  %>", "Brazilian Portuguese Female", {rate: 1.5})
			<% else %>
				responsiveVoice.speak("Ainda não consigo monitorar o que as pessoas falam desse indicador nas redes sociais.", "Brazilian Portuguese Female", {rate: 1.5})
			<% end %>
		};

	}

	function toggleExecucao() {
		var menu = $('#budget_chart');
		var alteracoes = $('#alteracoes');
		if (menu.is(":visible")) {
			menu.hide();
			alteracoes.hide();
		}else{
			menu.show();
			alteracoes.show();
			google.charts.setOnLoadCallback(budgetchart);
		};

	}
	function atingir_meta() {
    voice_process()
    $.get("<%= probabilidade_indicator_path(@indicator) %>")
  }
</script>
<% end %>

<%= link_to "Histórico de Ações Realizadas", year_history_indicator_path(@indicator), class:"btn teal" %>