<div class="card <%= @indicator.color || "blue" %>" data-step="1" data-intro="Este é o indicador que foi definido pelo Governador como prioritário para o Governo do Tocantins." data-position='left'>
	<div class="card-content white-text row">
		<div class="col s12">
			<div class="right">
				<i class="<%= @indicator.icon %> fa-5x"></i>
			</div>			
			<h4><%= @indicator.name %></h4>
			<span data-step="2" data-intro="Esta é a pessoa responsável por passar as informações do indicador ao governador." data-position='left'>				
				<%= @indicator.description %> <br>
				Responsável: <%= @indicator_gestor[:name]  %> 
			</span>
			
		</div>      
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<div class="card">
			<div class="card-content  indigo white-text" data-step="3" data-intro="Esta é a linha de Base o valor que norteia nossas metas. O valor apurado quando o indicador foi definido como prioridade" data-position='left'>
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Linha de Base</p>
				<h4 class="card-stats-number"><%= @indicator.referencial  %> <%= @indicator.referencial_measure  %></h4>
			</div>			
		</div>
		<div class="card"data-step="4" data-intro="Este é o valor que diz aonde estamos. Mostra o último dado apurado do indicador, e qual data foi realizada esta apuração." data-position='left'>
			<% if @indicator.last_data.blank? %>

			<div class="card-content  green white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Posição Atual da Meta</p>
				<h4 class="card-stats-number">Sem Registro</h4>
			</div>
			<div class="card-action  green darken-2 white-text">
				Referente à <%= DateTime.now.to_date  %>
			</div>
			<% else %>
			<div class="card-content  green white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Posição Atual da Meta</p>
				<h4 class="card-stats-number"><%= @indicator.last_data.value %> <%= @indicator.measure  %></h4>
			</div>
			<div class="card-action  green darken-2 white-text">
				Referente à <%= @indicator.last_data.date  %>
			</div>
			<% end %>
		</div>

		<div class="card" data-step="5" data-intro="Aqui você vê qual é a próxima meta que desejamos alcançar e qual nossa data limite." data-position='left'>
			<% if @indicator.next_goal.blank? %>
			
			<div class="card-content  red white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Meta</p>
				<h4 class="card-stats-number">Não Definida</h4>
			</div>
			<% else %>
			<div class="card-content  red white-text">
				<p class="card-stats-title"><i class="mdi-action-trending-up"></i> Meta | <%= @indicator.next_goal.date %></p>
				<h4 class="card-stats-number"><%= @indicator.next_goal.value %> <%= @indicator.measure  %></h4>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col m8 s12" data-step="6" data-intro="Este gráfico nos mostra como está nossa evolução e o comparativo em relação a próxima meta. Horizontalmente você analiza o histórico do indicador(verde) e verticalmente você analiza o histórico em comparação à próxima meta que desejamos alcançar." data-position='left'>
		<div class="card">		
			<div class="card-content">      
				<%= link_to histories_indicator_path(@indicator), class:"black-text" do %>
				<h5>Histórico</h5>
				<% end %>
				<div id="curve_chart" style="width: 110%; height: 410px"></div>
			</div>
		</div>
	</div>
</div>
<% if @indicator.pdris and PdrisObj.service_status  %>
<div class="row">
	<div class="col s12 m4 row">
		<%= raw div_desempenho2("PDRIS", PdrisObj.executado) %>
	</div>
	<% @indicator.committals.each do |committal| %>
	<div class="col s12 m4 row">
		<%= raw div_desempenho2(committal , committal.executado_financeiro) %>
	</div>
	<% end %>
</div>
<% end %>
<div class="row">
	<div class="col  s12">
		<div class="card" data-step="7" data-intro="Aqui você tem a relação das próximas metas que desejamos alcançar." data-position='left'>		
			<div class="card-content">      
				<h5>Próximas Metas</h5>
				<div class="row">
					<table>
						<thead>	
							<tr>							
								<th>Quando</th>
								<th>Valor</th>
							</tr>						
						</thead>
						<tbody>
							<% @goals.each do |goal|  %>
							<tr>								
								<td><%= goal.date  %></td>
								<td><%= goal.value  %> <%= @indicator.measure  %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>  
			</div>
		</div>
	</div>
</div>



<%= content_for :head do %>
<% if @goals.present? %>
<% next_goal =  @goals.first.value  %>
<% else %>
<% next_goal =  0  %>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Mês', 'Resultado', 'Próxima Meta'],
			<% @histories.sort{|a,b| a.date<=>b.date }.each do |history| %>
			['<%= history.month  %>' , <%= history.value  %> , <%= next_goal  %>],
			<% end %>
			]);

		var options = {
			curveType: 'function',
			legend: { position: 'bottom' },
			lineWidth: 5,
			colors: ['#8bbf61', '#d3362d'],
			series: {
				0: { pointSize: 8 },
				1: { pointSize: 0 },
			},
		};

		var chart = new google.visualization.AreaChart(document.getElementById('curve_chart'));

		chart.draw(data, options);
	}
	<% if @indicator.pdris %>
	google.charts.setOnLoadCallback(piechart);
	function piechart() {

		var data = google.visualization.arrayToDataTable([
			['Dado', 'Valor'],
			['Medido',     <%= PdrisObj.total_medido  %>],
			['Saldo',      <%= PdrisObj.saldo  %>]
			]);

		var options = {
			title: 'PDRIS',
			colors: ['#8bbf61', '#d3362d']
		};

		var pie = new google.visualization.PieChart(document.getElementById('piechart'));

		pie.draw(data, options);
	};
	<% end %>

	
	function budgetchart() {

		var data = google.visualization.arrayToDataTable([
			['Tipo', 'Valor'],
			['Executado',     <%= @indicator.liquidado  %>],
			['Não Executado', <%= @indicator.nao_executado  %>]
			]);

		var options = {
			is3D: true,
			slices: {
				0: { color: '#00796b' },
				1: { color: '#b71c1c' }
			},
			pieSliceText: 'label'
		};

		var budget = new google.visualization.PieChart(document.getElementById('budget_chart'));

		budget.draw(data, options);
	}
</script>
<% end %>
<%= content_for :voice_commands do  %>
,
'vamos atingir a meta': function(number) {
voice_process()
$.get("<%= probabilidade_indicator_path(@indicator) %>")
}
<% end %>

<%= content_for :scripts do  %>
<script type="text/javascript">
	function toggleEntregas() {
		var menu = $('#entregas');
		if (menu.is(":visible")) {
			menu.hide();

		}else{
			menu.show();
		};

	}


	function toggleExecucao() {
		var menu = $('#budget_chart');
		var alteracoes = $('#alteracoes');
		if (menu.is(":visible")) {
			menu.hide();
			alteracoes.hide();
		}else{
			menu.show();
			alteracoes.show();
			google.charts.setOnLoadCallback(budgetchart);
		};

	}
	function atingir_meta() {
		voice_process()
		$.get("<%= probabilidade_indicator_path(@indicator) %>")
	}

</script>


<% end %>
