<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @goal.indicator %>
</p>

<p>
  <strong>Date:</strong>
  <%= @goal.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @goal.value %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
