/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

th{
    padding:15px 5px !important;
}

.hidden{
    visibility: hidden;
}

.not-show{
    display: none;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    #main{
        padding-left: 0px !important;
    }
    header .brand-logo img{
        width: 152px !important;
        height: auto !important;
    }

    .on-print{
        display: block !important;
    }

    .navbar-fixed{
        display: none !important;
    }
}

.on-print{
    display: none;
}

.blue-bg{
    background: url(/images/blue-bg.png) no-repeat center center;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    header .brand-logo img{
        width: 152px;
    }
}

.padding30{
    padding-left: 15px;
}

@page {
    size: A3;
    margin: 2;
}