<%= content_for :head do %>
	<meta name="format-detection" content="telephone=no">
<% end %>
<div class="row">
	<div class="col s12 s12"data-step="2" data-intro="Aqui você vê o valor total do orçamento do Estado, ou a parte referente aos filtros que você colocar." data-position='left'>

		<div class="card" >
			<div class="card-content green darken-2 white-text">
				<h5>Valor do Orçamento :</h5>		
			</div>
			<div class="card-content  green white-text">
				<h4 class="white-text"><%= number_to_currency(data[:autorizado]) %></h4>
			</div>
		</div>
	</div>

	<div class="col s12 m6"data-step="3" data-intro="Aqui você verá o total deste orçamento que já foi empenhado em valores e percentual. Este valor pode ser considerado como o que o Estado já contratou." data-position='left'>

		<div class="card">
			<div class="card-content red darken-2 white-text" >
				<h5>Empenhado</h5>		
			</div>
			<div class="card-content  red white-text">
				<h4 class="white-text"><%= number_to_currency(data[:empenhado] ) %></h4>
				<h5><%= data[:empenhado_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6"data-step="4" data-intro="Aqui você verá o total deste orçamento que já foi liquidado em valores e percentual. Este valor pode ser considerado como o que o Estado já executou ou realizou." data-position='left'>

		<div class="card">
			<div class="card-content teal darken-2 white-text" >
				<h5>Liquidado</h5>		
			</div>
			<div class="card-content  teal white-text">
				<h4 class="white-text"><%= number_to_currency(data[:liquidado] ) %></h4>
				<h5><%= data[:liquidado_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6"data-step="5" data-intro="Aqui você verá o total deste orçamento que já foi pago em valores e percentual." data-position='left'>

		<div class="card">
			<div class="card-content brown darken-2 white-text" >
				<h5>Pago</h5>		
			</div>
			<div class="card-content  brown white-text">
				<h4 class="white-text"><%= number_to_currency(data[:pago] ) %></h4>
				<h5><%= data[:pago_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6">

		<div class="card">
			<div class="card-content grey lighten-2">
				<h5>Entenda</h5>		
			</div>
			<div class="card-content  ">
				<b>Dados Retirados Diariamente e Automaticamente do Siafem da Secretaria da Fazenda às 8hrs.</b><br>
				<p>Você pode gerar um relatório detalhado através da opção filtrar dados e buscar informações por órgão, grupo de despesas, ações, fontes e modalidade.</p>
			</div>
		</div>
	</div>

</div>