<%= content_for :head do %>
	<meta name="format-detection" content="telephone=no">
<% end %>
<div class="row no-print">
	<div class="col s12 s12">

		<div class="card  gradient-45deg-purple-light-blue">
			<div class="card-content white-text" style="border-bottom: dashed;">
				<h5>Autorizado</h5>		
			</div>
			<div class="card-content white-text">
				<h4 class="white-text"><%= number_to_currency(data[:autorizado]) %></h4>
				<% if params[:q] %>
					<%= data[:autorizado_p]  %> % do Total Autorizado
				<% end %> <br>
				Orçamento Incicial: <%= number_to_currency(data[:orcamento])  %>
			</div>
		</div>
	</div>

	<div class="col s12 m6">

		<div class="card gradient-45deg-purple-light-blue">
			<div class="card-content  darken-2 white-text " style="border-bottom: dashed;">
				<h5>Empenhado</h5>		
			</div>
			<div class="card-content   white-text">
				<h4 class="white-text"><%= number_to_currency(data[:empenhado] ) %></h4>
				<h5><%= data[:empenhado_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6">

		<div class="card  gradient-45deg-purple-light-blue">
			<div class="card-content white-text" style="border-bottom: dashed;">
				<h5>Liquidado</h5>		
			</div>
			<div class="card-content  white-text">
				<h4 class="white-text"><%= number_to_currency(data[:liquidado] ) %></h4>
				<h5><%= data[:liquidado_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6">

		<div class="card  gradient-45deg-purple-light-blue">
			<div class="card-content  white-text" style="border-bottom: dashed;">
				<h5>Pago</h5>		
			</div>
			<div class="card-content   white-text">
				<h4 class="white-text"><%= number_to_currency(data[:pago] ) %></h4>
				<h5><%= data[:pago_p]  %> %</h5>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card  gradient-45deg-purple-light-blue">
			<div class="card-content  white-text" style="border-bottom: dashed;">
				<h5>Saldo</h5>		
			</div>
			<div class="card-content  white-text">
				<h4 class="white-text"><%= number_to_currency(data[:saldo] ) %></h4>
				<h5><%= data[:saldo_p]  %> %</h5>
			</div>
		</div>
	</div>

</div>
<div class="row on-print">
  <div class="col s12 s12">

    <div class="card">
      <div class="card-content green darken-2 white-text">
        <h5>Autorizado</h5>
      </div>
      <div class="card-content  green white-text">
        <h4 class="white-text"><%= number_to_currency(data[:autorizado]) %></h4>
        <% if params[:q] %>
            <%= data[:autorizado_p]  %> % do Orçamento Total
        <% end %>
      </div>
    </div>
  </div>

  <div class="col s6">

    <div class="card">
      <div class="card-content red darken-2 white-text">
        <h5>Empenhado</h5>
      </div>
      <div class="card-content  red white-text">
        <h4 class="white-text"><%= number_to_currency(data[:empenhado] ) %></h4>
        <h5><%= data[:empenhado_p]  %> %</h5>
      </div>
    </div>
  </div>

  <div class="col s6">

    <div class="card">
      <div class="card-content teal darken-2 white-text">
        <h5>Liquidado</h5>
      </div>
      <div class="card-content  teal white-text">
        <h4 class="white-text"><%= number_to_currency(data[:liquidado] ) %></h4>
        <h5><%= data[:liquidado_p]  %> %</h5>
      </div>
    </div>
  </div>

  <div class="col s6">

    <div class="card">
      <div class="card-content brown darken-2 white-text">
        <h5>Pago</h5>
      </div>
      <div class="card-content  brown white-text">
        <h4 class="white-text"><%= number_to_currency(data[:pago] ) %></h4>
        <h5><%= data[:pago_p]  %> %</h5>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card">
      <div class="card-content indigo darken-2 white-text">
        <h5>Saldo</h5>
      </div>
      <div class="card-content  indigo white-text">
        <h4 class="white-text"><%= number_to_currency(data[:saldo] ) %></h4>
        <h5><%= data[:saldo_p]  %> %</h5>
      </div>
    </div>
  </div>

</div>