<%= content_for :head do %>
	<meta name="format-detection" content="telephone=no">
<% end %>
<div class="row">
	<div class="col s12 m6">
		<div class="card gradient-45deg-purple-light-blue">
			<div class="card-content  white-text" style="border-bottom: dashed;" >
				<h5>Previsão Atual</h5>		
			</div>
			<div class="card-content   white-text" data-step="2" data-intro="Este valor é o que a Secretaria da Fazenda prevê arrecadar até o final do ano.." data-position='left'>
				<h4 class="white-text"><%= number_to_currency(data[:atualizado]) %></h4>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card gradient-45deg-purple-light-blue">
			<div class="card-content  white-text" style="border-bottom: dashed;">
			<div class="right" data-step="3" data-intro="Aqui mostra qual o percentual do previsto já arrecadamos. Por exemplo, se o previsto é 100 e arrecadamos 10 aqui será 10%." data-position='left'>
				<h5><%= data[:arrecadado_p]  %>%</h5>
			</div>
				<h5>Arrecadado</h5>		
			</div>
			<div class="card-content   white-text" data-step="4" data-intro="Aqui mostra quanto de receita o Governo já arrecadou, caso você tenha colocado algum filtro esse valor corresponde a soma de todas as receitas que atendem aos requisitos dos filtros indicados." data-position='left'>
				<h4 class="white-text" ><%= number_to_currency(data[:arrecadado]) %></h4>
			</div>
		</div>
	</div>
<% if user_signed_in? %>
	
	<div class="col s12 m6">		
	<% link_to receita_avaliacao_path do %>
		<div class="card">
			<div class="card-content indigo darken-2 white-text">
				<h5>Avaliação</h5>		
			</div>
			<div class="card-content  indigo white-text">
				<h5>Comparação da receita com anos anteriores</h5>
			</div>
		</div>
		<% end %>
	</div>


	<div class="col s12">		
	<% link_to receita_evolution_bi_path do %>
		<div class="card">
			<div class="card-content brown darken-2 white-text">
				<h5>Tendência</h5>		
			</div>
			<div class="card-content  brown white-text">
				<h5>Veja a Evolução e  Tendência da Receita</h5>
			</div>
		</div>
		<% end %>
	</div>

<% end %>
</div>