<iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMzIyM2EyNjUtODNhYS00MWZiLTk0OTctMTE0NDA0NzVkMWJjIiwidCI6IjczYzk5NWZlLTcyYzEtNGQ4Zi1hODczLTM2N2M0YjhhMDAzOSJ9" frameborder="0"></iframe>
<%= content_for :scripts do  %>
<script type="text/javascript">
	toggle_sidebar()
</script>
<% end %>