<%= content_for :head do  %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mês', 'Ano Anterior', 'Tendência', '2016'],
          <% @data.each do |data| %>
            ["<%= @months[data[:mes].to_i] %>",  <%= data[:anterior] %>, <%= data[:expectativa] %>, <%= data[:atual].to_i != 0 ? data[:atual] : "null" %>],
          <% end %>
        ]);

        var options = {
          curveType: 'function',
          legend: { position: 'bottom' },
          interpolateNulls: true,
          is3D: true,
          lineWidth: 5,
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
<% end %>
<div class="card-panel">
    <h4>Evolução e Tendência da Receita</h4>
    <div id="curve_chart" style="width: 100%; height: 500px"></div>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content blue darken-2 white-text">
        <h5>Previsto</h5>   
      </div>
      <div class="card-content  blue white-text">
        <h4 class="white-text"><%= number_to_currency(10161500000) %></h4>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content green darken-2 white-text">
        <h5>Arrecadado</h5>   
      </div>
      <div class="card-content  green white-text">
        <h4 class="white-text"><%= number_to_currency(@data.sum{|a| a[:atual].to_i})  %></h4>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content red darken-2 white-text">
        <h5>Tendência</h5>   
      </div>
      <div class="card-content  red white-text">
        <h4 class="white-text"><%= number_to_currency(@data.sum{|a| a[:expectativa].to_i})  %></h4>
      </div>
    </div>
  </div>
</div>