
<%= form_tag(search_result_bi_path, remote: true, method: :get, id:"form-filter") do %>

<div class="card" style="overflow: visible" data-step="1" data-intro="Você pode clicar aqui e fazer filtros para descobrir detalhadamente as receitas." data-position='left'>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4" onclick="toggle_filter()">Filtrar Dados</span>
		<div id="filter_tag" style="display:none">
			<%= fields_for :q do |f| %>
			<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
				<li>
					<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Receitas</div>
					<div class="collapsible-body light-blue lighten-5">
						<p class="row">

							<%= f.select :id_in, @names, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>			

						</p>
					</div>
				</li>

				<li>
					<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Código começa com:</div>
					<div class="collapsible-body light-blue lighten-5">
						<p class="row">

							<%= f.text_field :code_start %>			

						</p>
					</div>
				</li>

			</ul>
			<% end %>
			<div class="btn cyan" onclick="submit_ajax()">
				Filtrar
			</div>
		</div>
	</div>
</div>
<% end %>

<div id="search_result">
	<%= render partial:'receita_bi', locals:{data:@data} %>
</div>

<%= content_for :scripts do  %>
<script src="/js/js-form.js"></script>
<script type="text/javascript">
	function submit_ajax () {
		$("#form-filter").ajaxSubmit({url: '/powerbi/receita_result', type: 'get'})
	}
	$('.chosen-select_1').chosen().change(function(event) {
		submit_ajax()
	});

	function toggle_filter () {
		var div_tag = $('#filter_tag');
		if (div_tag.is(":visible")) {
			div_tag.hide();    			
		}else{
			div_tag.show();
		};
	}
</script>
<% end %>