<h4 class="center on-print" id="print-title">Monitora Tocantins</h4>
<%= form_tag(search_result_bi_path, remote: true, method: :get, id:"form-filter") do %>
	<% if @public %>
		<%= hidden_field_tag(:public, true) %>
	<% end %>
<div class="card no-print" style="overflow: visible" data-step="1" data-intro="Você pode clicar aqui e isso te permitirá gerar um relatório da execução financeira por fonte, órgão, natureza de despeza, modalidade de despesa e até mesmo ação." data-position='left'>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4" onclick="toggle_filter()">Filtrar Dados</span>
		<div id="filter_tag" style="display:none">
		<%= fields_for :q do |f| %>
		<ul class="collapsible collapsible-accordion " data-collapsible="accordion">
			<li>
				<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Poderes</div>
				<div class="collapsible-body light-blue lighten-5">
          <div style="padding: 10px;">
            <div class="card-panel white-text blue" onclick="select_executivo()">
              Poder Executivo (Governo do Tocantins)
            </div>
            <div class="card-panel white-text blue" onclick="select_legislativo()">
              Poder Legislativo (Assembléia)
            </div>
            <div class="card-panel white-text blue" onclick="select_judiciario()">
              Poder Judiciário (TJ)
            </div>
            <div class="card-panel white-text blue" onclick="select_defensoria()">
              Defensoria Pública
            </div>
            <div class="card-panel white-text blue" onclick="select_mpe()">
              Ministério Público
            </div>
            <div class="card-panel white-text blue" onclick="select_tce()">
              Tribunal de Contas
            </div>
          </div>
				</div>
			</li>
      <li>
				<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Fontes</div>
				<div class="collapsible-body light-blue lighten-5">
					<p class="row">

						<%= f.select :source_id_in, @sources, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>

					</p>
				</div>
			</li>
			<li>
				<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Grupos de Despesas</div>
				<div class="collapsible-body light-blue lighten-5">
					<p class="row">

						<%= f.select :nature_id_in, @natures, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>			

					</p>
				</div>
			</li>
			<li>
				<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Unidades Orçamentárias</div>
				<div class="collapsible-body light-blue lighten-5">
					<p class="row">

						<%= f.select :entity_id_in, @entities, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true, id:"entity_select"} %>

					</p>
				</div>
			</li>
			<li>
				<div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Ações Orçamentárias</div>
				<div class="collapsible-body light-blue lighten-5">
					<p class="row">

						<%= f.select :deed_id_in, @deeds, {multiple: true}, {class:"browser-default chosen-select_1", multiple:true} %>			

					</p>
				</div>
			</li>
      <li>
        <div class="collapsible-header light-blue light-blue-text text-lighten-5"><i class="mdi-communication-business"></i> Imprimir</div>
        <div class="collapsible-body light-blue lighten-5">
          <p class="row">
            <div class="col s8">
              <%= text_field_tag(:printer_title, nil, placeholder:"Insira o Título para Impressão" , id: "title-value") %>
            </div>
            <div class="col s4">
              <div class="btn" onclick="print_title()">Imprimir</div>
            </div>

          </p>
        </div>
      </li>
		</ul>
		<% end %>
		<div class="btn cyan" onclick="submit_ajax()">
			Filtrar
		</div>
		</div>
	</div>
</div>
<% end %>

<div id="search_result">
	<% if @public %>
		<%= render partial:'powerbi/dados_public_bi', locals:{data:@data} %>
	<% else %>		
		<%= render partial:'powerbi/dados_bi', locals:{data:@data} %>
	<% end %>
</div>
<%= content_for :scripts do  %>
<script src="/js/js-form.js"></script>
<script type="text/javascript">
	function submit_ajax () {
		$("#form-filter").ajaxSubmit({url: '/powerbi/search_result', type: 'get'})
	}
	$('.chosen-select_1').chosen().change(function(event) {
    submit_ajax()
	});

	function toggle_filter () {
		var div_tag = $('#filter_tag');
		if (div_tag.is(":visible")) {
			div_tag.hide();    			
		}else{
			div_tag.show();
		};
	}

	function select_executivo() {
    var values = "54,69,75,74,51,76,7,28,33,30,34,67,49,64,50,20,18,58,72,53,37,40,59,61,39,35,8,48,14,3,36,5,65,46,62,45,38,56,44,57,10,9,70,71,2,52,29,32,11,12,73,47,55,41,19,63,60,66,15,43,31,68,17,16,1,42,6,27"
    change_entity(values)
  }

  function select_legislativo() {
    change_entity("4")
  }

  function select_judiciario() {
    change_entity("23,24")
  }

  function select_defensoria() {
    change_entity("13,14")
  }

  function select_mpe() {
    change_entity("25,26")
  }

  function select_tce() {
    change_entity("21,22")
  }

  function change_entity(values) {
    $('#entity_select').val('')
    $.each(values.split(","), function(i,e){
      $("#entity_select option[value='" + e + "']").prop("selected", true);
    });
    $('#entity_select').trigger('chosen:updated');
    $("#form-filter").ajaxSubmit({url: '/powerbi/search_result', type: 'get'})
    toggle_filter()
  }

  function print_title(){
    $("#print-title").html($("#title-value").val())
    window.print();
  }
</script>
<% end %>