<% begin %>
<% if params[:type] == "autorizado" %>
	swal({title: "<%= number_to_currency(@data[:autorizado])%>", text: "Autorizado",  timer: 15000})
	responsiveVoice.speak("Até o momento, temos autorizado <%= number_to_currency(@data[:autorizado])%>. Segundo dados da Secretaria da Fazenda.", "Brazilian Portuguese Female", {rate: 1.2});
<% elsif params[:type] == "saldo" %>
	swal({title:"<%= number_to_currency(@data[:saldo])%>", text:"<%= @data[:saldo_p] %>% ",  timer: 15000})
	responsiveVoice.speak('Nosso saldo é R$ <%= @data[:saldo].to_i %> . Correspondente a <%= @data[:saldo_p] %>% do total autorizado. Segundo dados da Secretaria da Fazenda.', "Brazilian Portuguese Female", {rate: 1.2});
<% else %>
	swal({title:"<%= number_to_currency(@data[params[:type].to_sym])%>", text:'<%= @data["#{params[:type]}_p".to_sym] %>% ' ,  timer: 15000})
	responsiveVoice.speak('Até o momento, temos <%= params[:type] %> R$ <%= @data[params[:type].to_sym].to_i %> . Correspondente a <%= @data["#{params[:type]}_p".to_sym] %>% do total autorizado. Segundo dados da Secretaria da Fazenda.', "Brazilian Portuguese Female", {rate: 1.2});
<% end %>
<% rescue %>
	swal({title:'Desculpe', 'Não consigo me conectar aos dados no momento',  timer: 15000})
	responsiveVoice.speak("Infelizmente uma falha me impede de realizar esta análise no momento.", "Brazilian Portuguese Female", {rate: 1.2});
<% end %>