<% if params[:public] %>
$('#search_result').html("<%= escape_javascript(render partial:'powerbi/dados_public_bi', locals:{data:@data} ) %>")
<% else %>
$('#search_result').html("<%= escape_javascript(render partial:'powerbi/dados_bi', locals:{data:@data} ) %>")
<% end %>