<%= form_for(@indicator_history) do |f| %>
<% if @indicator_history.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@indicator_history.errors.count, "error") %> prohibited this indicator_history from being saved:</h2>

  <ul>
    <% @indicator_history.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Indicador</span>
    <p><%= f.select :indicator_id, @indicators.map{|i|[i.name, i.id] }, {include_blank:true}, {class:"browser-default"} %></p>
  </div>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">      
    <span class="card-title blue-text">Data de Referência</span>
    <div class="row">
      <div class="col s6">
        <%= f.text_field :date, class:"datepicker", placeholder: "Data Inicial"%>
      </div>
    </div>  
  </div>
</div>

<div class="card">
  <div class="card-content">      
    <span class="card-title blue-text">Valor</span>
    <p><%= f.text_field :value %></p>
  </div>
</div>

 <%= button_tag "Salvar", type:"submit", class:"btn waves-effect waves-light  cyan darken-2" %>
<% end %>
