<p id="notice"><%= notice %></p>

<h1>Listing Indicator Histories</h1>

<table>
  <thead>
    <tr>
      <th>Indicator</th>
      <th>Date</th>
      <th>Value</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indicator_histories.each do |indicator_history| %>
      <tr>
        <td><%= indicator_history.indicator %></td>
        <td><%= indicator_history.date %></td>
        <td><%= indicator_history.value %></td>
        <td><%= indicator_history.status %></td>
        <td><%= link_to 'Show', indicator_history %></td>
        <td><%= link_to 'Edit', edit_indicator_history_path(indicator_history) %></td>
        <td><%= link_to 'Destroy', indicator_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indicator history', new_indicator_history_path %>
