<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @indicator_history.indicator %>
</p>

<p>
  <strong>Date:</strong>
  <%= @indicator_history.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @indicator_history.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @indicator_history.status %>
</p>

<%= link_to 'Edit', edit_indicator_history_path(@indicator_history) %> |
<%= link_to 'Back', indicator_histories_path %>
