<%= form_for(@city_link) do |f| %>
  <% if @city_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_link.errors.count, "error") %> prohibited this city_link from being saved:</h2>

      <ul>
      <% @city_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_area :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
