<p id="notice"><%= notice %></p>

<h1>Listing City Links</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_links.each do |city_link| %>
      <tr>
        <td><%= city_link.category %></td>
        <td><%= city_link.link %></td>
        <td><%= link_to 'Show', city_link %></td>
        <td><%= link_to 'Edit', edit_city_link_path(city_link) %></td>
        <td><%= link_to 'Destroy', city_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City link', new_city_link_path %>
