<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @city_link.category %>
</p>

<p>
  <strong>Link:</strong>
  <%= @city_link.link %>
</p>

<%= link_to 'Edit', edit_city_link_path(@city_link) %> |
<%= link_to 'Back', city_links_path %>
