<div id="modal_color" class="modal modal-fixed-footer">
  <div class="modal-content">
  <div class="row">    
  <% ["red darken-1", "pink darken-1", "purple darken-1",  "purple darken-4", "red darken-4", " deep-purple darken-1", "indigo darken-1", "blue darken-3", "light-blue darken-1", "cyan darken-2", "teal darken-2", "green darken-1", "light-green darken-2", "lime darken-2", "yellow darken-4", "amber darken-3", "deep-orange darken-3", "brown darken-1", "grey darken-1"].each do |color| %>
    <div class="col s4 row">
      <a class="col btn waves-effect modal-action modal-close s12 <%= color  %>" onclick="add_color('<%= color %>')">
        Selecionar Esta
      </a>
      <p>&nbsp;</p>
    </div>
  <% end %>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
  </div>
</div>

<%= content_for :scripts do  %>
  <script type="text/javascript">
  function add_color (name) {
    $('#field_color').val(name)
    $('#show_color').html("<a class='waves-effect waves-light btn modal-trigger  "+name+" href='#modal_color'>Alterar Cor</a>")
  }
  </script>
<% end %>