<!-- Floating Action Button -->
<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">

  <% if params[:action] == "show" %>
      <%= link_to "#{current_uri = request.env['PATH_INFO']}/edit", class:"btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow" do  %>
          <i class="material-icons">edit</i>
      <% end %>
  <% end %>
</div>
<!-- Floating Action Button -->