<div id="modal_icon" class="modal modal-fixed-footer">
  <div class="modal-content">
  <div class="row">    
      <% icons.each do |icon|  %>
      <div class="btn col s1 indigo modal-action modal-close" onclick="add_icon('fa-<%= icon[0]  %>')">        
        <i class="fa fa-<%= icon[0]  %>"></i>
      </div>
      <% end %>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
  </div>
</div>

<%= content_for :scripts do  %>
  <script type="text/javascript">
  function add_icon (name) {
    $('#field_icon').val(name)
    $('#show_icon').html("<i class='fa "+name +"'></i>")
  }
  </script>
<% end %>