<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="/" class="brand-logo darken-1">
        <img src="/materialize/images/logo/materialize-logo.png" alt="monitora logo">
        <span class="logo-text hide-on-med-and-down">onitora</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">

    <li>
      <a href="/">
        <span class="nav-text">Página Inicial</span>
      </a>
    </li>

    <li>
      <a href="/home/orcamento">
        <span class="nav-text">Orçamento</span>
      </a>
    </li>

    <li>
      <a href="/home/lrf">
        <span class="nav-text">LRF</span>
      </a>
    </li>

    <li>
      <a href="/home/tocantins_em_numeros">
        <span class="nav-text">Estatísticas</span>
      </a>
    </li>

    <li>
      <a href="/home/informacao">
        <span class="nav-text">Mídia</span>
      </a>
    </li>

  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->