<aside id="left-sidebar-nav" class="no-print">
	<div class="logo-to hide-on-med-and-down">
		<img src="https://barra.to.gov.br/imagens/logo.png">

	</div>
	<ul id="slide-out" class="side-nav fixed leftside-navigation">
		<% if user_signed_in? %>		
		<li class="user-details cyan darken-2">
			<div class="row">

				<div class="col col s4 m4 l4">
					<img src="<%= @toauth_fast[:photo] %>" alt="" class="circle responsive-img valign profile-image">
				</div>
				<div class="col col s8 m8 l8">
					<ul id="profile-dropdown" class="dropdown-content">
						<li><a href="http://toauth.seplan.to.gov.br"><i class="mdi-action-face-unlock"></i> Perfil</a>
						</li>
						<li><a href="<%= destroy_user_session_path  %>" data-method="delete"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
						</li>
					</ul>
					<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="/materialize/#" data-activates="profile-dropdown"><%= @toauth_fast[:name].split(' ')[0] %><i class="mdi-navigation-arrow-drop-down right"></i></a>
					<p class="user-roal"><%= current_user.cpf  %></p>
				</div>
			</div>
		</li>
		<% end %>
		<li class="bold">
			<a href="/" class="waves-effect waves-cyan">
				<i class="mdi-action-history"></i> Início
			</a>
		</li>

		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-assignment"></i> Projetos</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Listar Todos", projects_path  %>
							</li>
							<li>
								<%= link_to "Meus Projetos", my_projects_path  %>
							</li>                                           
							<li>
								<%= link_to "Novo", new_project_path  %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-question-answer"></i> Questionários</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Listar", replies_path  %>
							</li>                                        
							<li>
								<%= link_to "Novo", new_reply_path  %>
							</li>
							<% if can? :create, Question %>
							<li>
								<%= link_to "Perguntas", questions_path  %>
							</li>
							<% end %>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Indicadores</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Listar", indicators_path  %>
							</li>                                        
							<li>
								<%= link_to "Novo Indicador", new_indicator_path  %>
							</li>
							<li>
								<%= link_to "Novo Histórico", new_indicator_history_path  %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-av-my-library-books"></i> Rae</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Listar", raes_path  %>
							</li>                                        
							<li>
								<%= link_to "Novo", new_rae_path  %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-av-web"></i> Painéis</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Orçamento BI", "https://app.powerbi.com/view?r=eyJrIjoiMDZhYTQzNmItNTYyZi00MmU4LTkzNDAtZDIzYmYxMzJhMzk5IiwidCI6ImZhMWNlZmViLTFiNmUtNGJjYy1iZjg0LWNhOGExMWY0ZDAxOSJ9", target: "_blank" %>
							</li>
							<li>
								<%= link_to "Despesas", despesa_menu_path %>
							</li>
							<li>
								<%= link_to "Receita", receita_menu_path %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-maps-rate-review"></i> Estatísticas</a>
					<div class="collapsible-body">
						<ul>
							<% if can? :create, GroupStatistic %>
							<li>
								<%= link_to "Novo Grupo", new_group_statistic_path %>
							</li>
							<li>
								<%= link_to "Nova Estatística", new_statistic_path %>
							</li>
							<% end %>
							<li>
								<%= link_to "Ver Todas", group_statistics_path %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-assignment-returned"></i> Relatórios</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Indicadores", report_indicators_path(format: :pdf)  %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<% if current_user.gestor  %>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-info"></i> Informações</a>
					<div class="collapsible-body">
						<ul>
							<% if can? :create, News %>
							<li>
								<%= link_to "Aprovar", new_group_statistic_path %>
							</li>
							<% end %>
							<li>
								<%= link_to "Imprensa", imprensa_path %>
							</li>
							<li>
								<%= link_to "Redes Sociais", redes_sociais_path %>
							</li>
							<li>
								<%= link_to "Importar Arquivo", new_import_file_path %>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<% end %>
		<% if current_user.seplan? %>
			
		<li class="bold">
			<a href="https://dashboard.tawk.to/login" class="waves-effect waves-cyan">
				<i class="mdi-notification-sms"></i> Chat
			</a>
		</li>
		<% end %>
	</ul>
	<a href="/materialize/#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>

</aside>