<aside id="left-sidebar-nav">
	<ul id="slide-out" class="side-nav fixed leftside-navigation">
		<li class="bold">
			<a href="/" class="waves-effect waves-cyan">
				<i class="mdi-action-history"></i> Início
			</a>
		</li>

		<li class="bold">
			<%= link_to pub_indicadores_path, class:"waves-effect waves-cyan" do %>
				<i class="mdi-editor-insert-chart"></i> Indicadores
			<% end %>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-assignment"></i> Orçamento</a>
					<div class="collapsible-body">
						<ul>
							<li>
								<%= link_to "Receitas", receita_bi_path  %>
							</li>
							<li>
								<%= link_to "Despesas", pub_orcamento_path  %>
							</li>                                           
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="bold">
			<a href="javascript:void(0);" class="waves-effect waves-cyan" onclick="javascript:introJs().start();">
				<i class="mdi-action-help"></i> Ajuda
			</a>
		</li>
	</ul>
	<a href="/materialize/#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>

</aside>