<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="header-search-wrapper hide-on-med-and-down sideNav-lock indigo-text  ">
          Monitora Tocantins - Sala de Situação Virtual
        </div>
        <ul class="right hide-on-med-and-down">

        </ul>

      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->