<header id="header" class="page-topbar">
				<!-- start header nav-->
		<div class="navbar-fixed">
			<nav class="indigo darken-3 hide-on-med-and-down bar-iframe" >				
				<script type="text/javascript" charset="utf-8" src="//barra.to.gov.br/topo.js?k=seplan.to.gov.br"></script>
			</nav>
			<nav class="cyan nav-publico">
				<div class="nav-wrapper">                

					<ul class="left">                      
						<li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1">
						<img src="/monitora.png">
						</a></h1></li>
					</ul>
					<div class="header-search-wrapper hide-on-med-and-down">
					
                    </div>
					<ul class="right hide-on-med-and-down">             
						<li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
						</li>      
						<li><a onclick="toggle_sidebar()" class="waves-effect waves-block waves-light"><i class="mdi-action-input"></i></a>
						</li>            
					</ul>
				</div>
			</nav>
		</div>
		<!-- end header nav-->
	</header>