<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#00bcd4">
  <meta name="apple-mobile-web-app-title" content="Weather App">
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#00bcd4">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Monitora Tocantins - Sistema de Monitoramento de Ações do Estado do Tocantins">
  <meta name="keywords" content="monitora, seplan, ações, governo, tocantins, estado">
  <title>Monitora Tocantins</title>
  <!-- CORE CSS-->    
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet">
  <link href="/materialize/css/style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet">
  <link href="/fontello/css/fontello.css" type="text/css" rel="stylesheet">
  <link href="/fontello/css/fontello-codes.css" type="text/css" rel="stylesheet">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/materialize/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
  <link href="/materialize/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/emoticon-awesome.css">
  <!--Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-animate.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
  <script type="text/javascript" src="/angular/app.module.js"></script>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="/sweetalert/dist/sweetalert.min.js"></script> 
  <link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/chosen/chosen.min.css">
  <script type="text/javascript">
    function toggle_sidebar() {
     var sidebar = $('#left-sidebar-nav');
     var main = $('#main');
     if (sidebar.is(":visible")) {
      sidebar.hide();
      main.css("padding-left","0px");    			
    }else{
      sidebar.show();
      main.css("padding-left","240px"); 
    };

  }
</script>
<style type="text/css">
  .logo-to{
   position:fixed; 
   bottom:10px; 
   left:25px; 
   float:left;
   z-index: 1000;
   background: #fff
 }
 #left-sidebar-nav:hover .logo-to{ 
   display: none;
 }
 .chosen-single{
   background: none !important;
   background-color: rgba(255, 255, 255, 0.9) !important;
   width: 100% !important;
   padding: 5px !important;
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
   height: 3rem !important;
   font-size: 14px !important;
 }
 .chosen-drop{
   border: 1px solid #f2f2f2 !important;
   border-radius: 2px !important;
 }
 .chosen-search{
   width: 95%
 }
</style>
<%= yield :head  %>
</head>
<body ng-app="app">
	
	<!-- Start Page Loading -->

	<!-- End Page Loading -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START HEADER -->
	<%= render 'layouts/topbar' %>
	<!-- END HEADER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">

			<!-- START LEFT SIDEBAR NAV-->
			<%= render 'layouts/left_sidebar' if user_signed_in? %>
			<!-- END LEFT SIDEBAR NAV-->

			<!-- //////////////////////////////////////////////////////////////////////////// -->

			<!-- START CONTENT -->
			<section id="content">

				<!--start container-->
				<div class="container">
					<%= yield  %>
				</section>
				<!-- END CONTENT -->

        <div class="fixed-action-btn" style="bottom: 55px; right: 24px; display:none;" id="audio">
            <a class="btn-floating btn-large red" onclick="toogleMic()" id="mic_on">
              <i class="mdi-av-mic large" style="font-size: 2.5rem;"></i>
            </a>
            <a class="btn-floating btn-large red" onclick="toogleMic()" style="display:none;" id="mic_off">
              <i class="mdi-av-mic-off large" style="font-size: 2.5rem;"></i>
            </a>
          </div>

				<!-- //////////////////////////////////////////////////////////////////////////// -->
				<!-- START RIGHT SIDEBAR NAV-->
				<%= render 'layouts/right_sidebar' %>>
				<!-- LEFT RIGHT SIDEBAR NAV-->

			</div>
			<!-- END WRAPPER -->

		</div>
		<!-- END MAIN -->




		<!-- //////////////////////////////////////////////////////////////////////////// -->

		<!-- START FOOTER -->
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
					Copyright © 2016 <a class="grey-text text-lighten-4" href="http://seplan.to.gov.br" target="_blank">Secretaria de Planejamento e Orçamento</a> 
					<span class="right"> Desenhado e Desenvolvido por <a class="grey-text text-lighten-4" href="#">Gerência de Sistemas da Informação</a></span>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->


    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="/materialize/js/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    

    <!-- chartjs -->
    <script type="text/javascript" src="/materialize/js/plugins/chartjs/chart.min.js"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/sparkline-script.js"></script>
    
    <!-- google map api -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>

    <!--jvectormap-->
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/vectormap-script.js"></script>    

    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/materialize/js/plugins.js"></script>
    <script type="text/javascript" src="/chosen/chosen.jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
    <script src="/imagefill/js/jquery-imagefill.js"></script>    

    <!-- Toast Notification -->
    <% if flash[:notice].present? %>
    <script type="text/javascript">
    	$(window).load(function() {
    		setTimeout(function() {
    			Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
    		}, 1500);
    	});
    </script>
    <% end %>

    <% if flash[:alert].present? %>
    <script type="text/javascript">
    	$(window).load(function() {
    		setTimeout(function() {
    			Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
    		}, 1500);
    	});
    </script>
    <% end %>

    <script type="text/javascript">
    	function toggle_sidebar() {
    		var sidebar = $('#left-sidebar-nav');
    		var main = $('#main');
    		var logo = $('.logo-to')
    		if (sidebar.is(":visible")) {
    			logo.hide()
    			sidebar.hide();
    			main.css("padding-left","0px");    			
    		}else{
    			logo.show()
    			sidebar.show();
    			main.css("padding-left","240px"); 
    		};
    		
    	}
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    	var $_Tawk_API={},$_Tawk_LoadStart=new Date();
    	(function(){
    		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    		s1.async=true;
    		s1.src='https://embed.tawk.to/56e96c68ab6e87da5476ca64/default';
    		s1.charset='UTF-8';
    		s1.setAttribute('crossorigin','*');
    		s0.parentNode.insertBefore(s1,s0);
    	})();
    	<% if user_signed_in? %>
    	$_Tawk_API.visitor = {
    		name  : '<%= @toauth_fast[:name] %>',
    		email : '<%= @toauth_fast[:email]  %>'
    	};
    	<% end %>
    </script>
    <script type="text/javascript">
    	$(".chosen-select").chosen();
    </script>
    <!--End of Tawk.to Script-->
    <script type="text/javascript">
      $('.image-fill').imagefill();
    </script>
    <script src='https://vws.responsivevoice.com/v/e/?key=QuHIpSvB'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.3.0/annyang.min.js"></script>
    <script type="text/javascript">
      if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  var commands = {
    'monitora': function(){
      swal({ title: "Olá, em que posso ajudar?", showConfirmButton: false});    
      responsiveVoice.speak("Oi <%= @toauth_fast[:name].split(' ')[0] %>. O que você deseja?", "Brazilian Portuguese Female")
      setInterval(function(){ swal.close(); }, 5000);
    },
    'racuna matata': function(){
      responsiveVoice.speak("Os seus problemas você deve esquecer, isso é viver. . É aprender, hakuna matata", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'como está': function(){
      responsiveVoice.speak("Melhor Impossível", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'muito obrigado': function(){
      responsiveVoice.speak("Foi um prazer", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'obrigado': function(){
      responsiveVoice.speak("Por nada!", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'eu sou bonito': function(){
      responsiveVoice.speak("É melhor perguntar isso para sua mãe. Certamente a resposta dela é melhor que a minha!", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'o que devo fazer': function(){
      responsiveVoice.speak("Talvez seja um bom dia para monitorar os indicadores.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'vai chover hoje': function(){
      responsiveVoice.speak("Você deve ter me confundido com a moça do tempo do jornal nacional. Que tal me perguntar sobre o orçamento.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'como está o tempo hoje': function(){
      responsiveVoice.speak("Você deve ter me confundido com a moça do tempo do jornal nacional. Que tal me perguntar sobre o orçamento.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'o que é isso': function(){
      responsiveVoice.speak("Isso é o Monitora. Um sistema criado pela secretaria de planejamento e orçamento, para monitorar as ações do governo do tocantins.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'legal': function(){
      responsiveVoice.speak("Também achei.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'quem te criou': function(){
      responsiveVoice.speak("Foi o Lucas, da Secretaria de Planejamento e Orçamento.", "Brazilian Portuguese Female", {rate: 1.1});
    },

    'total pago': function(){
      voice_process()
      $.get("<%= search_bi_path(type: 'pago')  %>")
    },

    'total autorizado': function(){
      voice_process()
      $.get("<%= search_bi_path(type: 'autorizado')  %>")
    },
    'total empenhado': function(){
      voice_process()
      $.get("<%= search_bi_path(type: 'empenhado')  %>")
    },
    'total liquidado': function(){
      voice_process()
      $.get("<%= search_bi_path(type: 'liquidado')  %>")
    },

    'saldo total': function(){
      voice_process()
      $.get("<%= search_bi_path(type: 'saldo')  %>")
    },

    'mostre me o orçamento': function() {
      voice_process()
      window.location.replace("<%= search_bi_path  %>");
    },
    'mostre me os indicadores': indicadores,
    'mostre me a fonte *number': function(number) {
      voice_process()
      window.location.replace("/powerbi/fonte/"+ number);
    }
    <%= yield :voice_commands  %>
  };

  // Add our commands to annyang
  annyang.addCommands(commands);
  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.setLanguage('pt-BR');
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    if (annyang) {
      $("#audio").show()
    }
  }else{
    annyang.start();
  }
}
  function voice_process() {

  	swal({ title: "Um momento...", showConfirmButton: false});
  }

  function ola_gov () {
   responsiveVoice.speak("Boa Tarde Davi; é um prazer auxiliar nesta reunião com o Governador. O que posso fazer por você agora?", "Brazilian Portuguese Female", {rate: 1.1});
  }

  function pois_nao () {
   responsiveVoice.speak("Em que posso ajudar?", "Brazilian Portuguese Female", {rate: 1.1})
  }

  function nao_sei () {
   responsiveVoice.speak("Ainda não me ensinaram isso, mas vou anotar aqui para aprender para próxima reunião.", "Brazilian Portuguese Female", {rate: 1.1})
  }

  function obrigado () {
   responsiveVoice.speak("Foi um prazer, estou à disposição.", "Brazilian Portuguese Female", {rate: 1.1})
  }

  function indicadores(){
    responsiveVoice.speak("Já te mostro!", "Brazilian Portuguese Female", {rate: 1.5, onend: redirect_indicadores})
  }

  function orcamento() {
   responsiveVoice.speak("Com muito prazer!", "Brazilian Portuguese Female", {rate: 1.5, onend: redirect_orcamento})
  }

  function falar(fala) {
   responsiveVoice.speak(fala, "Brazilian Portuguese Female", {rate: 1.1})
  }

  function redirect_indicadores () {
   window.location.replace("<%= indicators_path  %>");
  }

  function redirect_orcamento () {
   window.location.replace("<%= search_bi_path  %>");
  }

  function mostrar_total (param) {
    voice_process()
    $.get("<%= search_bi_path %>?type="+param)
  }
</script>

<%= yield :scripts  %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga_monitora');
  ga_monitora('create', 'UA-80190340-1', 'auto');
  <% if user_signed_in? %>
    ga_monitora('set', 'userId', '<%= current_user.email  %>');
  <% end %>
  ga_monitora('send', 'pageview');

</script>
</body>
</html>