<html lang="pt-br">
<!--================================================================================
Item Name: Materialize - Material Design Admin Template
Version: 4.0
Author: PIXINVENT
Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>Monitora Tocantins</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Favicons-->
  <link rel="icon" href="/icon.png" sizes="192x192">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/icon.png">
  <!-- For Windows Phone -->
  <!-- CORE CSS-->
  <link href="/materialize/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">
  <link href="/materialize/css/themes/semi-dark-menu/style.css" type="text/css" rel="stylesheet">
  <!-- Custome CSS-->
  <link href="/materialize/css/custom/custom.css" type="text/css" rel="stylesheet">
  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
  <link href="/materialize/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
  <link href="/materialize/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/materialize/css/plugins/select2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/emoticon-awesome.css">
  <link rel="stylesheet" href="/chosen/chosen.min.css">
</head>
<body class="layout-semi-dark">
<!-- Start Page Loading -->

<!-- End Page Loading -->
<%= render partial:"layouts/topbar" %>
<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <%= render partial:"layouts/leftsidebar" %>
    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <!-- END CONTENT -->
    <%= render partial:"layouts/floating" %>
    <%= render partial:"layouts/rightsidebar" %>

  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<%= render partial:"layouts/footer" %>

<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="/materialize/vendors/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.select2').select2({ width: '100%' });
        $('select').material_select();
    });

</script>
<!--materialize js-->
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<!--prism-->
<script type="text/javascript" src="/materialize/vendors/prism/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- chartjs -->
<script type="text/javascript" src="/materialize/vendors/chartjs/chart.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/materialize/js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="/materialize/js/custom-script.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.1/sweetalert2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<% if flash[:notice].present? %>
    <script type="text/javascript">
        setTimeout(function() {
            Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
        }, 1500);
    </script>
<% end %>

<% if flash[:alert].present? %>
    <script type="text/javascript">

            setTimeout(function() {
                Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
            }, 1500);
    </script>
<% end %>
<script type="text/javascript" src="/chosen/chosen.jquery.js"></script>
<script type="text/javascript">
    $(".chosen-select").chosen();
</script>
<%= yield :scripts %>
</body>
</html>