<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Monitora Tocantins - SEPLAN</title>
  <%= stylesheet_link_tag "http://toauth.seplan.to.gov.br/mosaicpro/css/admin/module.admin.stylesheet-complete.sidebar_type.no-sidebar.min.css"  %>
  <style type="text/css">
    .center{
      text-align: center
    }
    .wrapword{
      white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
      white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      white-space: pre-wrap;       /* css-3 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
      word-break: break-all;
      white-space: normal;
    }
    div.page-break { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak { page-break-inside: avoid; }
    body{
      background: #fff;
      padding: 25px;
    }

    .justify{
      text-align: justify
    }
    .h4{
      display: block;
      -webkit-margin-before: 1.33em;
      -webkit-margin-after: 1.33em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
    }
  </style>
  <%= wicked_pdf_javascript_include_tag "jquery" %>
  <%= wicked_pdf_javascript_include_tag "Chart.bundle" %>
  <%= wicked_pdf_javascript_include_tag "chartkick" %>
  <%= yield :head  %>
</head>

<body>
 <%= yield  %>
 <script type="text/javascript">
  setTimeout(function() {  
  }, 5000);
</script>
</body>
</html>

