<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%= yield :head_top %>
  <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Monitora - Sistema de Monitoramento de Ações do Estado do Tocantins">
  <meta name="keywords" content="monitora, ações, governo, tocantins, estado, monitoramento, lucas">
  <title>Monitora Tocantins</title>
  <!-- CORE CSS-->    
  <link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="/materialize/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/fontello/css/fontello.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/fontello/css/fontello-codes.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/emoticon-awesome.css">
  <!--Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-animate.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-sanitize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
  <script type="text/javascript" src="/angular/app.module.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="/sweetalert/dist/sweetalert.min.js"></script> 
  <link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="/chosen/chosen.min.css">
  <script type="text/javascript">
    function toggle_sidebar() {
     var sidebar = $('#left-sidebar-nav');
     var main = $('#main');
     if (sidebar.is(":visible")) {
      sidebar.hide();
      main.css("padding-left","0px");    			
    }else{
      sidebar.show();
      main.css("padding-left","240px"); 
    };

  }
</script>
<link href="/materialize/css/publico.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/introjs/introjs.css" rel="stylesheet">
<%= yield :head  %>
</head>
</html>
<body ng-app="app">
		<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START HEADER -->
	<%= render 'layouts/topbar_publico' %>
	<!-- END HEADER -->

	<!-- //////////////////////////////////////////////////////////////////////////// -->

	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">

			<!-- START LEFT SIDEBAR NAV-->
			<%= render 'layouts/left_public' %>
			<!-- END LEFT SIDEBAR NAV-->

			<!-- //////////////////////////////////////////////////////////////////////////// -->

			<!-- START CONTENT -->
			<section id="content">

				<!--start container-->
				<div class="container">
					<%= yield  %>
				</section>
				<!-- END CONTENT -->

				<!-- //////////////////////////////////////////////////////////////////////////// -->
				<!-- START RIGHT SIDEBAR NAV-->
				<%= render 'layouts/right_sidebar' %>>
				<!-- LEFT RIGHT SIDEBAR NAV-->

			</div>
			<!-- END WRAPPER -->

		</div>
		<!-- END MAIN -->




		<!-- //////////////////////////////////////////////////////////////////////////// -->

		<!-- START FOOTER -->
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
					Copyright © 2016 <a class="grey-text text-lighten-4" href="http://seplan.to.gov.br" target="_blank">Secretaria de Planejamento e Orçamento</a> 
					<span class="right"> Desenhado e Desenvolvido por <a class="grey-text text-lighten-4" href="#">Gerência de Sistemas da Informação</a></span>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->


    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="/materialize/js/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    

    <!-- chartjs -->
    <script type="text/javascript" src="/materialize/js/plugins/chartjs/chart.min.js"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/sparkline/sparkline-script.js"></script>
    
    <!-- google map api -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAZnaZBXLqNBRXjd-82km_NO7GUItyKek"></script>

    <!--jvectormap-->
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins/jvectormap/vectormap-script.js"></script>    

    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/materialize/js/plugins.js"></script>
    <script type="text/javascript" src="/chosen/chosen.jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
    <script src="/imagefill/js/jquery-imagefill.js"></script>    
    <!-- Toast Notification -->
    <% if flash[:notice].present? %>
    <script type="text/javascript">
      $(window).load(function() {
        setTimeout(function() {
          Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
        }, 1500);
      });
    </script>
    <% end %>

    <% if flash[:alert].present? %>
    <script type="text/javascript">
      $(window).load(function() {
        setTimeout(function() {
          Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
        }, 1500);
      });
    </script>
    <% end %>

    <script type="text/javascript">
      function toggle_sidebar() {
        var sidebar = $('#left-sidebar-nav');
        var main = $('#main');
        var logo = $('.logo-to')
        if (sidebar.is(":visible")) {
          logo.hide()
          sidebar.hide();
          main.css("padding-left","0px");         
        }else{
          logo.show()
          sidebar.show();
          main.css("padding-left","240px"); 
        };
        
      }
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/56e96c68ab6e87da5476ca64/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
      <% if user_signed_in? %>
      $_Tawk_API.visitor = {
        name  : '<%= @toauth_fast[:name] %>',
        email : '<%= @toauth_fast[:email]  %>'
      };
      <% end %>
    </script>
    <script type="text/javascript">
      $(".chosen-select").chosen();
    </script>
    <!--End of Tawk.to Script-->
    <script type="text/javascript">
      $('.image-fill').imagefill();
    </script>
    <script src='https://vws.responsivevoice.com/v/e/?key=QuHIpSvB'></script>
    <script !src="">
      function falar(fala, event = null) {
        responsiveVoice.speak(fala, "Brazilian Portuguese Female", {rate: 1.1, onend: event})
      }
      function step_1() {
        falar("Olá Daví. Do que você precisa hoje?")
      };

      function step_2() {
        falar(
            "Um momento que vou consultar.",
            function () {
              $.get("<%= search_bi_path(type: 'empenhado')  %>");
            }
        )
      };

      function step_3() {
        falar(
            "Claro, Vou te mostrar como está o orçamento hoje:.",
            function () {
              window.location.replace("/publico/orcamento");
            }
        )
      };
      function step_4() {
        falar(
            "Certo, nós temos 9 indicadores prioritários. Vou te mostrar eles.",
            function () {
              window.location.replace("/publico/indicadores");
            }
        )
      };
      function step_5() {
        falar(
            "Perfeito! Este indicador é muito importante. Vou te mostrar os dados",
            function () {
              window.location.replace("/indicators/5");
            }
        )
      };
      function step_6() {
        falar(
            "O Indicador é Percentual de Obras Hospitalares Concluídas. A meta desse ano é de 40%, sendo que nós já atingimos 30%. Pelos meus cálculos estamos muito bem nesse indicador, a probabilidade de atingirmos a meta em 2019 é de 82%."
        )
      };
      function step_7() {
        falar(
            "Este Indicador é composto pelos projetos: Construção e Ampliaçãod do Hospital Geral de Palmas, Construção e Ampliação do Hospital Geral de Araguaína, e Construção e Ampliação do Hospital Geral de Gurupi."
        )
      };

      function hgp_call() {
        falar(
            "Muito bem, vou te transferir para o Workplace by Facebook.",
            function () {
              window.location.replace("https://tocantins.facebook.com/groups/1031930666937654");
            }
        )
      };


    </script>
<%= yield :scripts  %>
<script type="text/javascript" src="/introjs/intro.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga_monitora');

  ga_monitora('create', 'UA-80190340-1', 'auto');
  ga_monitora('send', 'pageview');

</script>
